[2017-11-09 10:35] shenzhenMirren commented on #2204
system is win 10 1704

[2017-11-09 16:39] vietj commented on #2204
thanks for reporting, can you trace the code and understand why UnixResolverDnsServerAddressStreamProvider is used ?

[2017-11-10 02:49] shenzhenMirren commented on #2204
my system is Windows,but there is a error appear that is  \etc\resolv.conf didn't provide any name servers,
I don't think there is file like \etc\resolv.conf

`
2017-11-10 10:37:35 --> failed to parse /etc/resolv.conf and/or /etc/resolver
---------------------->  at io.netty.util.internal.logging.Slf4JLogger.debug(Slf4JLogger.java:86)
java.lang.IllegalArgumentException: \etc\resolv.conf didn't pro

[2017-11-10 08:09] vietj commented on #2204
I'm rather wondering why UnixResolverDnsServerAddressStreamProvider is used at all given that windows is not an unix system

[2017-11-10 08:13] shenzhenMirren commented on #2204
I have getted used to Windows development

[2017-11-10 08:51] vietj commented on #2204
I'm not saying that :-) , I'm just asking you, if by chance you could debug the source code on your machine to understand why UnixResolverDnsServerAddressStreamProvider is used in your particular case as it does not seem to happen on other windows.

[2017-11-10 10:46] shenzhenMirren commented on #2204
ok thank you

[2017-11-13 10:26] fluagen opened #2205 "How get remote host and port in http sever?"
The context.request().remoteAddress() return is remote ip，but I expect is domain name.

otherwize return the port is not remote http port of the request.

How should I do？

[2017-11-13 11:02] dreamkidd commented on #2204
@shenzhenMirren have u fixed this?
I have got the same problem on win10...
in `io.vertx.core.impl.resolver.DnsResolverProvider.java`:184 Line use the `DnsNameResolverBuilder()` but `DnsNameResolverBuilder` has a method whitch is called `platformDefault()`

this function is not supposed on windows

but i also wonder know to fix this... thanks a lot
@vietj

[2017-11-13 12:28] normanmaurer commented on #2201
Proposed fix https://github.com/netty/netty/pull/7402/

[2017-11-13 12:42] normanmaurer commented on #2204
@vietj @dreamkidd @shenzhenMirren this is a bug in netty: https://github.com/netty/netty/pull/7403

[2017-11-13 14:38] zyclonite commented on #2201
looks good on linux

if setting the timer too high, the IllegalArgumentException is thrown
´´´
java.lang.IllegalArgumentException: days: 109500 (expected: < 1068)

	at io.netty.channel.nio.NioEventLoop.validateScheduled(NioEventLoop.java:833)
	at io.netty.util.concurrent.AbstractScheduledEventExecutor.schedule(AbstractScheduledEventExecutor.java:153)
	at io.vertx.core.impl.VertxImpl$InternalTimerH

[2017-11-13 15:53] dreamkidd commented on #2204
@shenzhenMirren @normanmaurer @vietj
yes,i have figure it out , This does not affect your vertx program.
if you won't to see this log just Increase the log level.
This problem will only appear on the windows.
hope netty could repair this probablem as soon as possible

[2017-11-13 16:07] vietj commented on #2204
thanks @normanmaurer  for the heads-up

[2017-11-13 20:11] zyclonite commented on #2201
shows same consistent behaviour on osx as well

[2017-11-14 02:09] shenzhenMirren commented on #2204
I'm using version 3.4.2 now, but to solve this problem, you can use
`System.setProperty ("vertx.disableDnsResolver", "true");`

If fat-jar is started, `Java -jar xxx.jar -Dvertx.disableDnsResolver=true` can be used

[2017-11-14 14:30] zhhkof opened #2206 "the MulticastReciver doesn't work for Udp under some configurations"
I type the code refer to the web http://vertx.io/docs/vertx-core/java/#_multicast , but when I sent the data buffer to 230.0.0.1 for a test, the MulticastReciver's handler doesn't print the data string.
the Sender class code:
[code]
the Receiver class code:
[code]

[2017-11-14 18:46] vietj commented on #2206
can you run the Vert.x Core DatagramTest on your machine ? specially the testMulticastJoinLeave test

[2017-11-15 04:07] zhhkof commented on #2206
@vietj Thanks for your response，and I have run the the Vert.x Core DatagramTest. testMulticastJoinLeave on my Mac and Win7 machines both.

for win7, jdk1.8_131, when I run the test method with default  hostIp of listen(..) 0.0.0.0, the result was failed. if I change it to 127.0.0.1 will be ok.

for Mac, yesterday I ran the code with jdk1.8_60. today I update it to 1.8_151. When the hostIp of liste

[2017-11-15 17:15] vietj opened #2207 "HTTP/2 connection must wait for the first settings frame before being delivered"
HTTP/2 connection must wait for the first settings frame before being delivered so the max concurrency is known and the client can exceed the number of concurrency streams because they are created with an incorrect max concurrency.

[2017-11-15 17:15] vietj opened #2208 "HttpClient connection pool improvements"
Provide a better implementation of the HttpClient pool: the current pool has a few drawbacks, race conditions , inconsistencies and is tightly coupled to the logic for establishing HTTP connections.

The new pool only retains the logic of managing connections and the HTTP logic has been factored out. The pool is a state machine that reacts to events and tries to progress to satisfy the waiter list

[2017-11-15 21:21] vietj opened #2210 "Verticle deployment failure should undeploy its children verticle"
Motivation: currently a verticle that fails its deployment although it has successfully deployment children verticles does not have its children automatically deployed although its close hooks are called. This force the developer to take care of undeploying explicitely the children verticle in this situation.

Change: when a verticle fails its deployment, the deployed children verticle are undeplo

[2017-11-15 21:22] #2210 closed

[2017-11-15 21:26] vietj commented on #2205
you should do a reverse DNS lookup, you can use `vertx.createDnsClient()` and then use `reverseLookup` on the client

[2017-11-15 21:26] #2205 closed

[2017-11-16 07:47] luxiaoxun commented on #1379
In Vertx.3 try this:
        VertxOptions options = new VertxOptions();
        options.setBlockedThreadCheckInterval(3*60*1000);
        Vertx.vertx(options).deployVerticle()

But actually I don't like this idea.

[2017-11-16 14:46] luengnat commented on #2208
with this, does it mean that it is now safe to share HttpClient across threads?

[2017-11-16 15:47] vietj commented on #2208
it is not recommended for performance reason

the main idea is that it is thread safe, because sometimes when performance does not matter (like writing a unit test), then you can use it from non vertx thread (the junit thread).

when running in vertx, there should be one client per event loop for performance reason.

[2017-11-16 22:56] dmolesUC3 opened #2211 "Why are the CharSequence methods in HttpServerResponse marked @GenIgnore?"
This makes it awkward to use the `io.vertx.core.http.HttpHeaders` constants, which are `CharSequences`, with the generated versions (e.g., `io.vertx.reactivex`).

[2017-11-17 00:57] brian65535 opened #2212 "HttpClient connection leaks when exceptions thrown when receiving inbound messages"
We are observing HttpClient connection leaks due to exceptions in receiving inbound messages in certain conditions.

The leak we are seeing is caused by io.netty.handler.codec.compression.DecompressionException, but there could be other cases that trigger the similar leaking situation.

Some details about the case we are seeing: when a client has `tryUseCompression` set to `true`, and a server ret

[2017-11-17 02:57] Sergey80 opened #2213 "switching to 3.5 - StaticHandlerImpl.isFileExisting"
I have a web-static handler in one of my verticle.
It used to work.

  @Override
    public void start(Future<Void> startFuture) {
        configureHttpServer(startFuture);
        ...

where

 private void configureHttpServer(Future<Void> future) {

        int PORT = config().getInteger("http.port");

        // TODO: for tests
        router.route("/*").handler(StaticHandler.create());

[2017-11-17 03:12] Sergey80 commented on #2213
I did try         router.route("/files/*").handler(StaticHandler.create("webroot")); and then http://localhost:35001/files/index.html - still the same

[2017-11-17 03:28] Sergey80 commented on #2213
I did try

 pathToWebRoot = "src/main/resources/webroot";
            System.out.println("pathToWebRoot: " +pathToWebRoot);

        // TODO: for tests
        router.route("/*").handler(StaticHandler.create(pathToWebRoot));

since I run it from ide, and the webroot is in src folder

same thing

[2017-11-17 07:46] rkbalgi commented on #2199
The issue appears to be an issue with netty in DnsServerAddressStreamProviders which simply returns the Unix resolver irrespective of the platform

[2017-11-17 12:30] vietj commented on #2212
thanks for the reproducer, I will try it

[2017-11-17 13:19] vietj commented on #2212
it seems to happen in Netty,  `HttpContentDecoder` does:

[code]

the `cleanup()` has a side effect to rethrow an exception which prevents to call `super.channelInactive(ctx)`. Imho the exception should be returned by `cleanup()` and eventually rethrown when appropriate.

[2017-11-17 13:19] vietj commented on #2212
cc @normanmaurer any opinion on this ?

[2017-11-17 13:23] normanmaurer commented on #2212
@vietj  +1 ... I will create a patch

[2017-11-17 13:35] vietj commented on #2213
can you open this issue in the vertx-web project instead ?

[2017-11-17 14:01] normanmaurer commented on #2212
@vietj @brian65535 I think this should fix it: https://github.com/netty/netty/pull/7415

Thanks for pinging

[2017-11-17 15:05] chili1k opened #2214 "HttpServer with compression enabled throws ClosedChannelException when "Connection: Close" in header"
Affected version: 3.5.0. 3.4.2 seems ok.

Steps to reproduce:

Code:
[code]

Issue request with "Connection: Close":

[code]

[2017-11-17 15:15] vietj commented on #2214
duplicate of https://github.com/eclipse/vert.x/issues/2184

[2017-11-17 15:15] #2214 closed

[2017-11-17 15:24] vietj commented on #2212
@normanmaurer do you think that is a decent work around until Vert.x can uses your patch:

[code]

[2017-11-17 15:28] normanmaurer commented on #2212
@vietj I think you still would like to ensure you also propergate the exception if `super.channelInactive(...)` throws.

Something like this should work:

[code]

[2017-11-17 15:34] vietj commented on #2212
but the exceptions seems already thrown in the pipeline during service time and the channel becomes inactive because vert.x closed it as reaction to the initial decoder exception

[2017-11-17 15:34] vietj commented on #2212
so it would be duplicate

[2017-11-17 15:35] vietj commented on #2212
but better ssafe (2 exceptions) than sorry (no exception)

[2017-11-17 15:35] vietj commented on #2212
I'll use this work around until we can get the fix

[2017-11-17 16:30] phsmip opened #2215 "HazelcastKubernetesDiscoveryStrategyFactory in vertx-3.5.0"
Hello,

I have just upgraded my application in vertx-3.5.0. Since this upgrade, my application doesn't start anymore and generate this error:
java.lang.ClassNotFoundException: io.vertx.servicediscovery.hazelcast.HazelcastKubernetesDiscoveryStrategyFactory

This class is mentionned in META-INF/services/com.hazelcast.spi.discovery.DiscoveryStrategyFactory in this artifact `<artifactId>vertx-service-

[2017-11-18 04:23] brian65535 commented on #2212
Thanks for making the fixes with lightning speed!

[2017-11-18 11:12] cescoffier commented on #2215
This has been fixed by https://github.com/vert-x3/vertx-service-discovery/pull/74

[2017-11-18 11:12] #2215 closed

[2017-11-18 11:29] vietj commented on #2212
@brian65535 I'll add this workaround in the meantime

[2017-11-18 12:21] cescoffier commented on #2215
If you need an hazelcast cluster, refer to the hazelcast kubernetest documentation (https://github.com/hazelcast/hazelcast-kubernetes)

[2017-11-20 02:25] murphye opened #2216 "vertx run --help incorrect"
In doing vertx run --help, I see this:

`Usage: vertx run [-cp <classpath>] [--cluster] [--cluster-host <host>]
       [--cluster-port <port>] [--conf <config>]  [--ha] [--hagroup <group>]
       [--instances <instances>] [--on-redeploy <cmd>]  [--quorum <q>]
       [--redeploy <includes>] [--redeploy-grace-period <period>]
       [--redeploy-scan-period <period>] [--redeploy-termination-period

[2017-11-20 07:21] cescoffier commented on #2216
The order should not matter. Do you have a reproducer?

[2017-11-20 08:12] b3lowster commented on #2196
I figured out that issue appeared when ws client working through proxy

[2017-11-20 13:58] vietj commented on #2196
can you elaborat how to reproduce it ? the NPE is not normal.

[2017-11-20 17:47] luengnat commented on #2196
`requestHandler` can be null at line 444?

[2017-11-20 19:29] luengnat commented on #2208
The problem is that it's actually making it hard to use it correctly. If you use vert.x as a client, you will see that it's quite painful to do it correctly to make a call from the eventloop. The code will be littered with vertx.runOnContext (which is a bad way to do it anyway). Sometimes, I feel like the right model is to have one default Context per vert.x instance.

[2017-11-20 21:10] b3lowster commented on #2196
I'll try to reproduce this issue tomorrow

[2017-11-20 22:30] vietj commented on #2208
@luengnat can you clarify what is making hard ? it's not clear

[2017-11-21 14:19] murphye commented on #2216
You are right. I must have made some other mistake. Upon testing again, it works. Closing.

P.S. Almost all examples I have seen use -- at the end, but it works both ways.

[2017-11-21 14:19] #2216 closed

[2017-11-21 17:48] draxly commented on #2184
Found this bug report after many hours of trying to find a solution myself, happy to see it addressed already.
My situation (and perhaps someone has a similar setup) was that the health checks for AWS Target Groups (for their Application Load Balancers) as well as Consul health checks stopped working for my HTTP server, which had compression enabled, after updated to Vertx 3.5.0. I had to do some

[2017-11-22 03:31] Sergey80 opened #2217 "Vertx 3.5 Testing RedisClient. Timeout on set."
vertx 3.5

Testing RedisCleint set method that I use in my RedisConfigRepository
Eventually it fails with timeout.
Why?

There is a test:

[code]

There is a code in the RedisConfigRepository

  @Override
    public Completable set(String key, JsonObject jsonObject) {

        return Completable.concatArray(
                redisClient.rxSet(key, jsonObject.toString()),
                redisClient

[2017-11-22 11:58] IljaKroonen opened #2218 "HttpClientResponse executed on the a different context thread when resumed outside of its context"
I am trying to load the body of an HTTP request. However, in the data handler, I need to do stuff that is asynchronous. So I pause the stream at the beginning of the handler, and resume it when I'm done doing my asynchronous stuff.

Pseudocode:

[code]

However, it's not working as I expect it to.

[code]

Typical log:

[code]

Am I getting something wrong? Is it possible my handler gets called ag

[2017-11-22 13:06] vietj commented on #2218
are you doing this outside of the event loop ? is it an HttpClientResponse ?

[2017-11-22 13:24] vietj commented on #2217
is that the right repo for this issue ?

[2017-11-22 14:09] IljaKroonen commented on #2218
I am registering event handlers from some random thread, but the contents of the code I gave you runs inside the vertxRequest.handler callback, so in the eventloop I would think.

vertxResponse is an HttpClientResponse indeed (my IDE only finds one implementation named HttpClientResponseImpl).

[2017-11-22 14:57] IljaKroonen commented on #2218
I have managed to reproduce the issue (not very consistently but after a few runs).

[code]

Log (I have one anomaly around half the time if I run the program on non-debug mode)

[code]

Still not sure if I'm being dumb or not...

Is the kotlin reproduction case enough for you? I can make a pure java repro if you want me to.

[2017-11-22 15:08] vietj commented on #2218
kotlin is fine for me , but I would prefer Java, as other might prefer it.

[2017-11-22 16:15] IljaKroonen commented on #2218
Ok, here is another attempt at showing the behavior.

[code]

On some runs, I get interleaved execution, such as here:

[code]

[2017-11-22 22:28] b3lowster commented on #2196
Hi guys
First of all I'd like to share with you my environment and conditions:
I have an application (vert.x 3.5.0) with websocket server and mobile application which is using following java client https://github.com/TakahikoKawasaki/nv-websocket-client (I don't know what version is)

When mobile application works in ordinary way there are no any problems It can open ws connection but when I run t

[2017-11-22 22:29] b3lowster commented on #2196
my skype is vladimir.ts.il if someone needs more details please feel free to contact me

[2017-11-23 02:19] Sergey80 commented on #2217
https://github.com/vert-x3/vertx-redis-client/issues/95

[2017-11-23 02:19] #2217 closed

[2017-11-23 09:50] b3lowster commented on #2196
I have one more issue regarding sending message via websocket + rxSend

`vertx.eventBus().rxSend(clientSessionId, jsonMessage).subscribe();`

[2017-11-23 16:52] blandger commented on #1321
Hi vertx folks,
I would like to pop up that issue with question related to java code generation.
How can I use UUID as part of ServiceProxy generation? Gradle 4.3.1 is used.

I'm trying to use example from here:
https://github.com/advantageous/vertx-node-ec2-eventbus-example/wiki/Step-5-Using-Vertx-Service-Proxies

e.g. I have DTO as:
@DataObject
public class MyEntityDTO {
  private UUID myEntityI

[2017-11-24 13:16] mystdeim commented on #1923
Buffer json = Json.encodeToBuffer(values);
How to decode it back?

[2017-11-25 07:03] laudylcp opened #2219 "version 3.5.0, The -conf option does not point to an existing file or is not a valid JSON object"
when use io.vertx.core.Launcher, no problem!!!!
but use custom MyLauncher extends io.vertx.core.Launcher, throw exception:
The -conf option does not point to an existing file or is not a valid JSON object.

public class MyLauncher extends io.vertx.core.Launcher {

    public static void main(String[] args) {
        new MyLauncher().dispatch(args);
    }

    @Override
    public void afterConfigP

[2017-11-28 13:17] avasilev opened #2224 "vertx-web-common should not export package io.vertx.ext.web"
A collision appear when using vertx-web and vertx-web-common in OSGI environment.
vertx-web-common should not export the empty io.vertx.ext.web package. Otherwise osgi resolver could resolve wrong package and CLNFE will arise.

[2017-11-28 13:27] #2224 closed

[2017-11-29 06:07] mahesh-subramanian opened #2225 "Lingering verticles after undeploy"
Hi,

We noticed in heapdumps that even after calling `vertx.undeploy`, verticles are not freed from memory because of a GC root
[code]

Because this verticle is being held, none of the associated classes all the way upto the IsolatingClassLoader is being freed up. Since we deploy and undeploy quite often, we are thinking that this will lead to a memory leak

[2017-11-29 12:59] vietj commented on #2225
indeed, good catch

[2017-11-29 12:59] vietj commented on #2225
can you give more details about how this happen ?

[2017-11-29 17:08] mahesh-subramanian commented on #2225
I created a gist of a very basic proof of concept  - https://gist.github.com/mahesh-subramanian/4d1c9f03d0fbb22abb3a577e0df30df9.

[2017-11-29 20:16] vietj commented on #2225
that's a reproducer ?

[2017-11-29 20:19] vietj commented on #2225
can you provide a reproducer ? it seems that the `VertxThread` should be cleaned from this stale `Context` when undeployed

[2017-11-29 20:21] vietj commented on #2219
@cescoffier any idea ?

[2017-11-29 20:27] vietj commented on #2218
I don't understand how you can get 3 runs in the last example and the program only makes a single http client request, can you explain ?

[2017-11-29 20:27] vietj commented on #2213
can you report this issue in vertx-web project ?

[2017-11-29 20:27] #2213 closed

[2017-11-29 20:28] vietj commented on #2211
because this is not a type understood by the code generator, you can access the underlying `HttpHeader` with `getDelegate()` if you need

[2017-11-29 20:28] #2211 closed

[2017-11-29 21:48] dmolesUC3 commented on #2211
Yes, my question is *why* is it not understood by the code generator? What's special about `CharSequence`?

[2017-11-29 21:55] mahesh-subramanian commented on #2225
The gist has the reproducer.. I will try to create a better one @vietj .
The problem is that VertxThread itself is not stopping (a ThreadDump shows that) and hence the `VertxThread.contextClassLoader` (`IsolationClassLoader` for my case) is not getting cleaned up - hence all the classes loaded by the ClassLoader are held in memory.

[2017-11-29 23:18] EmadAlblueshi commented on #2211
Simply because RxJava is considered in code generator like other languages such as Scala, Kotlin ... etc.

[2017-11-30 06:43] vietj commented on #2211
CharSequence could be perhaps supported by the code generator as String to ease other languages, can you open an issue in codegen for this ?

[2017-11-30 08:34] vietj commented on #2206
@zhhkof I'm not able also to make it work on my machine (OSX), but if I do the same in Java I get the same result, so I think it's not Vert.x specific

[2017-11-30 08:47] vietj commented on #2218
ah hum sorry got what the counter was for

[2017-11-30 09:56] vietj commented on #2218
@IljaKroonen this is a valid concern and we are going to fix it in 3.5.1 . However you can solve your issue by wrapping the calling resume in an appropriate runOnContext block, i.e:

[code]

[2017-11-30 10:36] vietj opened #2226 "Use new SniCompletionEvent from Netty"
and try to remove `VertxSniHandler` - see https://github.com/netty/netty/pull/7444

[2017-11-30 16:48] st-h opened #2230 "HTTP/1.x server connection back-pressure management might reorder request body chunks"
As discussed [here](https://groups.google.com/forum/#!topic/vertx/7EPAUv73CtY) previously, starting with vert.x 3.5.0 I was noticing failing integration tests when uploading large (at least a few MB) files. The issue so far only appeared when running against mongo in a docker container or with travis ci. Downgrading to vert.x 3.4.0 seems to fix the issue. This issue does not appear on every build.

[2017-11-30 18:28] vietj commented on #2230
can you make a simple reproducer with vertx core ?

[2017-11-30 18:51] st-h commented on #2230
well, I will try to find time to do so. But the issue currently is, I don't have any idea what the actual cause might be. Could be a vertx dependency. Could be the http implementation. Could be something stream related like a pump or so, or something entirely different. Considering that this only shows up under certain (load) conditions, this might be very difficult to replicate just using vertx c

[2017-11-30 19:01] st-h opened #2231 "3.5.0 NullPointerException"
While running some tests, I randomly came across this exception:

[code]

According to [this](https://groups.google.com/forum/#!topic/vertx/7EPAUv73CtY) discussion this is caused by `that happens when Vert.x is closed and still accepting requests (it cannot process)`

[2017-11-30 20:21] vietj commented on #2230
I will give it a try, it sounds fairly easy to run locally

[2017-11-30 20:41] vietj commented on #2230
with this test it is complicated to determine wether the issue is between the test and the IntegrationTestVerticle or the IntegrationTestVerticle and Mongo. I've tried to reproduce it using Mongo on my machine but after many runs (300) it never happens.

Can you try with this branch https://github.com/vietj/vert.x/tree/http-improvements-more ? it fixes the race issue that is observed when using `H

[2017-11-30 20:43] vietj commented on #2218
can you try this branch ?  https://github.com/vietj/vert.x/tree/http-improvements-more

[2017-12-01 07:41] MazizEsa commented on #2196
Might be a bug. Using 3.5.0. Create stomp webserver via websocket as in example http://vertx.io/docs/vertx-stomp/java/#_using_the_stomp_server_with_web_sockets. Try running it and the NPE will be displayed. Understandable since stomp server is not using requestHandler and is using websockethandler.

[2017-12-01 18:25] chronodm commented on #2211
I don't think I understand the situation well enough to open an issue. Why is `CharSequence` a problem for other JVM languages? It's been part of the Java standard library since version 1.4.

[2017-12-01 20:36] vietj commented on #2211
codegen defines a specific set of types exposed by the supported languages, String is one of them but not CharSequence. Which methods are you referring to precisely ?

[2017-12-02 00:27] chronodm commented on #2211
E.g. [HttpServerResponse.putHeader(CharSequence, CharSequence)](http://vertx.io/docs/apidocs/io/vertx/core/http/HttpServerResponse.html#putHeader-java.lang.CharSequence-java.lang.CharSequence-). You can't pass an [HttpHeaders](http://vertx.io/docs/apidocs/io/vertx/core/http/HttpHeaders.html) constant in as the header name, because those constants are all `CharSequence`.

`CharSequence` should be s

[2017-12-02 00:28] chronodm commented on #2211
(Note: I'm perfectly willing to believe there's a valid reason for doing things this way, I'm just not seeing it yet.)

[2017-12-02 07:31] vietj commented on #2211
the reason of these methods is that they are optimized CharSequence implementations that are not String and provide better performances.

CharSequence is supported on these languages, the vertx codegen project that code generate the vertx api for these languages does not support it, so the method with CharSequence type are not exposed in RxJava, JS,Ruby and Scala.

In Groovy and Kotlin, they can b

[2017-12-02 15:32] st-h commented on #2230
Thank you for checking. I know this is madness with that many things involved...
I replaced vertx-core with the one build from the mentioned branch and I wasn't able replicate the issue so far. Usually it takes me about a max of 5 builds and I get a failing one. When will this be released? I would like to make sure this works with travis ci as well. But so far this is good news!
btw... did you run

[2017-12-04 08:02] IljaKroonen commented on #2218
I got some compile errors in that branch.

[code]

[2017-12-04 08:52] cescoffier commented on #2219
Investigating.

[2017-12-04 09:32] cescoffier commented on #2219
@laudylcp which IDE are you using? Can you give me more details about your "run".

I've tried:

[code]

and it's working.

I've also tried in my IDE (attached a screenshot of the configuration), and it's also working.

![blank](https://user-images.githubusercontent.com/402301/33545392-5d2bae50-d8de-11e7-9fe4-aa4466b54971.png)

[2017-12-04 09:34] vietj commented on #2218
the netty version seems different, what does give you : "mvn dependency:tree" ?

[2017-12-04 12:40] IljaKroonen commented on #2218
[code]

[2017-12-04 14:16] gsson commented on #1842
I had an application level need to detect and respond to timeouts (ultimately closing the connection).

I ran into this exact issue, and my expectation would be that `reset()` would either clean up any resources associated with this request (such as wait queue entries) or indicate a failure to do so.

Using `setIdleTimeout` didn't quite do it since it throws a very generic `VertxException` with a

[2017-12-05 02:04] laudylcp commented on #2219
@cescoffier Thanks for your reply.
I'm using IntelliJ IDEA version:2017.2.4.

MyLauncher.java:
![image](https://user-images.githubusercontent.com/23287431/33586174-ef3ac7f8-d9a2-11e7-81df-a235295f2907.png)
MainVerticle.java:
![image](https://user-images.githubusercontent.com/23287431/33586199-0c3a67e6-d9a3-11e7-956f-001015f70302.png)
Run/Debug Configurations:
![image](https://user-images.githubuse

[2017-12-05 02:31] laudylcp commented on #2219
@cescoffier I looked source code  of getConfiguration() method, It looks like can't find config file.
screenshot is below:
![image](https://user-images.githubusercontent.com/23287431/33587075-614e0356-d9a7-11e7-8289-8c93689fe3ec.png)

[2017-12-05 02:55] MazizEsa commented on #1783
Not yet merge to master?

[2017-12-05 09:33] cescoffier commented on #2219
Your config file seems to be in src/main/resources, while you point to ./config.json. Did you try changing the path to src/main/resources/config.json?

[2017-12-05 09:48] laudylcp commented on #2219
@cescoffier Thanks, After I changing the path to src/main/resources/config.json, The problem is no longer recurring.
![image](https://user-images.githubusercontent.com/23287431/33600515-66d738aa-d9e4-11e7-9d3b-9a5a49adcc95.png)
Thanks again!!

[2017-12-05 09:48] #2219 closed

[2017-12-05 10:01] vietj commented on #1783
it needs some rework but it could eventually be

[2017-12-05 10:03] vietj commented on #2218
can you try this branch again ? I've made some edits, it's weird you cannot build it. must be a maven issue

[2017-12-05 10:06] MazizEsa commented on #1783
@vietj Another thing, is there anyway as a workaround to achieve this so far? @emmanuelidi too.

[2017-12-05 10:07] vietj commented on #1842
@gsson can you provide a small snippet of code that shows you use case ? (or even a reproducer).

the actual `reset()` for HTTP/1 is flaky and I would like to improve it.

[2017-12-05 10:47] vietj commented on #1783
what is your use case ?

[2017-12-05 10:51] MazizEsa commented on #1783
I have a case where when the message passby to the event bus, it must be validated and checked before being published to other subscriber. After an approval process, we will publish those message to the subscribers.

[2017-12-05 11:00] vietj commented on #1783
in your case I think you should create a MessageProducer that wraps the EventBus MessageProducer and performs this validation.

[2017-12-05 11:13] MazizEsa commented on #1783
Just to clarify, will this work if the message comes from bridged sockjs server? We plan to intercept and stop it from publishing when the message come in.

[2017-12-05 14:26] vietj commented on #1783
yes I think it should

[2017-12-05 14:45] vietj opened #2232 "DNSClient should send datagram requests with recursion desired flag set"
Currently the `DNSClient` send datagram requests with the flag `recursionDesired` set to false, which fails to provide a correct response when the DNS server could make a recursive query.

[2017-12-05 14:45] #2232 closed

[2017-12-05 16:15] gsson commented on #1842
It's not pretty, and you have to manually kill it, but it consistently gives me 1-2 `ConnectionPoolTooBusyException` per run; https://gist.github.com/gsson/ac6f8ad3c37dbb4544601f4e3c3b6edf

Output is something like:
[code]

[2017-12-05 19:46] vietj commented on #1842
I will give it a spin

[2017-12-06 12:02] SELLAM commented on #2199
you can use: Java -jar xxx.jar -Dvertx.disableDnsResolver=true

[2017-12-06 20:24] #2207 closed

[2017-12-06 20:24] #2208 closed

[2017-12-06 20:24] #2212 closed

[2017-12-06 20:24] #2218 closed

[2017-12-06 20:29] vietj commented on #2230
@st-h I'm glad it fixes it, I'm suspecting this issue https://github.com/eclipse/vert.x/issues/2218 .

I've merged it in master, can you have a check with vertx 3.5.1-SNAPSHOT ?

we aim to release 3.5.1 early 2017.

[2017-12-06 20:30] vietj commented on #2230
I will close this issue for now.

[2017-12-06 20:32] vietj commented on #2231
can you tell how to reproduce this issue ?

[2017-12-06 20:33] #2195 closed

[2017-12-06 20:34] vietj commented on #2200
you can get tracing with http://vertx.io/docs/vertx-core/java/#logging_network_activity

[2017-12-06 20:34] #2200 closed

[2017-12-06 20:34] #2183 closed

[2017-12-06 20:35] vietj commented on #2179
ping @johnoliver

[2017-12-06 20:37] vietj commented on #2151
the code of `ClientConnection` has been reworked in master (with proper notion of stream), so I'm going to close this issue for now unless we can observe

[2017-12-06 20:37] #2151 closed

[2017-12-06 20:39] st-h commented on #2231
Sorry, not really. They just appeared a few times when I was trying to reproduce those weird race conditions when testing #2230 . I just mentioned this over in the google thread as I thought this might be helpful with the issue.

[2017-12-06 23:10] vietj opened #2233 "Only automatically set content-length header on HTTP/2 HttpServerResponse when headers haven't been sent"
currently doing:

[code]

sets the `content-length=3` header on the response (which is not sent)

but that's incorrect

[2017-12-06 23:12] #2181 closed

[2017-12-06 23:12] #2233 closed

[2017-12-07 04:27] rkbalgi commented on #2199
Thanks. That did appear to get rid of the errors at the moment.

[2017-12-07 07:20] vietj commented on #2199
duplicate of https://github.com/eclipse/vert.x/issues/2204

[2017-12-07 13:29] ctron opened #2234 "NetServer#close completion handler is not called when the actual server failed"
The method `io.vertx.core.net.NetServer.close(Handler<AsyncResult<Void>>)` is supposed to call back to the completion handler, however this is not always the case:

My expectation on the code below would be that the `completionHandler` of `deployVerticle` gets called in any case. However it doesn't get called at all.

This is due to the fact that the `DeploymentManager` does run code using `contex

[2017-12-07 15:46] #2234 closed

[2017-12-08 00:22] rmtmckenzie commented on #2031
FYI, I'm using vert.x 3.5.0 and still running into the issue on a GKE cluster. The workaround still works but it was annoying to diagnose.

[2017-12-08 08:15] vietj commented on #2031
@rmtmckenzie do you know if that's the a netty issue or provide more context about it ?

[2017-12-08 18:11] rmtmckenzie commented on #2031
Hi @vietj - thanks for the response. It appears to be the same netty issue previously reported to them - it isn't able to resolve a DNS name with the error "failed to resolve '...' after 3 queries", although it was reporting it was looking up the dns + google.internal  (i.e. facebook.com.google.internal). Switching to the java dns resolver solves the issue for now.

The resolv.conf in the containe

[2017-12-10 22:28] st-h commented on #2230
Unfortunately this still fails with vertx 3.5.1-SNAPSHOT as seen [here](https://travis-ci.org/st-h/vertx-mongo-streams/branches). The 1.3.0 branch uses vert.x `3.4.0` whereas the vertx-3.5.x branch currently loads `3.5.1-SNAPSHOT`. vertx `3.4.0` constantly works fine, while  `3.5.x` easily leads to failed tests when run against a docker container. Easy fix for us would be to just stay with vertx 3

[2017-12-11 07:11] vietj commented on #2230
@st-h right, I reopen the issue, it would be awesome if you can find what is going on.

my advice also is that your current tests, tests 2 things: JUnit -> Verticle -> Mongo

we need to consider two cases here:

- JUnit -> Verticle  (uses Vert.x client and server)
- Verticle -> Mongo (uses Vert.x client only)

to isolate if the issue comes from `HttpClient` or `HttpServer`

can you take care of th

[2017-12-11 11:34] tsegismont commented on #2191
I would rather not expose the `FakeClusterManager`. The problem here is that `getClusterWideMap` should return a "local async map" when Vert.x is not clustered. If you take a look at locks and counters, there is no distinction between local/cluster. We should do the same for `AsyncMap`.

[2017-12-11 11:39] tsegismont commented on #2191
See #2137

[2017-12-11 14:32] st-h commented on #2230
@vietj thank you and I got some more information:

- First I refactored all tests to java to make sure this is not related to any changes made in vert.x 3.4.0 or 3.5 to the groovy implementations (not sure what has been done exactly when behind the scenes, but that was when the migration notes appeared). However, this did not make any difference at all.
- Then I modified the WriteStream implementa

[2017-12-12 13:26] st-h commented on #2230
I made a journey through history today. Within the limit ways of testing this issue currently leaves I found that the first commit where I was able to reproduce the error is `162e5cf0511ca69a9c168b251f6ce537e7a10173` `Try to simplify the queuing check with a cache of the queuing condition` . I was not able to reproduce the issue with the three commits made earlier like `b484db818d3aa6eeaa8c3ca7053

[2017-12-12 13:50] st-h commented on #2230
Oh btw, I found that if using a more performant machine when running the test it helps to increase the size of the uploaded file in the integration test to more often expose the issue like so:
[code]

[2017-12-13 01:55] MazizEsa opened #2236 "Clustered Eventbus with dynamic port assignment"
Hi all.

Is there any mechanism that vertx can handle when used in aws ECS if you decided to make the port mapping of the host port to be dynamic?

This is a must in order for the ECS service to be scalable.

[2017-12-13 08:37] vertxjava opened #2237 "About Metrics using Dropwizard"
Can I monitor the status of my cluster using "Metrics using Dropwizard"?

[2017-12-13 08:53] vietj commented on #2237
yes : http://vertx.io/docs/vertx-dropwizard-metrics/java/

[2017-12-13 08:53] #2237 closed

[2017-12-13 09:02] vietj commented on #2237
I think you should look more at how to do that from the Dropwizard Metrics side and report to a shared store

[2017-12-13 09:08] vertxjava commented on #2237
Thanks!

[2017-12-13 23:22] deshrajsingh commented on #2139
@anawu2006 just make sure the vertx-jdbc-client dependency version and other vertx dependencies versions are same. and if doesn't work try 3.5.0 version of dependencies.

[2017-12-14 06:20] vertxjava opened #2238 "About kafka client."
When I use vert.x kafka client,I can't send messages to Kafka, the code is as follows:
`Map<String, String> config = new HashMap<>();`
`config.put("bootstrap.servers", "192.168.237.128:9092,192.168.237.128:9093");`
`config.put("key.serializer", "org.apache.kafka.common.serialization.StringSerializer");`
`config.put("value.serializer", "org.apache.kafka.common.serialization.StringSerializer");`
`co

[2017-12-14 09:01] tsegismont commented on #2238
Please report your issue to https://github.com/vert-x3/vertx-kafka-client and include any other relevant info like error in the console.

[2017-12-14 09:01] #2238 closed

[2017-12-14 12:19] ieugen commented on #2031
I'm on vertx 3.5.0 and we still get DNS failed inside kubernetes cluster. nslookup works fine we will see what we can do.

[2017-12-15 08:08] seanf commented on #2191
Thanks @tsegismont. The local AsyncMap in #2137 covers my use case perfectly well.

[2017-12-15 08:08] #2191 closed

[2017-12-15 08:55] vietj opened #2239 "Provide a default configuration of the DNSClient that uses the same DNS server address than the async hostname resolver"

[2017-12-15 10:28] tsegismont commented on #2236
The clustered event bus port is assigned randomly by default.

Please use the Vert.x user forum for questions (see http://vertx.io/community)

[2017-12-15 10:28] #2236 closed

[2017-12-15 14:52] Sammers21 commented on #2226
Hi, I m interested in working on the issue. Can you point me out?

[2017-12-15 15:34] vietj commented on #2226
look at `VertxSniHandler#replaceHandler` method, the idea is to use instead the event fired to obtain the hostname rather than the current override of `replaceHandler` to set the `VertxSniHandler.SERVER_NAME_ATTR` on the channel.

[2017-12-15 15:40] vietj commented on #2226
keep in mind this requires a later version than the actual netty version

[2017-12-15 15:40] vietj commented on #2239
@Sammers21 are you interested by this quick-win ?

[2017-12-15 18:08] Sammers21 commented on #2239
@vietj , yes, sure

[2017-12-18 02:41] njleonzhang opened #2243 "add methods for byte arrays to rx lib"
according to this [thread](https://groups.google.com/forum/#!topic/vertx/AhRW62sOAu0), methods for byte arrays are lacked in rx library. This cause lots of migration effort. Any plan to add this lost methods?

[2017-12-18 08:59] vietj commented on #2243
can you open this rather in the https://github.com/vert-x3/vertx-rx repository and attach examples ?

[2017-12-18 10:20] anuger opened #2245 "how much memory is being used when i open a new verticle?"
In a project, I started four verticle, is it normal to used 680+M memory?

[2017-12-18 10:23] vietj commented on #2245
@anuger tell us more about your verticles

[2017-12-18 13:51] anuger commented on #2245
@vietj
one for static resource,one for timer,others for restful api

[2017-12-18 17:28] vietj commented on #2245
that seems unusually wrong, can you make an HEAP histogram using https://docs.oracle.com/javase/8/docs/technotes/guides/troubleshoot/tooldescr014.html 2.14.2 and post the result here ?

[2017-12-19 01:49] anuger commented on #2245
The reason seems to be that I used the cluster，thx @vietj

[2017-12-19 07:24] vertxjava opened #2246 "About Service Discovery ,I think there is a bug."
In the following source,the findAny () method returns the first element of the set forever, unable to achieve the load balance.
![image](https://user-images.githubusercontent.com/26713596/34145350-9d5c3320-e4d0-11e7-9f07-59c0467ab75b.png)

Do you need to achieve your own load balancing?

[2017-12-19 08:08] cescoffier commented on #2246
Hi,

Because load-balancing is often managed by the underlying service infrastructure (for example Kubernetes), it is not managed at the moment in the service discovery. There is an issue for this and we plan to add this feature soon.You spotted where things are going to change, instead of findAny, it will iterate “randomly” over the set of service.

Clement

[2017-12-19 08:46] vietj commented on #2245
@anuger even for cluster usage it seems unusual

[2017-12-19 09:41] ensirius opened #2247 "JsonObject as payload in class"
I have a class that can have additional payload field as `JsonObject`. When i try decode my class i am getting `DecodeException`. I can avoid this if field are simple `Object` and my getter return payload like ```new JsonObject((Map<String, Object>) payload)```.  `JsonObject` misses deserializer. Are that intended behavior?

[2017-12-19 21:02] gsson commented on #1842
@vietj: Getting it to work?

[2017-12-20 01:47] arr-ee commented on #1321
@pmlopes that’s interesting since https://github.com/vert-x3/vertx-jdbc-client/pull/49 exists. Right now, it’s possible to _read_ uuids from pg, but not write them _if_ pg column has a type of `json`.

https://tools.ietf.org/html/rfc4122#page-29, along with https://docs.oracle.com/javase/8/docs/api/java/util/UUID.html#toString-- and http://www.ossp.org/pkg/lib/uuid/ list textual representation of

[2017-12-20 03:12] anuger commented on #2245
@vietj yes, When I restart the service, the memory is only occupied more than 100 M.However, with the increase in the number of requests, memory usage more and more until 600M,request just return the result of a sql.Because of this?
[code]

[2017-12-20 07:32] vietj commented on #2245
have you inspected your heap ?

[2017-12-20 08:10] anuger commented on #2245
this is the result about 'jmap - histo'
[histo.txt](https://github.com/eclipse/vert.x/files/1574663/histo.txt)

[2017-12-20 08:55] pmlopes commented on #1321
@arr-ee I think it should be OK to have helpers to convert from non-json types to standard serialization, as we do have for `Instant` and `byte[]` so I guess adding such an encoder for `UUID` could be acceptable **but** the internal representation has to be a `String` since once we need to encode the object to send over the wire (either the eventbus or other format) we would break the `JSON` forma

[2017-12-20 10:27] stijena opened #2248 "Wrong parameter name in PortBuilder"
I'm referring to the _securityGroup(String groupName)_ method in the org.openstack4j.model.network.builder.PortBuilder interface (and subsequently to the only implementing class org.openstack4j.openstack.networking.domain.NeutronPort).

The only parameter is String _groupName_ and this is incorrect and misleading because the underlying OpenStack REST requires security group ID, as is seen in the f

[2017-12-20 10:30] #2248 closed

[2017-12-20 10:39] tsegismont commented on #2247
Can you provide a small reproducer to illustrate the problem? Thank you

[2017-12-20 19:17] ensirius commented on #2247
[code]

[code]

[2017-12-20 22:29] tsegismont commented on #2247
Ha I see. Yes you need such a deserializer and also annotate the `payload` field with `@JsonDeserialize`

[2017-12-20 22:29] #2247 closed

[2017-12-21 19:20] ViToni commented on #2206
@zhhkof The behaviour for MacOS X might be due the default (non-)routing of multicast. Might want to try this and then check again:
http://www.thomasqvarnstrom.com/2015/06/multicasting-routing-on-mac.html

[2017-12-21 22:23] vietj commented on #2206
@zhhkof thanks for the info

[2017-12-21 23:14] ejatx231 commented on #2206
So bank in at my account bank...

On Dec 22, 2017 6:23 AM, "Julien Viet" <notifications@github.com> wrote:

@zhhkof <https://github.com/zhhkof> thanks for the info

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/eclipse/vert.x/issues/2206#issuecomment-353472821>, or mute
the thread
<https://github.com/notifica

[2017-12-22 05:52] #2245 closed

[2017-12-22 09:33] vietj commented on #2246
I'm going to close this issue as it seems realted to Service Discovery, please reopen if needed in the corresponding project.

[2017-12-22 09:34] vietj commented on #2243
closing this as it's the wrong repo.

[2017-12-22 09:34] #2243 closed

[2017-12-22 09:35] vietj commented on #2239
fixed by the PR

[2017-12-22 09:35] #2239 closed

[2017-12-22 12:51] vietj opened #2250 "Netty 4.1.19.Final upgrade"

[2017-12-22 12:51] vietj commented on #2250
waiting for CQ.

[2017-12-22 12:51] vietj opened #2251 "Jackson 2.9.3 upgrade"
waiting for CQ resolution.

[2017-12-29 10:43] super19980930 opened #2252 "Let's Encrypt ecc 256 can not listen port but none-ecc can listen port"
Hi,

question 1
========
I use **debian** linux, and Let's Encrypt ecc 256 with command:
[code]

it's should **[ec-256 (prime256v1, "ECDSA P-256")](https://github.com/Neilpang/acme.sh#single-domain-ecc-certificate)**, but i can not listen port with this cert(but vertx is running without error), code as

[code]

gradle dependencies
[code]

but, when i not use ecc cert with acme.sh command:
[code]
a

[2017-12-29 19:22] EmadAlblueshi opened #2253 "Provide system property for native transport"
Currently, it seems the only way is programmatically. It would be very convenient to have system property to enable that

[code]

[2017-12-29 20:15] EmadAlblueshi commented on #2253
I found it ` -Dvertx.options.preferNativeTransport=true`

[2017-12-29 20:15] #2253 closed

[2017-12-30 10:04] vietj commented on #2253
this could be mentioned in the documentation

[2017-12-30 10:15] EmadAlblueshi commented on #2253
@vietj Yes it should

[2018-01-02 03:08] ncoolz opened #2254 "Improve host address resolution"
DnsResolverProvider loads hosts file when only in [constructor](https://github.com/eclipse/vert.x/blob/3.4.2/src/main/java/io/vertx/core/impl/resolver/DnsResolverProvider.java#L99) of DnsResolverProvider. The problem is that when hosts file is modified, vertx does not recognize it because of no load of hosts file(except in the constructor).

I think there is no way to dynamically load it again whi

[2018-01-02 10:49] vietj commented on #2254
not at the moment, I think we could have something for this

[2018-01-02 21:11] mvdavid7 opened #2255 "The WebSocket should check there is a handler for pong before delivering the pong event"
We recently upgraded to vertx 3.5 and are seeing this exception in our logs
Stack Trace:
[code]

We don't have (or need) a pong handler attached to the `ServerWebSocket` instance but have clients that will send pong frames to our websocket servers, so we see this exception being logged.

[2018-01-03 19:56] erycson opened #2256 "NullPointerException -> SockJSSession.writePendingMessages() on high load"
### Version
vert.x core: 3.5.0
vert.x web: 3.5.0

### Description
Intermittent erro generated when  there are too many concurrency connections.

### Trace
[code]

[2018-01-03 20:26] #2256 closed

[2018-01-04 03:26] rstrauss opened #2257 "Missing bind failure callback in case of shared server round robin"
There's no way for a user to discover a bind exception occurred, except to crawl through the log.
See line 347 in   io.vertx.core.http.impl.HttpServerImpl.java

344          bindFuture = AsyncResolveConnectHelper.doBind(vertx, SocketAddress.inetSocketAddress(port, host), bootstrap);
345          bindFuture.addListener(res -> {
346            if (res.failed()) {
347              vertx.sharedHttpSer

[2018-01-04 10:44] vietj commented on #2257
can you contribute a reproducer test and possibly a fix ?

[2018-01-04 15:52] tsegismont opened #2258 "Provide user-friendly way to test an HTTP header value"
There is no easy way to test that an HTTP header is present and has a given value:

[code]

Drawbacks:

1. Testing a header value is a common task, especially if you write edge services or API gateways
2. The header value in this example should be tested in a case-insensitive way; so the `HttpHeaders` constant must be first converted to `String` (no `equalsIgnoreCase` on `CharSequence`)
3. A list

[2018-01-05 17:20] #1948 closed

[2018-01-08 03:56] JaeHeeAhn opened #2263 "HttpClientImple DEFAULT_HANDLER uses uri.getQuery instead of getRawQuery when extract redirection uri from response location header"
Hi,

I found that Vertx HttpClient DEFAULT_HANDLER uses java.net.URI.getQuery instead of getRawQuery when extracts a redirection uri from response location header.

Even Vertx HttpUitls.resolveURIReference uses java.net.URI.getQuery and then redirects it with decoded query.

java.net.URI.getQuery returns decoded query according to documents.
[code]

In my case, there are many cases that location h

[2018-01-08 09:22] tsegismont commented on #2263
I don't think there is a specific reason to getQuery. If you provide a
patch with a test which fails before the fix and passes after, it would
most certainly be merged.

2018-01-08 4:56 GMT+01:00 Jaehee Ahn <notifications@github.com>:

[2018-01-08 09:54] #2172 closed

[2018-01-08 09:55] #2028 closed

[2018-01-08 09:55] #2110 closed

[2018-01-08 09:55] #2039 closed

[2018-01-08 09:56] #2031 closed

[2018-01-08 09:56] #2048 closed

[2018-01-08 09:59] vietj opened #2264 "Name resolver always fallback to original name or search domain"
Until in some situation, either the original name or the search domain resolved name was used in a resolution. Now both are always used, the only difference is in the resolution order according to the ndots value. This behavior change comes with Netty 4.1.19.Final version, Vert.x integration tests are updated accordingly to the new behavior.

[2018-01-08 10:00] vietj opened #2265 "Dependencies upgrade"
to

- Netty 4.1.19.Final        : https://dev.eclipse.org/ipzilla/show_bug.cgi?id=15280
- Jackson Core 2.9.3        : https://dev.eclipse.org/ipzilla/show_bug.cgi?id=15282
- Jackson Databind 2.9.3    : https://dev.eclipse.org/ipzilla/show_bug.cgi?id=15283
- Jackson Annotations 2.9.3 : https://dev.eclipse.org/ipzilla/show_bug.cgi?id=15284
- Works-with                : https://dev.eclipse.org/ipzill

[2018-01-08 11:50] vietj commented on #2257
The listen handler is actually notified in another block that listen to the actualServer.bindFuture that is the real physical bind. The listener you are referring to maintains the http server book keeping. If you expected is an issue with your setup, please make a reproducer and reopen this issue.

[2018-01-08 11:50] #2257 closed

[2018-01-08 11:51] vietj commented on #2254
I think we should allow to set directly a DnsResolverProvider on the Vertx options and provide this option directly on the provider

[2018-01-08 11:56] vietj commented on #2263
can you give an example where this is raising an issue ?

[2018-01-08 11:56] #2251 closed

[2018-01-08 11:56] #2250 closed

[2018-01-08 11:58] vietj commented on #2230
so the issue is due to data sent by the client to an Vertx Http Server ?

[2018-01-08 13:54] st-h commented on #2230
@vietj not sure if I understand your question correctly, but all I can say for sure is the following: There seems to be evidence that the mentioned commit introduced some sort of race condition or edge case, where vertx provides incorrect data to a WriteStream implementation when a file is uploaded by the vertx client, which seems to show up only under certain (load) conditions. So, yes the issue

[2018-01-08 13:57] vietj commented on #2230
my point is that the reproducer uses different portion of vertx : HttpClient and HttpServer , I'm trying to nail down to which part it belongs to. So it would be good to have a minimal reproducer so it's easier to nail it down.

[2018-01-08 13:58] vietj commented on #2230
The commit "Try to simplify the queuing check with a cache of the queuing condition" affects the vertx HttpServer HTTP/1 message processing that's why I'm saying it seems that the issue is when the http server process a body entity and that's where research should focus.

[2018-01-08 15:06] st-h commented on #2230
Yeah, that is what my gut is telling me as well. I know these kind of bugs are a pain to deal with and I wish I would be able to provide a simpler reproducer. But so far I am glad that I have even been able to reproduce the issue locally at all and figure out which commit seemed to introduce the bug, which has been quite a pain itself 🤕 . I wrote a [test](https://github.com/st-h/vertx-mongo-stream

[2018-01-08 15:27] vietj commented on #2230
@st-h the first priority is to exhibit the simplest reproducer we can have in Vert.x test suite and then we can discuss the the options of the fix

[2018-01-08 15:27] vietj commented on #2230
@st-h I'm actually planning to rewrite the back-pressure handling of `Http1xServerConnection` also that's why I think the most valuable thing is the reproducer to avoid regressions

[2018-01-08 15:55] vietj commented on #2230
btw is the client pipelined in your tests ?

[2018-01-08 16:18] st-h commented on #2230
If you know any way to reproduce this simpler, for any means please do so. I unfortunately don't so far. But leaving it like everything is, might be causing huge issues in production. It probably just is a matter of time, people will run into this with 3.5.0. To me it seems much more important to get rid of the regression and get a fix out asap before this is causing any real damage.

I don't thin

[2018-01-08 16:50] vietj commented on #2230
I will try to make a reproducer based on the context you provide

[2018-01-08 17:35] vietj commented on #2230
@st-h you said:

"Within the limited ways of testing this issue currently leaves I found that the first commit where I was able to reproduce the error is 162e5cf0511ca69a9c168b251f6ce537e7a10173 Try to simplify the queuing check with a cache of the queuing condition . I was not able to reproduce the issue with the three commits made earlier like b484db818d3aa6eeaa8c3ca7053d5c10f0295823. "

it's un

[2018-01-08 17:41] st-h commented on #2230
sure. I was going back in time from now and the first commit that showed the issue was `162e5cf0511ca69a9c168b251f6ce537e7a10173`. Then I tested the three commits that were made earlier (are older) and none of these builds would show the regression. However, every build that was after `162e5cf0511ca69a9c168b251f6ce537e7a10173` (commits that are younger) showed the issue. Therefore I came to the co

[2018-01-08 17:53] vietj commented on #2230
are you able to make this fail on your desktop ? I've cloned your repo and when I run the IT tests with a Docker image, I'm not able to get the failure

[2018-01-08 17:58] vietj commented on #2230
@st-h I still don't get the three commits : where does this magic number comes from ?

[2018-01-08 18:02] st-h commented on #2230
I have been able to make this fail on a macbook and a macbook pro. The pro however needs much bigger files to show the issue. Are you running `mvn verify`?

three commits ain't no magic number. I just stopped going back in time after I wasn't able to reproduce the issue any more trying three subsequent commits. It could have been 5 or 20. I just figured it would be enough to check three different

[2018-01-08 18:09] vietj commented on #2230
I'm on a MBP, I'm trying indeed verify.

Can you make a branch in your repo that reproduces on MBP with instructions how to run it including docker ?

[2018-01-08 18:50] st-h commented on #2230
and possibly another clue. When the test fails, I can observe the following call structure:
[code]
What I noticed is that when the upload fails:
- an enqueue happens
- after resume no processMessage is called

If the upload does not fail, after an enqueue there always seems to be the right number of calls to processMessage to handle all enqueue messages.

Just digging around, so this might be rela

[2018-01-08 19:01] vietj commented on #2230
@st-h that's the impression I had too when looking at the commit, I will try the reproducer (again) asap.

[2018-01-08 19:11] maltalex opened #2266 "Stop chunked response when client disconnects"
I'm playing around with vertx and vertx-web. I have a simple endpoint that produces a chunked response by endlessly printing "hello" once a second.

How do I detect when the client disconnects? Vertx doesn't seem to throw an exception when attempting to write to a disconnected client, and `routingContext.response().closed()` keeps returning false long after the client is gone.

Here's a minimal ex

[2018-01-08 19:41] vietj commented on #2266
it looks like a bug

[2018-01-08 19:44] vietj commented on #2266
can you reproduce without vertx web and a plain vertx http server ?

[2018-01-08 19:47] vietj commented on #2230
@st-h how many times do you need to run it to get the failure ?

[2018-01-08 19:51] vietj commented on #2230
ah it seems to happen but the test does not fail per se

[2018-01-08 19:51] vietj commented on #2230
it just prints the different hashes

[2018-01-08 19:52] vietj commented on #2230
well i could observe it once and has to icnrease the size to 170 instead of 17

[2018-01-08 20:15] maltalex commented on #2266
Sure. Just try this:

	public static void main(String[] args) {
		Vertx vertx = Vertx.vertx();
		HttpServer server = vertx.createHttpServer();
		server.requestHandler(request -> {
			request.response().setChunked(true).putHeader("Content-Type", "text/plain");
			vertx.setPeriodic(1000, l -> {
				if (request.response().closed()) {
					System.out.println("Stopping");
					vertx.cancelTimer(l);

[2018-01-08 22:03] st-h commented on #2230
yeah, it does not necessarily fail every time. That's why it's so difficult to reproduce. You need to create a situation where methods are called in parallel at the right timing. And that also is why it is so difficult to write meaningful tests that would catch those things. Do you need further help with this? I think it would be best to rewrite the queue and the flags. But as you already had some

[2018-01-08 22:38] vietj commented on #2230
actually I'm not able to reproduce it at all so far

[2018-01-08 22:38] vietj commented on #2230
what do you mean by parallel ?

[2018-01-08 22:40] vietj commented on #2230
_ If now handleMessage() gets called between setting queueing and calling checkNextTick()_ that should not be possible as it's the same thread (event loop), specifically in your case it's an http server verticle and there is no other thread involved as far as I can see

[2018-01-08 22:42] vietj commented on #2230
ah perhaps you mean that gridFSBucket.uploadFromStream callback is performed from another thread managed by Mongo ?

[2018-01-08 22:46] vietj commented on #2230
I see now where the other thread is coming from : (that does not excuse the potential race in Vert.x).

I think your `GridFSInputStream` should capture the Vert.x context when you create it and drain handler callbacks should be done on that Context to use the same EL thread.

[2018-01-08 22:48] st-h commented on #2230
Oh, sorry. I was under the impression that you meant that you were able to observe the issue once with that message

From what I observed, the `handleMessage` method seems to be called before the `resume`  method is finished. Which would also explain the race condition that the travis test seems to show. The code as it currently is would at least not be safe to be used in that way, as the flags th

[2018-01-08 22:53] st-h commented on #2230
do you mean by making use of `vertx.runOnContext()`? I'll be very happy if we can improve the library...

[2018-01-08 23:03] vietj commented on #2230
@st-h yes I meant that

[2018-01-08 23:04] vietj commented on #2230
_Oh, sorry. I was under the impression that you meant that you were able to observe the issue once with that message_ : the difference case when printed got me wrong.

I'm still trying to reproduce it though.

What is your reproduction rate on your laptop ?

[2018-01-08 23:04] vietj commented on #2230
got a failure!

[code]

[2018-01-08 23:19] st-h commented on #2230
I get a failure on almost every build currently using `ByteUtil.randomBytes(1024 * 1024 * 4)` as payload on the MacBook. But I guess it depends on how may other things are hogging resources. Maybe that's why it easily show up on travis because they might be using very small VMs. Less available resources seems to make it more easy to reproduce.

[2018-01-09 07:18] vietj commented on #2230
what's your laptop config ?

[2018-01-09 08:00] vietj commented on #2230
can you try try: in `checkNextTick()` wrap the `runOnContext` in a synchronised block:

[code]

[2018-01-09 10:01] vietj commented on #2230
I've been able to reproducer it in this CI (slow) : https://vietj.ci.cloudbees.com/job/vertx-mongo-streams/10/console but it does not fail often

[2018-01-09 11:14] vietj commented on #2230
@st-h can you give a try with using vertx-core (only core) version 3.5.0-fix-SNAPSHOT ? it's a SNAPSHOT I've  deployed that wraps synchronises the callback block

[2018-01-09 12:58] st-h commented on #2230
First off, I tried to make use of runOnContext when calling the drain handler like below. This does not seem to improve the problem in any way. Is that what you meant? I also tried to wrap the whole content of this method, but the results were the same

[code]

I tried, but that build fails as well :( here is the dependency tree
[code]

Don't know how that code looks like now, but just synchronisi

[2018-01-09 13:06] vietj commented on #2230
can you put the PR ? I'm not sure I want to refactor that in the timeframe of 3.5.1 actually

[2018-01-09 13:37] st-h commented on #2230
I’ll see what I can do. Can you tell me more details about what you had in mind regarding the refactoring? As I’ll probably be rewriting some things I maybe can already implement some of those things you have in mind.

[2018-01-09 13:44] vietj commented on #2230
@st-h currently the `pending` queue holds the pending HTTP messages which are most of the time `HttpContent` but also `HttpRequest` when the client pipelines (and which makes the code very complicated). I would like to split and replace the pending queue by two queues:

- the pending `HttpContent` of the current request to be held in a `Deque<HttpContent>` in `HttpServerRequestImpl`
- the pending

[2018-01-09 14:00] vietj commented on #2230
@st-h can you tell me how to run it in Travis CI from my own project fork ?

[2018-01-09 14:54] st-h commented on #2230
ok, thanks. I'll see what I can do. Not totally sure right now if there will be any implications by having two queues and the priority they should be consumed at, but that might clear up by its self when I get a clear picture of the code.

Once you log into travis, you should be able to just enable your repository from there. That should be everything you need to do, as the config file already is

[2018-01-09 15:00] vietj commented on #2230
@st-h the two queues shall be actually simpler because they are not used with the same objects and don't react on the same event. The request queue reacts on HttpRequest/LastHttpContent and the content per request queue only cares about buffers.

[2018-01-09 16:44] vietj commented on #2230
@st-h can you try this artifact : https://oss.sonatype.org/content/repositories/snapshots/io/vertx/vertx-core/3.5.0-fix-SNAPSHOT/ based on this branch https://github.com/vietj/vert.x/tree/server-bp-fix that is an attempt to fix the issue (that I identified)

[2018-01-09 17:34] st-h commented on #2230
Yes, this seems to look good to me. Both from the changes to the code as well as from [travis](https://travis-ci.org/st-h/vertx-mongo-streams/builds/326906950).

But yet again. How to go on? Shall we rewrite some of that stuff, or leave it for now?

[2018-01-09 17:44] vietj commented on #2230
awesome.

I believe the fix is good, however I still see some potential bugs with pipelining, so I will add more tests and more fixes in this branch and we will rerun your tests to ensure everything is fine. Once it is achieved, I'll clean up the branch (remove the debugging code) and make a PR for 3.5.1.

[2018-01-09 17:52] st-h commented on #2230
Alright, I won't be working on a PR then. I believe we could improve some of how the code is structured to avoid bugs, but I don't yet fully understand everything what is going on, so I don't want to be too quick on this. But it would most likely be quite a rewrite anyhow.

[2018-01-09 17:54] st-h commented on #2230
However, one last question about the vertx-mongo-streams library. All making use of runOnContext currently seems to do is break some unit tests. Does that make sense in the way I posted above?

[2018-01-09 18:27] vietj commented on #2230
@st-h can you make a PR on your own project and then I can review the diff and comment ?

[2018-01-09 20:05] st-h commented on #2230
@vietj one question regarding pipelining: If a new HttpRequest is received within processMessage, but there also is a current request being processed, the new request is queued.
[code]
Is it ensured from "outside" that there will be no content received on the connection for the queued request until the handler of the requestHandler is called with that request?
[code]

I am asking because I am wond

[2018-01-09 21:35] vietj commented on #2230
@st-h if a pipelined request arrives while the current request is not yet finished then it is enqueued, the `queuing` flag is set to `true` and all further messages are added to the `pending` queue. When the current request ends, the `responseComplete()` method set the `queueing` flag to `false` (actually to `paused` but in general case `paused` == `true`) and the call to `checkNextTick()` will po

[2018-01-09 21:50] lonerzzz opened #2267 "Documentation for "Asynchronous Verticle start and stop" unclear"
The documentation for the "Asynchronous Verticle start and stop" section in the core documentation does not clearly explain what is necessary to make the verticle deloyment work asynchronously making initial use of vertx more frustrating than need be, especially because it uses verticle deployment in the example making it self referencing.

I would suggest adding some vertx.executeBlocking() code

[2018-01-09 22:03] st-h commented on #2230
@vietj the thing I am missing in my head is that if all message are added to the pending queue after the second request arrives while the first one is still in progress, aren't we putting both message (from 1st and 2nd request) on the queue? If we later consume that again, were is the reference which message belongs to which request? How do we find out which HttpContent belongs to which HttpServer

[2018-01-09 22:14] vietj commented on #2230
when the second requests arrives, all the messages from the first requests are already in the queue in the right order, so we have likely in the queue : `HttpContent[1], HttpContent[1],LastHttpContent[1],HttpRequest[2],HttpContent[2],...`

[2018-01-09 22:15] st-h commented on #2230
@vietj ah perfect. thank you.

[2018-01-10 06:55] shenzhenMirren opened #2269 "3.5.0 JDBCClient querySingle IndexOutOfBoundsException"
![qq 20180110145522](https://user-images.githubusercontent.com/24805209/34759385-4c906874-f616-11e7-86a7-2426764a24f5.png)

[2018-01-10 06:56] #2269 closed

[2018-01-10 08:23] vietj commented on #2267
I think we can use just an asynchronous timer instead that would be more clear

[2018-01-10 10:22] DrJonnie commented on #1783
Hi, any progress on this this? It would be really awesome. In my current project i would
like to use this feature to transparently propagate a tenant identification between event loop contexts.

[2018-01-10 10:31] JaeHeeAhn commented on #2263
This is a sample code for raising this issue.
You can just run main and then the console output tells what happens in each redirection handler, one is DEFAULT_HANDLER and the other is my patch version handler.

You just change  QUERY_WITH_ASCII_UNSAFE variable assignment code between 2 cases
CASE 1. query is "한글", korean languae
CASE 2. query is "A B+C", which has '+'

The console output tells abo

[2018-01-10 11:23] vietj commented on #2230
@st-h do you mind to test and validate this final branch https://github.com/eclipse/vert.x/tree/http1-server-conn-backpressure-improvements ?

[2018-01-10 12:39] vietj commented on #2266
now I think that the write should throw an IllegalStateException, can you try with the 3.5.1-SNAPSHOT ?

[2018-01-10 12:39] vietj commented on #2266
however not sure about request.response().closed()

[2018-01-10 12:41] vietj commented on #2263
can you jsut provide a small reproducer of the issue ?

[2018-01-10 12:42] vietj commented on #2255
can you try with 3.5.1-SNAPSHOT ?

now the code checks the frame handler is not null

[2018-01-10 12:45] #2226 closed

[2018-01-10 15:07] st-h commented on #2230
@vietj will do.
From looking at the tests, I assume we cannot process pipelined requests in parallel? Or to put it another way: We need to wait in the ServerConnection for req1 to be done (responseComplete?) before we can start processing req2?

[2018-01-10 15:53] vietj commented on #2230
@st-h indeed it's not possible and not a good idea, because it adds more complexity (so potential bugs) and force to buffer responses. If you need more concurrency and you control the protocol, use HTTP/2 instead.

[2018-01-10 16:37] st-h commented on #2230
@vietj seems to work on my machine™

[2018-01-10 16:42] vietj commented on #2230
before making a PR, i'll try to make a reproducer for master as safe-guard

[2018-01-10 18:31] vietj commented on #2255
can you check the stack trace ?

at line 266 in 3.5.0 I can see :

[code]

wich cannot produce an NPE

[2018-01-10 18:33] vietj commented on #2255
actually sorry I had a wrong tag locally :-)

[2018-01-10 18:34] vietj commented on #2255
so yes it's still here

[2018-01-10 18:36] vietj commented on #2255
question : why your clients are sending unsollicited pong frames ?

[2018-01-10 18:46] #2255 closed

[2018-01-10 18:46] vietj commented on #2255
fixed - no test, there is no real way to test this

[2018-01-10 19:25] mvdavid7 commented on #2255
The websocket implementation libraries for some of our clients are out of our control and happen to send PONG frames unsolicited.

[2018-01-10 19:25] mvdavid7 commented on #2255
Do you have a timeframe for the 3.5.1 release?

[2018-01-10 20:11] Sammers21 commented on #2111
Hi, which version of vertx are you using? (`vertx version`)

This code, but without `package id.stroom.micros;` works fine:
[code]

[2018-01-10 20:20] vietj commented on #2255
@mvdavid7 in the coming weeks, we are in the preparation phase right now

[2018-01-10 20:40] Sammers21 commented on #2111
I think that in order to run it with specific packge you should comiple it (with javac as illustrated below or with _$YOUR_FAVORITE_BUILD_TOOL_):

[code]

[2018-01-10 20:54] Sammers21 commented on #2101
I m interested in working on it. @vietj, can I try?

[2018-01-10 21:24] vietj commented on #2101
this is not a priority at the moment

[2018-01-10 21:24] vietj commented on #2101
we are aiming at working on fixing for 3.5.1

[2018-01-10 21:24] #2150 closed

[2018-01-10 21:25] #2139 closed

[2018-01-10 21:27] vietj commented on #1614
@mhstnsc any news about this ?

[2018-01-10 22:57] maltalex commented on #2266
Yeah, the snapshot (commit 887f95e0dc00cf30151332e64d12a2299d85767b) seems to work correctly.

The line `request.response().closed()` returns false when the client disconnects, and `request.response().write("hello\n");` throws an `IllegalStateException`. That exception is a bit unexpected since it's not really a state issue, but an I/O issue, so expected an IOException. But either way, its definit

[2018-01-11 06:52] JaeHeeAhn commented on #2263
After below the  server  started, call
[code]
and then check what the target receives for query param.

### server
[code]

[2018-01-11 07:48] vietj commented on #2266
fixed in https://github.com/eclipse/vert.x/issues/2181 for the record

[2018-01-11 09:10] tsegismont commented on #2111
@kumangxxx if you want to run a verticle with such a package name, create an `id/stroom/micros` directory and run `vertx run id/stroom/micros/TestVerticle.java`

If you don't do this, Vert.x should complain like this:

[code]

Which makes me think that you rather have a CLI installation problem.

[2018-01-11 09:26] tsegismont commented on #1923
This should do:

[code]

[2018-01-11 11:23] mhstnsc commented on #1614
Some good news. Eventually was fixed by one of my collegues in our local fork. I hope to create a pull request to netty guys.
In our fork we took the code from netty, patched it and wired in vertx.

[2018-01-11 13:54] vietj commented on #1614
when you make an issue in Netty, can you link it to this one ?

[2018-01-11 13:56] mhstnsc commented on #1614
it is already linked

[2018-01-11 14:13] #2137 closed

[2018-01-11 14:52] vietj commented on #1614
indeed I missed it, I was expecting to see a GitHub linkage in the page actually

[2018-01-11 15:46] mhstnsc commented on #1614
I don't know how to do that.

[2018-01-11 20:44] vietj commented on #2230
I've added a reproducer for the issue - it fails for master and works with this fix - it reproduce a similar pause/resume mechanism that is done in your test, where the resume happens to be done by a non vertx thread (in your case the mongo client thread) and can lead to the reordering of http content chunks

[2018-01-14 21:50] maltalex commented on #2266
Thanks. When is 3.5.1 due to appear?

[2018-01-15 07:09] vietj commented on #2266
in a few weeks, we are working on it

[2018-01-15 09:59] maltalex commented on #2266
Thank you.
I appreciate the work you guys are putting into the project.

[2018-01-15 09:59] #2266 closed

[2018-01-16 10:12] vietj opened #2276 "WebSocket API close frame payload"
The WebSocket API should allow to set and receive the close frame payload.

[code]

Close frame should be propagated on the client, i.e before calling the close handler the websocket should forward a close frame with the status and reason.

[2018-01-16 10:49] Marssmart opened #2278 "Clarify that classloading isolation not compatible with Java 9 in documentation"
https://github.com/eclipse/vert.x/blob/5eb55e8478fbe9ca1cb14aaef783a40857fee602/src/main/java/io/vertx/core/impl/DeploymentManager.java#L384

This line cause incompatibility with Java 9 , when combined with attempt to use isolation group.

Java 9
![image](https://user-images.githubusercontent.com/12251937/34984971-e4eb61be-fab2-11e7-8974-64d5c4256d8c.png)

Java 8
![image](https://user-images.githu

[2018-01-16 12:37] vietj commented on #2278
yes it's expected and we have no way go fix it, so it should be documented I think in the method.

[2018-01-16 12:37] vietj commented on #2278
can you take care of this @cescoffier ?

[2018-01-17 14:25] philrykoff commented on #2179
I need SSLv3 and SSLv2Hello support for a customer's legacy devices. Let's not discuss the security implications here, but I also saw what johnoliver saw during debugging.

I'll PR a fix. I am not so sure regarding a test, as I don't see any getter for retrieving the enabled protocols.

[2018-01-17 16:30] philrykoff commented on #2179
@vietj : would you accept a PR adding this feature?

[2018-01-17 17:10] vietj commented on #2179
ah you change by supported protocols

[2018-01-17 17:12] vietj commented on #2179
yes I'm all for that, Vert.x should not get in your way if you want to shot in your feet :-)

[2018-01-17 23:57] sfitts opened #2281 "3.5.0: WebSocket is closed exception when socket closed under load"
Version: 3.5.0

We are using the SockJS support and specifically the part that allows you to send data to an open websocket via an event bus address.  When there is a socket which is under heavy load (lots of data being written over the bus) and that socket is closed, we sometimes see the following exceptions:

[code]

These are benign and we think due to the timing of processing in-flight events

[2018-01-17 23:58] sfitts commented on #2281
Sorry, just realized this belongs in web, not core.  I'll re-open there

[2018-01-17 23:58] #2281 closed

[2018-01-18 10:56] vietj commented on #2179
fixed

[2018-01-18 10:56] #2179 closed

[2018-01-18 11:21] shenzhenMirren opened #2282 "Why not find a template is an exception Why not 404"
一月 18, 2018 7:19:00 下午 io.vertx.ext.web.impl.RoutingContextImplBase
严重: Unexpected exception in route
freemarker.template.TemplateNotFoundException: Template not found for name "templates.ftl".

[2018-01-18 11:54] shenzhenMirren commented on #2282
![qq 20180118194706](https://user-images.githubusercontent.com/24805209/35096772-665b0818-fc88-11e7-9f2d-d82a2a419ffd.png)
 **↑** Not found
![qq 20180118195154](https://user-images.githubusercontent.com/24805209/35096964-18269896-fc89-11e7-98b9-e82566adfa14.png)
 **↑** found
![qq 20180118195405](https://user-images.githubusercontent.com/24805209/35097042-5f96352e-fc89-11e7-9840-72444ebf4cab.png)

[2018-01-18 12:35] shenzhenMirren commented on #2282
finally, use routeWithRegex("/statics/.*") solution

[2018-01-18 12:37] shenzhenMirren commented on #2282
and create statics under templates

[2018-01-18 14:17] #2230 closed

[2018-01-18 14:17] #2276 closed

[2018-01-19 03:13] vertxjava opened #2283 "About service discovery using zookeeper connection timeout problem"
I use zookeeper as a service storage, the application has just started running no problem, but the operation of the period of time the following error:

![image](https://user-images.githubusercontent.com/26713596/35133192-d1220314-fd09-11e7-8743-be9fd4e573e9.png)

I think it is not connected in the source code is not caused by the release?

Thanks!

[2018-01-19 14:49] qizhengyu opened #2284 "WebClient.rxSendStream(file) cause AsyncFile OutOfMemoryError"
I'm using WebClient.rxSendStream method to upload a large file(2GB) to remote server. The upload speed is normal in the beginning. But it became slower and slower, finally the OutOfMemoryError was thrown.

Vert.x version `3.5.0`

Below is my code causing problem, I can consistently reproduce it:
[code]

[2018-01-19 15:33] qizhengyu commented on #2284
Error log here:

[code]

[2018-01-19 15:58] vietj commented on #2284
what if you don't use the rx version ?

[2018-01-19 16:26] qizhengyu commented on #2284
@vietj
Still run out of memory, see my code below:

[code]

[2018-01-19 19:37] pmlopes commented on #2282
400 errors are errors that happen from actions performed by the user. However if a template is missing it’s not really the end user’s fault.

Most of the times this is a developer issue so it should be a 500 class error. However you could catch it and convert it to what you want.

[2018-01-19 19:41] pmlopes commented on #2282
In your case you could use the engine directly instead of the handler. It gives you full control on which template to render and avoids the path manipulation and your need for regular expressions.

‘Engine.render’ is something to consider.

[2018-01-20 08:46] XiaohuChen opened #2285 "SQLConnection batchWithParams did not work"
vertx-mysql-postgresql-client(3.5.0 version)
OS: windows 10;

List<JsonArray> batch = new ArrayList<>();
JsonArray params = new JsonArray().add("val1").add("val2").add("val3");
batch.add(params);

SQLConnection connection = connect.result();
connection.batchWithParams("SQLQuery", batch, create -> {
System.out.println("batchWithParams");
connection.close();
});

As soon as the 'batchWithParams; met

[2018-01-22 07:23] cescoffier commented on #2278
I will @vietj

[2018-01-22 10:04] vietj commented on #2284
what is the side of your file ?

[2018-01-22 10:33] tsegismont commented on #2285
Moved to the relevant repo

[2018-01-22 10:33] #2285 closed

[2018-01-22 11:44] vietj commented on #2284
this happens because the default option for WebClientOptions is to follow redirect which can buffer the size you are sending.

you should disable follow redirect on the HttpRequest when the size you are uploading is very large

[2018-01-22 11:57] vietj commented on #2284
@pmlopes any opinion on this ?

[2018-01-22 14:51] qizhengyu commented on #2284
@vietj I'm sending a 2GB file.
Thank you for your explanation!
It worked by doing`.setFollowRedirects(false)`.

Please feel free to close this issue.

[2018-01-22 14:59] vietj commented on #2284
I'm keeping it, as I would like to rework this option to avoid it when data is sent, or at least print a warning or something else

[2018-01-22 15:00] vietj commented on #2284
maybe set a limit, I don't know

[2018-01-22 16:13] acabarbaye opened #2286 "JsonObject: mapFrom misses some fields if the PoJo extends a Hashtable"
Using swagger codegen to generate POJOs from an OpenAPI spec file, I obtain some objects of the following type:
[code]
When converting this particular object into a Vertx JsonObject (i.e. `JsonObject json = JsonObject.mapFrom(obj);`), only the key/value "fields" present in the hashtable are kept and not the extra fields present in my class e.g. name in the above example.

[2018-01-22 16:24] vietj commented on #2284
one way could be to have Flag to be a class and extend CountDownLatch

[2018-01-22 17:35] P4Awd opened #2287 "Best practice when writing tests that require deployed verticles and access to the verticle context"
Hi there,

Just curious if there is a recommended way to run a test on the context a verticle is using. Currently, I've solved it in by creating a super class method for integration type tests (https://github.com/pitchpoint-solutions/sfs/blob/master/sfs-server/src/test/java/org/sfs/integration/java/BaseTestVerticle.java) that contains a runOnServerContext method. A rule is responsible for deployin

[2018-01-22 18:49] cescoffier commented on #2278
Comment added in the master branch.

[2018-01-22 18:49] #2278 closed

[2018-01-22 19:16] vietj commented on #2287
@P4Awd you should look at Vert.x Unit which has a RunTestOnContext rule for this.

[2018-01-22 19:16] #2287 closed

[2018-01-22 19:18] P4Awd commented on #2287
I'm using that rule. The context the verticle is deployed on and the context the test method is run on are different.

[2018-01-22 21:19] P4Awd opened #2288 "httpclient allows request to be created in a context other than the one an httpclient was instantiated in resulting in a deadlock on pumping."
Hi there,

Here's a reproducer for #2287. Perhaps it would make sense to bind an http client request to the context in which it is created (like AyncFile) instead of the context in which it's first used or throw an exception. In my case this is only an issue in tests since I need to access some of the internal sfs api associated with a verticle instance. Another option could enhance the vertx unit

[2018-01-23 04:53] InfoSec812 opened #2289 "Provide a link to documentation for older versions of Vert.x"
I am working in Red Hat OpenShift Application Runtimes and thus limited to using certain APIs in version 3.4.2 and earlier. There does not appear to be a simple way to view the older versions of the Documentation from the Vert.x web site. It would be awesome if we could view documentation from older versions of Vert.x easily.

[2018-01-23 07:39] vietj commented on #2289
the doc are still accessible and you could provide a link to them for your product.

[2018-01-23 07:39] vietj commented on #2289
I know that we plan to provide it, however it's unclear how we are going to make it.

[2018-01-23 07:39] vietj commented on #2289
can you reopen this issue in the vert-x3/issues repo instead ?

[2018-01-23 07:39] #2289 closed

[2018-01-23 07:40] vietj commented on #2288
can you try with latest 3.5.1-SNAPSHOT ?

[2018-01-23 10:04] tsegismont commented on #2284
@vietj I guess this happens when you have a non-restful server doing Post/Redirect/Get?

Apache HTTP client's [default strategy](http://hc.apache.org/httpcomponents-client-ga/httpclient/apidocs/org/apache/http/impl/client/DefaultRedirectStrategy.html) does this. They say the spec (which one?) recommends this behavior.

[2018-01-23 10:16] #2283 closed

[2018-01-23 10:18] vertxjava opened #2290 "About AsyncMap"
hello,

  io.vertx.reactivex.core.shareddata.AsyncMap.This class does not provide the values method, is it a problem?

thanks

[2018-01-23 10:53] InfoSec812 commented on #2289
Will do Julien,

Deven

On Tue, Jan 23, 2018 at 2:39 AM, Julien Viet <notifications@github.com>
wrote:

--

Deven Phillips

Senior Consulting ENgineer, RED HAT OPEN INNOVATION LABS

Red Hat

<https://www.redhat.com/>

deven.phillips@redhat.com
<https://red.ht/sig>

[2018-01-23 11:37] vietj commented on #2284
redirect is acceptable for PUT

[2018-01-23 14:10] tsegismont commented on #2284
@vietj wdym? Isn't the issue the same for post/put?

[2018-01-23 14:43] InfoSec812 commented on #2037
Understood

[2018-01-23 14:43] #2037 closed

[2018-01-23 14:48] ctron opened #2291 "ServerHandler throws NPE when shutdown is in progress"
While HTTP requests are fired against a vertx based HTTP server and a shutdown is initiated the following exceptions start appearing in the logs:

[code]

[2018-01-23 14:57] P4Awd commented on #2288
The deadlock doesn't occur in 3.5.1-SNAPSHOT.

[2018-01-23 16:21] vietj commented on #2284
yes also for post, actually the issue is with the sendStream(ReadStream, Handler) that takes an arbitrary long stream, whatever is the HTTP method.

[2018-01-23 16:22] vietj commented on #2284
and I meant that in the HTTP spec, doing a redirect on an HTTP put is ok-ish

[2018-01-23 16:22] vietj commented on #2284
however redirect after post is something else

[2018-01-23 16:23] vietj commented on #2288
ok will have a look thanks

[2018-01-23 16:25] vietj commented on #2288
can you post the stack trace dump when it deadlocks that would help to understand what is going on.

[2018-01-23 16:34] P4Awd commented on #2288
Here's the deadlock on 3.5.0 which I can't reproduce on 3.5.1-SNAPSHOT

[code]

[2018-01-23 16:39] vietj commented on #2288
what's the purpose of TestVerticleClient ?

[2018-01-23 17:01] P4Awd commented on #2288
To replicate something similar to https://github.com/pitchpoint-solutions/sfs/blob/master/sfs-server/src/main/java/org/sfs/SfsServer.java. I suppose I could have made the test simpler with only one verticle... apologies. In one of the tests I'm attempting to test functionality that internally uses an http client bound to the verticle context by pumping file opened in the test context. The http cli

[2018-01-23 17:10] P4Awd commented on #2288
Here's one test https://github.com/pitchpoint-solutions/sfs/blob/master/sfs-server/src/test/java/org/sfs/integration/java/test/farm/ReplicatedWriteTest.java.

The test creates a file and opens it in the test context. The test then passes the asycfile instance on line 125 to be consumed by a replica group which internally uses http client requests to write to nodes in the group.

[2018-01-23 21:17] andre2i opened #2292 "Possible race condition with chunked responses after upgrading to 3.5.0 (now with reproducer)"
Hello,

after upgrading to vert.x **3.5.0** we've been seeing a consistent problem with one of our service APIs: when replying with **chunked responses over SSL**, clients are reporting encoding errors when processing the response.

The problem is that after a certain load threshold (not sure if the number of such chunks of their size but I can consistently repro it in our service with >4000 chunk

[2018-01-24 07:48] shenzhenMirren commented on #2193
@vietj

[2018-01-24 07:51] shenzhenMirren commented on #2193
@vietj
I have the same problem,
my os
[root@duhua home]# uname -a
Linux duhua 3.10.0-693.2.2.el7.x86_64 #1 SMP Tue Sep 12 22:26:13 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
[root@duhua home]# lsb_release -a
LSB Version:	:core-4.1-amd64:core-4.1-noarch
Distributor ID:	CentOS
Description:	CentOS Linux release 7.4.1708 (Core)
Release:	7.4.1708
Codename:	Core
![qq 20180124155007](https://user-images.git

[2018-01-24 09:00] vietj commented on #2179
@johnoliver @philrykoff I will remove _SSLv2Hello_ from the list of default enabled protocols. Actually this protocol was already filtered by the previous code (as the engine supports it but does not enable it by default) : so the behavior will be the same for users. Also some tests don't pass with _SSLv2Hello_ like the SNI tests (I think it does not supports SNI but I can't find evidence of it).

[2018-01-24 09:00] vietj commented on #2179
I will add a test that checks we can still use this protocol by setting it in the protocols list

[2018-01-24 09:03] philrykoff commented on #2179
Makes sense.

[2018-01-24 12:03] vietj opened #2293 "Use LinkedHashSet in json to data object conversion"

[2018-01-24 12:04] vietj opened #2294 "The data object converter should prefer to use the setter over the adder when a data object declares both"

[2018-01-24 12:07] vietj opened #2295 "Remove SSLv2Hello from the default list of enabled protocols"
SSLv2Hello was already removed by the JDK7 enabled algorithms filtering applied, the patch https://github.com/eclipse/vert.x/pull/2279 makes it enabled by default - it should be disabled by default as this is what Java does since JDK7

[2018-01-24 12:07] #2295 closed

[2018-01-24 12:07] #2293 closed

[2018-01-24 12:07] #2294 closed

[2018-01-24 22:14] jaguililla commented on #1608
I'm able to use `MimeMapping` from client code. Should this task be closed? @cstamas

[2018-01-25 05:45] simonsunmm opened #2296 "Thread blocked"
vertx 3.5.0 issue
public static void main(String[] args) {
        Vertx vertx = Vertx.vertx();
        log.debug("start call");
        vertx.executeBlocking(f->{
            try {
                for (int i =0 ; i< 10; i++){
                    Thread.sleep(10000);
                }
                f.complete();
            }catch (Exception e){
                f.fail(e);
            }
        }

[2018-01-25 06:05] luengnat commented on #2296
That is expected. You are holding the thread for more than 60 seconds.

[2018-01-25 07:34] #2296 closed

[2018-01-25 07:35] vietj commented on #1608
you mean implemented ?

[2018-01-25 20:46] jaguililla commented on #1608
I meant that `MimeMapping` class (including getMimeTypeForExtension and getMimeTypeForFilename) is not Vert.x internal (I was able to use it from outside of Vertx code). Because I though that the proposal is to include them in the public methods of Vertx.

I just arrived here thinking the same, and now I realize I can use that functionality.

So I though the issue could be closed because it can be

[2018-01-26 03:44] anuger opened #2297 "How can I get the *.ttf file？"
in my project, I can't get ttf file.
the response state is 403.
how can i do?

[2018-01-26 03:47] anuger commented on #2297
![image](https://user-images.githubusercontent.com/24793128/35424442-a121cc1e-028e-11e8-995d-bb766f9ec5ac.png)

[2018-01-26 07:33] #1608 closed

[2018-01-26 07:35] vietj commented on #2297
this shold be opened in vertx-web project not in vertx core

[2018-01-26 07:35] #2297 closed

[2018-01-26 07:35] vietj commented on #2297
or better ask on the vertx google group instead of using an issue tracker to ask questions

[2018-01-28 23:35] vorburger opened #2298 "Make LogDelegateFactory configurable via VertxOptions to avoid classloading issues in ContextClassLoader sensitive environments such as OSGi"
The use of:

[code]

in `io.vertx.core.logging.LoggerFactory` can be problematic in "context ClassLoader sensitive environments", such as OSGi (but this could also affect use of Vert.x within other environments that do funky class loading); here are some links with background about why that is so:

* http://njbartlett.name/2010/08/30/osgi-readiness-loading-classes.html
* http://wiki.eclipse.org/Co

[2018-01-28 23:46] vorburger commented on #1295
Not directly related, just FYI: https://github.com/eclipse/vert.x/issues/2298 proposes making the `LogDelegateFactory` instance configurable programmatically through an API, probably `VertxOptions`.

[2018-01-29 07:02] jakeswenson commented on #2031
@vietj Is there a reason this was closed?? We're still getting this in `3.5.0` on a kubes cluster.
netty version `4.1.15.Final`

[2018-01-29 09:03] vietj commented on #2291
For the record, here is a reproducer :

[code]

run along with :

[code]

[2018-01-29 09:05] vietj commented on #2291
still happens with 3.5.1-SNAPSHOT:

[code]

[2018-01-29 10:32] vietj opened #2302 "Upgrade Jetty ALPN agent to 2.0.7"
so the tests can run with the latest Oracle JDK.

[2018-01-29 10:33] #2302 closed

[2018-01-29 10:56] vietj commented on #2031
@jakeswenson it is closed as invalid because it is a netty issue and it shall be fixed in 3.5.1 release, can you give a try with 3.5.1-SNAPSHOT ?

[2018-01-29 10:57] vietj commented on #2031
I'm removing the invalid tag (which is dubious) and set 3.5.1 as fix version

[2018-01-29 14:51] #2291 closed

[2018-01-29 15:33] vietj commented on #2284
this should be in vertx-web actually

[2018-01-29 15:33] vietj commented on #2284
going to move it

[2018-01-29 15:35] vietj commented on #2284
see https://github.com/vert-x3/vertx-web/issues/827

[2018-01-29 15:35] vietj commented on #2284
moved to vertx-web under a more accurate title

[2018-01-29 15:35] #2284 closed

[2018-01-29 17:03] vietj commented on #2298
we cannot make the delegate factory configurable using options because the logger is static and the vertx options are per instance

[2018-01-29 17:12] vietj commented on #2298
LogDelegateFactory should be able to be set on LoggerFactory, pretty much like Netty allows to set the InternalLoggerFactory

[2018-01-29 17:39] vorburger commented on #2298
@vietj yeah while coding out the meanwhile proposed PR https://github.com/eclipse/vert.x/pull/2300 I figured as much, and what you suggest is exactly what that PR now already does (I think)... have a look!

[2018-01-29 20:25] vietj opened #2303 "Improve default dns client configuration"
Currently the default dns client host is `localhost`.

It could be changed to `null` which means to use the value used by the address resolver which would be more consistent.

[2018-01-29 21:24] vietj opened #2304 "HttpClient should not cache request body for redirection purpose"
motivation: currently the http client redirection following feature will cache the sent body along with the request, this may is not desirable

change: remove the request body cache

[2018-01-30 08:44] #2258 closed

[2018-01-30 08:55] vietj opened #2306 "The HttpClient websocket connect method should call the error handler at most once"
motivation: currently connecting from the client may invoke the error handler more than one time (the errors are reported from the underlying websocket stream).
change: use an future in the implementation to guarantee at most one callback

[2018-01-30 09:11] #2306 closed

[2018-01-30 09:36] #2303 closed

[2018-01-30 10:10] vietj commented on #2231
I will close this for now, since 2230 has been fixed and the code has been fixed to remove race conditions

[2018-01-30 10:10] #2231 closed

[2018-01-30 11:30] vietj opened #2307 "Fix HttpClient default redirection policy"
motivation: the current redirection policy does not follow strictly https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html. It performs a redirection on any HTTP method for the 301, 302 and 307 status instead of only GET and HEAD. In addition for 301 and 302 status it changes the method to GET
change: perform redirection for 301, 302 and 307 status code only when the method is GET or HEAD and do

[2018-01-30 13:44] vietj commented on #2288
your test seems to miss an await to be correct:

[code]

also it does not use correct Vert.x, the verticle internal state should not be used by other thread (i.e the HttpClient).

While I reckon there are deadlocks, if your test were correctly written those would not appear.

[2018-01-30 13:47] vietj commented on #2288
with the proper `await` your test does not seem to deadlock to me.

[2018-01-30 14:25] P4Awd commented on #2288
Thank you for the response @vietj . Which line should contain the async.await() ? I'm making use of async.complete().

[2018-01-30 14:30] #2304 closed

[2018-01-30 14:30] #2307 closed

[2018-01-30 14:32] P4Awd commented on #2288
I updated the test to make use of 3 options. One option that dead locks and two options don't. If eagerClientConnection is true on the TestVerticle the httpclient connection gets bound to the TestVerticle context, if it's false it gets bound to the test context. With the test I'm attempting to demonstrate a case where the http client connection can be bound to the incorrect context. I suppose if i

[2018-01-30 14:39] vietj commented on #2288
the last line

[2018-01-30 14:40] vietj commented on #2288
look at most Vert.x Core tests and see how they are build.

for such test you should rather use Vert.x Unit or the upcoming Vert.x JUnit 5 (in 3.5.1) rather than internal vertx core testbed

[2018-01-30 14:42] vietj commented on #2292
can you try with Vert.x 3.5.1 SNAPSHOT ?

[2018-01-30 14:46] vietj commented on #2292
I will investigate your reproducer

[2018-01-30 14:59] vietj commented on #2292
I've just tried with 3.5.1-SNAPSHOT and it seems to pass, can you check on your side ?

[2018-01-30 15:01] vietj commented on #2282
can you reopen this issue in vertx-web ?

[2018-01-30 15:01] #2282 closed

[2018-01-30 15:02] vietj commented on #2252
please ask questions in vertx google group, not here

[2018-01-30 15:02] #2252 closed

[2018-01-30 15:20] P4Awd commented on #2288
Thank you @vietj . Is VertxUnitRunner and TestContext not part of Vert.x Unit?

[2018-01-30 15:20] vietj commented on #2288
VertxUnitRunner and TestContext are part of Vert.x Unit

[2018-01-30 15:21] P4Awd commented on #2288
I am using them.

[2018-01-30 15:53] vietj commented on #2130
the fix seems legit

[2018-01-30 15:53] vietj commented on #2130
will write a test and do a copy paste from Alex's repo

[2018-01-30 16:28] vietj commented on #2130
@stijena what is the actual `LocationAwareLogger` you are using ?

[2018-01-30 16:37] andre2i commented on #2292
Hi Julien,
when I discovered this, I built the reproducer and then I had the service consume a vert.x core 3.5.1-SNAPSHOT jar built locally from sources (to try and figure out where the alleged bug is) and still reproduced the error.

But when bringing in all dependencies from the **Sonatype OSS Snapshot repository** it works and there is no repro.

When is the 3.5.1 release targeted?

Thanks for

[2018-01-30 20:12] vietj commented on #2292
it shall be released within a couple of weeks.

I will keep your reproducer and try to understand what is going on with 3.5.0

[2018-01-30 20:43] #2130 closed

[2018-01-30 20:43] vietj commented on #2130
all credits to @alexlehm

[2018-01-30 20:47] vietj commented on #2109
I think now this is more ambiguous because the client can be configured for SSL but make clear text requests, so one could configure HTTP/1 and make an HTTP/2 request

[2018-01-30 20:48] vietj opened #2310 "Investigate adding the protocol in HTTP RequestOptions"

[2018-01-30 22:18] #2101 closed

[2018-01-30 22:19] vietj commented on #2168
@gjroylance ping ?

[2018-01-30 22:19] #2111 closed

[2018-01-30 22:20] #2098 closed

[2018-01-30 22:20] vietj commented on #2043
@jponge what's your opinion ?

[2018-01-30 22:22] vietj commented on #1223
closing this since now there is the endHandler consistently notified

[2018-01-30 22:22] #1223 closed

[2018-01-30 22:23] vietj commented on #1307
closing this as we have a new pool impl in 3.5.1

[2018-01-30 22:23] #1307 closed

[2018-01-30 22:28] jponge commented on #2043
The `licenses` section covers the _project_ license, not those of 3rd-party code.

That package contains code from a 3rd party and integrated into the Vert.x source code.
Proper credit is being given to the creator(s), and the license on these files have been retained.

The MIT license is permissive and doesn't have any provision that requires further publicity, and it doesn't conflict with the fa

[2018-01-31 07:12] vietj commented on #2043
thanks for clarifying

[2018-01-31 07:12] #2043 closed

[2018-01-31 07:54] vietj commented on #2267
I've a patch with an HTTP server instead of children verticles

[2018-01-31 07:56] #2267 closed

[2018-01-31 07:59] vietj commented on #2292
there have been also SSL fixes in Netty since 3.5.0 and it might be related as you are mentioning that the issue is exclusive to SSL

[2018-01-31 10:32] #2263 closed

[2018-02-01 04:11] yuchen99 opened #2311 "With Netty Epoll throw readAddress(..) failed: Connection timed out"
# env
Java : 1.8.0_144
vertx: 3.5.0 with cluster manager Hazelcast
netty: netty-all:4.1.19.Final
os: ubuntu 16.04

I use vertx to create tcp server and set setPreferNativeTransport = true  ,NetServerOptions
[code]
client will send 3 kinds package
1. < 38B  every 1 second ,server just receive then send to kafka
2. 1.2KB  every 1 second ,server just receive then send to kafka
3. heartbeat 35B every

[2018-02-01 07:08] vietj commented on #2311
you should use netty-all:4.1.15.Final with 3.5.0

[2018-02-02 04:56] yuchen99 commented on #2311
I also use redisson too. it require Netty 4.1.19. when setPreferNativeTransport = false it works .I don't why

[2018-02-02 06:51] vietj commented on #2311
do you have a good reason to prefer native transport over java NIO ?

[2018-02-02 06:52] vietj commented on #2311
imho it looks like more a Netty issue than a Vert.x issue

[2018-02-02 09:01] gadieichhorn commented on #2191
I am trying a similar thing and face an error

also tried with the context vertx option rule, same error.

    @Rule
     public RunTestOnContext rule = new RunTestOnContext(new VertxOptions().setClustered(true));

and in my test I call the cluster wide map, lock and counters. but I get error on the first call for the cluster data service.

[code]
here is the error.

[code]
any advise how to test

[2018-02-02 14:25] tsegismont commented on #2191
There is a new method `getAsyncMap` in 3.5.1 which works in both local and clustered mode. It should be released next week. In the meantime, you can try with a master branch snapshot.

[2018-02-03 22:58] smil2k opened #2313 "spring-boot-maven-plugin and 'Main-Verticle' are not working together."
Launcher is not using the Main-Verticle manifest header in case the Main-Class does not match with itself. I'm not certain about the intent of this check, but this causes this issue:
As spring-boot has its own JarLauncher, therefore it won't see itself there.

**Why use the spring-boot plugin?**
Shade puts everything together into to root. If there are some clashes, eg. resource files, then you ne

[2018-02-05 02:33] yuchen99 commented on #2311
just see vertx support native transport  and want to try....

[2018-02-05 10:39] tsegismont commented on #2313
@smil2k the launcher/cli classes are extensible. Create your own `Launcher` class and override the `getMainVerticle` method:

[code]

[2018-02-05 17:18] smil2k commented on #2313
This is what I wanted to omit: creating an application class per deployment.

It would help much if the code which loads the verticle would be extracted and the decision not to use it would be in the getMainVerticle(), therefore the doGetMainVerticle could be reused in my custom one without much copy-pasting.

What do you think?

[2018-02-06 08:54] tsegismont commented on #2313
The customer launcher in https://github.com/eclipse/vert.x/issues/2313#issuecomment-363046327 was just an example. You could lookup your own Manifest entry. No copy-pasting.

[2018-02-06 14:43] Orioline opened #2314 "Are there any limits for "lengthfieldbased" mode about RecordParser"
I can see there are delimited and fixed size modes in RecordParser.java, but I could not find a parser which acts like `LengthFieldBasedFrameDecoder` in Netty;
I think I might achieve that by extending `RecordParser` or `Handler<Buffer>` interface, however, may I ask are there any limits about writing that decoder/Parser with Vert.x's `Buffer`? Thanks.

[2018-02-06 15:04] tsegismont commented on #2314
`RecordParser `currently doesn't support length-prefixed messages. There has been some demand recently, so we could add it.

In the meantime, take a look at this [answer ](https://stackoverflow.com/a/47557302/2133695) I wrote on Stackoverflow. The question was about an Rxified version, but you can use the `LengthPrefixedStream` as is.

[2018-02-07 01:27] biolearning opened #2315 "HTTPRequestValidationHandler addQueryParamWithPattern does not work"
The following API does not work for the specified pattern, after trouble-shooting, the cause is - the pattern was not correctly set, instead, it was set as default value. I would like to join as contributor to solve this issue if possible.

- HTTPRequestValidationHandler addQueryParamWithPattern(String parameterName, String pattern, boolean required)

- this.addQueryParamRule(ParameterValidationRu

[2018-02-07 02:28] biolearning opened #2316 "ContentType 'application/json; charset=UTF-8' was rejected by vertx validator"
ContentType is required to be exactly equal with 'application/json' or 'application/xml', so our ContentType 'application/json; charset=UTF-8' was rejected with statusCode=400 and null failure Throwable object.

It is better to change to startWith 'application/json' or 'application/xml', since it is very typical to append the charset in the ContentType.

I am willing to join as contributor to solv

[2018-02-07 06:17] vietj commented on #2315
you need to open this issue on the https://github.com/vert-x3/vertx-web project

[2018-02-07 06:17] #2315 closed

[2018-02-07 06:17] vietj commented on #2316
you need to open this issue on the vertx-web project https://github.com/vert-x3/vertx-web

[2018-02-07 06:17] #2316 closed

[2018-02-07 10:04] Orioline commented on #2314
Got it, I'll try that. Thanks very much for your reply.

[2018-02-08 14:39] oli-h commented on #2065
Resurrect this issue: We work on project Gateleen and got the same issue when using Pump to connect A HttpServerRequest/Response with a HttpClient (i.e. be a http proxy).
We narrowed down the problem to a situation when the 'front' http request is closed by the client (i.e. XmlHttpRequest.abort() in a WebBrowser). Then the Pump pauses the readStream (from 'backend' http response) and never resumes

[2018-02-08 15:00] vietj commented on #2065
you should set an exception handler on the WriteStream to unset the pump when it happens.

[2018-02-08 15:01] vietj commented on #2065
overall I believe that this case is so common that this project https://github.com/vietj/vertx-http-proxy should be somehow part of the stack to help writing gateways and proxies like servers.

[2018-02-08 15:22] oli-h commented on #2065
writeStream.exceptionHandler is not invoked. I tried all 'close' and 'exception' handlers I found on request, response and also on the underlying connection. None of them is being called - so they do not help resuming the backend readStream

[2018-02-08 15:46] vietj commented on #2065
so the HttpServerResponse#exceptionHandler is not called when the server request is closed ?

[2018-02-08 16:18] oli-h commented on #2065
Exact. Und the hood (somewhere in Netty's / NIO's channel objects) we see "isWriteable()" simply answers false - this is called by Vertx internally in HttpServerResponseImpl#writeQueueFull.
But the channel says "writeable=false" in two cases: 1) if the highWaterMark is reached but also 2) if the channel is closed.
Vertx's "writeQueueFull" cannot distinguish both cases - and pauses the readStream i

[2018-02-08 17:24] vietj commented on #2065
can you provide a reproducer for this case ?

[2018-02-08 18:35] ernestojpg commented on #1529
Hi, I'm also suffering for this problem.
It is a real pain having to calculate and pass the host IP when starting the application.
Why don't we use the IP from the Cluster Manager? Hazelcast obtains that IP automatically ...

[2018-02-08 19:42] vietj commented on #2065
I've run this test:

[code]

and I'm getting errors from the response exception handler, can you tell me how different is your case ?

[2018-02-08 20:32] oli-h commented on #2065
Give me some time to create a compact self contained reproducer.
The one I have atm. requires a full blown Gateleen based server.

[2018-02-09 06:26] vietj commented on #2065
thanks

[2018-02-11 12:44] CharlieTapSonin opened #2317 "Remote client IP call inside Docker container returns an internal IP"
Calling context.request().remoteAddress().host() returns an internal address, like 10.x.x.x, which is odd as the service is bound from port 80 on the host onto port 80 on the vertx server. This is essentially means I can't create an IP Whitelist for my service

[2018-02-12 14:57] tsegismont commented on #2317
The remote address of the underlying socket in this case is the address of your host on the Docker private network. This is not specific to Vert.x

If you want to create an IP Whitelist you should inspect the [X-Forwarded-For](https://en.wikipedia.org/wiki/X-Forwarded-For)

[2018-02-12 14:57] #2317 closed

[2018-02-12 22:53] maltalex opened #2318 "Is there an official changelog someplace?"
There are ~240 commits between 3.5.0 and 3.5.1, is there a changelog someplace?

[2018-02-13 00:02] HugoCrd commented on #2318
I think it’s not live yet
You can find it here for now :
https://github.com/vert-x3/vertx-web-site/blob/37a3ee3fbaf8cd1abd230f5539cbb21f7477ae7c/src/site/blog/posts/releases/2018-02-05-vertx-3.5.1-release.md

[2018-02-13 00:16] HugoCrd commented on #2318
Well, sorry for the confusion. The above link says that release notes will be on Vert.x wiki ;)

https://github.com/vert-x3/wiki/wiki/3.5.1---Release-Notes

[2018-02-13 07:26] vietj commented on #2318
https://github.com/vert-x3/wiki/wiki/3.5.1-Release-Notes

[2018-02-13 07:26] #2318 closed

[2018-02-13 07:27] vietj commented on #2318
the notes are not yet complete (the release has not yet been announced)

[2018-02-13 09:02] maltalex commented on #2318
Thanks!

[2018-02-13 15:31] oli-h commented on #2065
The reproducer for those 'half-paused" connections: https://gist.github.com/oli-h/ed8df718311a8480eb24adc0d5ceb408

Toggle in Lines 83/84 between Pump and non-Pump
Without Pump, the test runs without any Exception/Timeouts
**With** Pump you see (sooner or later - in my case after max. 10 seconds):

`Request id-5: starting
--------------- Proxy received request id-5
-------------------------- Backe

[2018-02-13 16:10] vietj commented on #2065
thanks, will investigate

[2018-02-14 07:40] vietj commented on #2314
closing this issue, if there is need for new feature we should open an issue with a proper description

[2018-02-14 07:40] #2314 closed

[2018-02-14 07:41] #2313 closed

[2018-02-14 07:42] #2311 closed

[2018-02-14 07:42] #2292 closed

[2018-02-14 07:45] vietj commented on #2286
I think it's because the underlying code does:

[code]

can you try with

[code]

and see what you get ?

[2018-02-14 07:51] vietj commented on #2254
Changed this to a more general issue.

We want also to perform Round Robin DNS load balancing on the client when it returns multiple addresses (https://www.digitalocean.com/community/tutorials/how-to-configure-dns-round-robin-load-balancing-for-high-availability)

[2018-02-14 07:52] vietj commented on #2168
closing this issue until it we can get more info and a possible reproducer

[2018-02-14 07:52] #2168 closed

[2018-02-14 11:09] acabarbaye commented on #2286
Hi,

I think I did not describe the issue properly.
when doing this` JsonObject json = JsonObject.mapFrom(obj)` (or `new JsonObject((Map<String, Object>) Json.mapper.convertValue(obj, MyClass.class)`));
the underlying map of the json object is of MyClass type and actually has the extra fields such as name in addition to the fields present in the hashtable.

However, when I try to use any methods o

[2018-02-15 15:09] oli-h commented on #2065
Probably this is related to https://github.com/eclipse/vert.x/issues/2230?
_Note: I testes with Vertx 3.5.0 - not yet with 3.5.1_

[2018-02-15 21:20] luengnat opened #2320 "peerCertificateChain() should return java.security.cert.X509Certificate"
peerCertificateChain() should return ```java.security.cert.X509Certificate``` instead of  ```javax.security.cert.X509Certificate```.  ```javax.security.cert.X509Certificate``` is supposed to be deprecated.  (https://docs.oracle.com/javase/7/docs/api/javax/net/ssl/SSLSession.html#getPeerCertificateChain())

[2018-02-15 21:42] luengnat opened #2321 "No access to peerCertificateChain on the client side"
-  ```response.netSocket().peerCertificateChain()``` will just make HTTPS stop working correctly
- ```request.connection().peerCertificateChain()``` works but it is not intuitive as you need to gain access to request.connection() where on the server side, you can just do ```request.peerCertificateChain()```

[2018-02-16 07:34] vietj commented on #2321
can you provide a reproducer ? note that now you can get the `SSLSession` from the connection

[2018-02-16 07:36] vietj commented on #2321
`response.netSocket()` transforms the current http connection into a `NetSocket` (for instance after an HTTP CONNECT), so you should really use `request.connection().peerCertificateChain()`

[2018-02-16 07:37] vietj commented on #2321
I think we can also add the `peerCertificateChain()` method on `HttpClientResponse` as well to make it more obvious

[2018-02-16 07:38] vietj commented on #2320
which class are you referring to ?

[2018-02-16 19:04] StephenOTT opened #2322 "Hazelcast cluster.xml JVM property usage documentation"
Would be great to add the following type of documents for the hazelcast setup:

When using docker with a `-ha` or `cluster` you have typically set the `-cluster-host`.

The hazelcast cluster.xml file does not support ENV vars as per: https://github.com/hazelcast/hazelcast/issues/11676

But as per the `11676` issue, you can use JVM system properties:

so the `cluster.xml` file can look like:

[code

[2018-02-16 20:54] luengnat commented on #2320
HttpServerRequest.peerCertificateChain()

[2018-02-17 04:11] vietj commented on #2320
which class should it return instead of `javax.security.cert.X509Certificate`, because what you said above does not make sense yet

[2018-02-18 14:05] tsegismont commented on #2322
@StephenOTT the best location would be the `vertx-hazelcast` documentation.

Can you first reopen your issue in the right repo: https://github.com/vert-x3/vertx-hazelcast ? Thanks. We'll follow up there

[2018-02-18 14:05] #2322 closed

[2018-02-18 14:05] tsegismont commented on #2322
(closing invalid, wrong repo)

[2018-02-18 19:50] StephenOTT commented on #2322
👍

[2018-02-18 22:21] StephenOTT opened #2323 "vertx run's -conf <config_file> argument: Where does it stand in precedence?"
https://github.com/eclipse/vert.x/blob/c79c698d2dc36f26245e4c390c0db755eb1a91fd/src/main/java/io/vertx/core/package-info.java#L928

http://vertx.io/docs/vertx-core/js/#_the_vertx_command_line

http://vertx.io/docs/vertx-config/js/#_using_the_config_retriever

Does the `-conf` argument count as the `A conf/config.json file.` location?

[2018-02-19 06:00] vietj opened #2324 "Investigate client getting callbacks on the GlobalEventExecutor instead of the event loop thread"
[code]

[2018-02-19 06:01] vietj commented on #2324
note this might not happen with Vert.x HttpClient in 3.5.1 as the connection manager has been partly rewritten.

[2018-02-19 06:05] vietj commented on #2324
also happens from MQTT:

[code]

see https://github.com/vert-x3/vertx-mqtt/issues/67#issuecomment-357884903

[2018-02-19 06:06] vietj commented on #2324
this seems to happen from a connection failure and it seems it does not happen consistently

[2018-02-19 06:09] vietj commented on #2324
I think this is coming from `Boostrap.PendingRegistrationPromise` class:

[code]

[2018-02-19 07:31] vietj commented on #2324
this seems to be fixed in Netty with https://github.com/netty/netty/issues/2586

[2018-02-19 07:35] vietj commented on #2324
see also https://github.com/netty/netty/issues/2586

[2018-02-19 07:37] vietj commented on #2324
so this would happen when an exception happens in `abstract void init(Channel channel) throws Exception;`

at this moment the promise is resolved with the global executor.

[2018-02-19 07:43] vietj commented on #2324
Actually I rather suspect `AbstractBoostrap#initAndRegister()` that is called from Bootstrap and potentially returns a promise using the gobal event executor:

[code]

[2018-02-19 15:11] cescoffier commented on #2323
`-conf` is used to populate the (main) verticle `config()`

[2018-02-19 23:30] luengnat commented on #2320
It should return ```java.security.cert.X509Certificate``` Look at ```SSLSession.getPeerCertificates()```. It is a replacement for ```SSLSession.getPeerCertificateChain()```.

[2018-02-20 17:52] luengnat opened #2325 "isUsePooledBuffers is not implemented?"
```isUsePooledBuffers``` option does not seem to be used anywhere? Is it intentional? Should it be marked obsoleted?

[2018-02-20 17:55] luengnat opened #2326 "HTTP KeepAlive timeout"
It looks like Vert.x does not have a way to specify the keep alive strategy like what Apache HttpClient has (https://hc.apache.org/httpcomponents-client-ga/tutorial/html/connmgmt.html). Would it be difficult to get it implemented?

[2018-02-20 21:21] vietj commented on #2325
I believe it should indeed be deprecated and removed

[2018-02-20 21:23] vietj commented on #2326
if I understand correctly, it's the time a connection remains in the pool when it has been released right ?

[2018-02-20 21:27] luengnat commented on #2326
Take a look at https://tools.ietf.org/id/draft-thomson-hybi-http-timeout-01.html where when keep-alive is on, it should respect the server's response header. It would be even better if we can customize that.

[2018-02-20 21:29] luengnat opened #2327 "Why is Vertx.addCloseHook/Vertx.removeCloseHook not exposed?"
Vertx.addCloseHook/Vertx.removeCloseHook should be exposed via ```Vertx``` interface rather than  just ```VertxInternal``` interface so that we can allow some cleanup code to be executed when Vert.x is shutdown.

[2018-02-21 08:34] vietj commented on #2327
I think we can have something but exposed in a simpler manner, i.e simply a `closeHandler(Handler<Void>)`

[2018-02-21 17:12] StephenOTT commented on #2323
thaks

[2018-02-21 17:12] #2323 closed

[2018-02-24 07:38] chatmachine commented on #1842
Is there any clean solution which you hit because Connection.reset() is not conclusive with http1.0

[2018-02-26 18:02] hasalex opened #2328 "Document that VertxOptions.setClustered is for internal usage"
The javadoc explains almost nothing about VertxOptions.setClustered(boolean clustered) or EventBusOptions.setClustered(boolean clustered).

In fact, this option is not for public usage, as clustered mode has to be enabled by calling Vertx.clusteredVertx.

You should either lower the access to setClustered to "package" or add some explanations in the javadoc.

[2018-02-26 19:33] calohmn commented on #2170
I would also opt for such a request timeout value.

Consider this example:
[code]
Here, the fastRequest will get a TimeoutException simply because all pooled Connections are busy - with the fastRequest not having been sent yet at all.
This is counterintuitive if you really want to protect yourself against requests taking too long to process on the remote side. And it's also something that's not to

[2018-02-27 16:34] vietj opened #2329 "Use plain asciidoc file instead of package-info file"

[2018-02-27 17:23] #2329 closed

[2018-03-02 14:10] silmeth commented on #2010
Updating: according to #2165 it did not land in 3.5.1 and is planned for 3.6.0. Not so yay. Well, waiting for 3.6.0…

[2018-03-02 14:39] vietj commented on #2010
yes unfortunately it missed it

[2018-03-05 03:15] wujimin opened #2331 "bug report: sometimes deploy verticle future not invoked."
vertx version: 3.5.0

create a verticle:
[code]

deploy the verticle:
[code]

in other conditions, eg: port already binded or directly throw exception from verticle.start, deploy future is no problem.

[2018-03-05 09:20] vietj commented on #2331
with this method you need to complete the `startFuture` by yourself, most likely in the http server listen method callback

[2018-03-05 09:20] #2331 closed

[2018-03-05 09:31] wujimin commented on #2331
you can make your test
even i catch the exception and use startFuture.fail, also can not got deploy future callback.

[2018-03-05 11:18] shenzhenMirren opened #2332 "Launcher setClustered invalid"
my VxApiLauncher is extends Launcher
in beforeStartingVertx i setting Clustered is true
but in afterStartingVertx or myVerticle clustered is false
![cluster](https://user-images.githubusercontent.com/24805209/36972441-06b3e0d8-20aa-11e8-98ea-113dd67bc4bf.png)
vert.x version 3.5.1

[2018-03-05 11:50] glassfox commented on #2181
Sharp solution - now I have millions of Error logs. I propose to make some flag that enable this feature or disable it. This will allow silently complete the action without stress the application.

[2018-03-05 12:33] cescoffier commented on #2332
Which version of Vert.x are you using?

Clement

[2018-03-05 14:13] aicfr opened #2334 "Feature: Add Pkcs11Options like Keystore"
In the HCE context, we need to store the private key in an HSM. I tested this naive implementation :)

### Main.java

[code]

### io.vertx.core.net.impl.KeyStoreHelper

[code]

# Configuration example
## JVM

[code]

[2018-03-06 01:15] wujimin commented on #2331
with this test case:
1.only "listen catched" invoked
2."listen callback" and "deploy callback" not invoked

analysis:
1."SSLHelper.validate" throw exception, in this time, for "HttpServerImpl", "listening" is true and "actualServer" is null
2.in io.vertx.core.http.impl.HttpServerImpl.close(Handler<AsyncResult<Void>>), "done" will not be invoked cause "listening" and "actualServer" value

[code]

[2018-03-06 01:59] shenzhenMirren commented on #2332
@cescoffier both version3.5.0 and 3.5.1 hava the same problem

[2018-03-06 07:02] cescoffier commented on #2332
Thanks, I will have a look.

[2018-03-06 09:49] vietj commented on #2331
can you provide a reproducer ?

[2018-03-06 12:27] cescoffier commented on #2332
Found the issue. In your code, you create a new `VertxOptions` object. You can't do this, you need to use the one that is passed as parameter. For instance, the following code is working:

[code]

[2018-03-07 00:48] wujimin commented on #2331
i have provided the reproducer.
the class TestVerticle  and the main function.

with this test case:
1.only "listen catched" invoked
2."listen callback" and "deploy callback" not invoked

[2018-03-09 07:27] wujimin commented on #2331
hi, anyone can help me to confirm this problem?

[2018-03-09 12:10] wkgcass opened #2335 "Support setting local address when using tcp based clients"
Hi,
My friend was using vertx webclient as a crawling client, while the SA of his company require him to specify the local port for some security reasons.
I read the source code of vertx and found out that the current version vertx doesn't support specifying local address when making tcp connections or creating udp sockets.
However I think it's not difficult to achieve such thing:

I walked throug

[2018-03-09 13:52] vietj commented on #2335
feel free to contribute this feature, we can discuss this on vertx-dev group

[2018-03-11 13:01] wkgcass commented on #2335
Hi, I saw that the `local ip string`(which in api is called `localAddress`) could be configured into the netty `Bootstrap` instance.
So I added a `localPort` field in `XXXOptions` classes, and setting the port into bootstrap.
PR is made, #2336 .

[2018-03-12 07:29] #2332 closed

[2018-03-13 20:28] pvub opened #2338 "Continuous IOException when WebSocket write fails due to a closed socket"
Hi,

We are using version 3.5.0, to build a websocket server. At times, when a client's websocket is closed, the EventLoop is still trying to write to the netty Channel, ignoring the closed state. This might be something internal to netty, but I want to ask your team first to understand if there is any known issue.
A result of this, is repeated IOExeptions being thrown on the ExeptionHandler of th

[2018-03-14 06:43] vietj commented on #2338
can you provide a reproducer ?

[2018-03-14 13:48] k-mack opened #2339 "HttpClient send form with file upload"
Creating an HTTP server to receive `multipart/form-data` requests with file uploads is as easy as adding the `BodyHandler.create()` handler to a Router's `route()`. It would be great to just as easily to create an HTTP client request that  _sends_ `multipart/form-data` with (one or more) file uploads.

This would be helpful for:

* Unit testing HTTP servers that can accept file uploads
* Uploading

[2018-03-14 14:10] vietj commented on #2339
you should look at the Vert.x Web Client that shall rather do that and is provides a better API.

[2018-03-14 14:28] k-mack commented on #2339
Moved to vert-x3/vertx-web#862.

[2018-03-14 14:28] #2339 closed

[2018-03-14 16:08] vietj commented on #2338
You should be able to close the websocket from any thread, however I'm asking a reproducer so we can observe the issue as well and find out the issue, without that it's a very speculative thing to do

[2018-03-14 16:27] bmwcmw opened #2340 "Unable to read SSL certificates from jar"
Hi,

Sometimes we want to use key files provided by jar balls, but vertx cannot handle the path.

It'll be cool if vertx allows to look for resources by relative paths in classloader (and use them for SSL certificates in this case).

More information :
### Version

* vert.x core: 3.5.1
* vert.x web: 3.5.1
* openjdk version "1.8.0_151" with 64-Bit Server VM (build 25.151-b12, mixed mode)

### Steps

[2018-03-14 16:39] vietj commented on #2340
have you tried using directly "ssl/cert_fullchain.pem" ? it should load from the jar.

[2018-03-14 17:02] bmwcmw commented on #2340
I works like a charm. Thanks Julien.

[2018-03-14 17:02] #2340 closed

[2018-03-14 19:45] cescoffier opened #2341 "App Id in the start command doc is wrong"
the doc mentions -Dvertx-id instead of —vertx-id

[2018-03-15 00:33] wujimin commented on #2331
can you please reopen this issue first?

[2018-03-15 07:42] vietj commented on #2331
your reproducer is not valid, it should not call `super.start()` and should complete the future instead

[2018-03-16 10:01] gmagniez opened #2342 "HttpClient: wrong poolSize option"
Hi,
in `HttpChannelConnector`, pool sizes are swapped between HTTP1/HTTP2:
[code]

[2018-03-16 10:16] vietj commented on #2342
this is actually normal (although it sounds weird),  the pool uses a weight mechanism to keep track of the number of connections, for instance if http2Size = 2 and http1Size= 5 : maxWeight = 10 and the http1Weight = 2 which means that the pool can contain maxWeight / http1Weight = 5 connections

[2018-03-16 10:16] #2342 closed

[2018-03-20 11:35] zhangtianxiao opened #2345 "About file uploading"
When uploading files directly into the file-uploads directory, can I intercept it?

[2018-03-20 13:26] marcust opened #2346 "Make HttpClientRequest#host() returns the actual server origin of the request instead of the host header"
I was looking into metrics and wanted to group HTTP client request metrics by host. Unfortunately the original host is not easily accessible and before I PR something I wanted to point out that the whole host handling is somewhat confusing right now and start a discussion about naming.

So `HttpClientRequestBase` has a `host` field, that will be populated in the constructor by the default host or

[2018-03-20 19:34] vietj commented on #2346
actually the current `host()` on HttpServerRequest should be called `virtualHost()` rather and the `host()` should return the value of the server the connection is done.

[2018-03-20 19:35] vietj commented on #2346
right now I don't want to add a more confusing method to access the host value and I would rather correct this instead in a way that does not break.

[2018-03-20 19:38] vietj commented on #2346
you are right, that's something we should improve, calling this header `host` was not a good idea

[2018-03-20 19:41] vietj commented on #2346
I would be inclined to fix this in 3.6.0 event if it may break things. In practice people using this will parse the method to detect the colon and just get the part they are interested to, that's what Vert.x Web does in the virtual host handler:

[code]

[2018-03-20 19:41] vietj commented on #2346
in addition the vertx-web-client has an `host` on `HttpRequest` that is clearly the connecting host.

[2018-03-20 19:44] vietj commented on #2346
Actually all these names are very confusing :-)

[2018-03-20 19:45] vietj commented on #2346
at the same time I find also not incorrect to name it `host`

[2018-03-20 21:37] vietj commented on #2346
can you explain your use case ? it seems that you are actually implementing a Metrics SPI ?

[2018-03-20 21:38] vietj commented on #2346
now that I think about it, the host value is actually context: when creating a request (i.e connecting to a server) then host means the server to connect to, when dealing with the request, then host means the host header.

[2018-03-20 21:50] marcust commented on #2346
Hey @vietj, yes, I'm talking about the vertx-prometheus-metrics, or rather my fork of it. The original uses the full request URI as a metric label, which results in a lot of metrics and is somewhat not really useful, at least for my use-case. I guess it is great when you talk to some defined endpoints, but as soon as you have IDs in your URL it becomes messy. I have a vert.x based api facade and t

[2018-03-21 06:32] vietj commented on #2346
for now this would be confusing, what I'm inclined to have is this host field public (final) on HttpClientRequestBase and have you cast until we figure out the best thing to do in the future

[2018-03-21 06:35] vietj commented on #2346
alsos I think we need to think about upcoming socket unix domain support, how do you intent to handle this case ?

[2018-03-21 08:01] marcust commented on #2346
My rationale was more that a `host()` method would at least make it consistent on the `HttpClientRequestBase`, no? All the other things (`hostHeader()`, `getHost()`) are either `protected` or on the `HttpClientRequestImpl` which is not part of the interface. It is nicer than exposing a field, also from the maintenance point of view.

I didn't have a look in the unix domain sockets yet, if you poin

[2018-03-21 08:03] marcust commented on #2346
Actually, it has to go to the `HttpClientRequest` as well, because that is the overall interface. And then we are just stuck with the confusing `getHost()` method that can be renamed in the next major version as a breaking change. That looks like the cleaner migration path to me.

[2018-03-21 08:25] vietj commented on #2346
having both host() and getHost() would be very confusing API and I haven't figured out what would be the best thing to do since the _host_ name is overloaded (which is a source of confusion). My proposal requires you to cast HttpClientRequest to HttpClientRequestBase but has the benefit to be straightforward to implement and solves the issues immediately.

[2018-03-21 10:04] marcust commented on #2346
Ok, I can live with the casting, but can we at least still have an accessor method? I don't want to access the bare field....

[2018-03-21 10:19] vietj commented on #2346
sure thing

[2018-03-21 16:06] marcust opened #2349 "Measuring the event-loop"
So I stumbled upon
`    // No metrics, we are on the event loop.`
and was wondering what one has to do with the other? Why shouldn't I want to measure my eventloop throughput?

[2018-03-21 16:31] vietj commented on #2349
the event loop process a lot of metrics and typically measuring them would affect performance, so it's rather a deliberate choice. In addition we don't think that the metrics of the event loop is important because you can easily figure out that the thread is busy or not looking at the CPU metrics.

however for the blocking tasks, it's important to have metrics because there is an underlying thread

[2018-03-21 20:50] tsegismont opened #2350 "Clustering tests: let cluster managers decide how to tear down clustered nodes"
Currently, the base test class stops all nodes at the same time.

[2018-03-21 20:54] #2350 closed

[2018-03-22 09:00] marcust commented on #2349
Well, it is not about busy or not but rather too busy, no? If the event loop has a very long queue I can get great throughput but shitty latency and if I want to see that I currently have no way to do that other than measuring response metrics and guessing the cause.

If I get it correctly the overhead of metrics (three != null checks) is already there because `wrapTask` is used for all. And we co

[2018-03-22 09:08] vietj commented on #2349
actually I would like to remove the wrapTask on event loop in the future because it's not strictly necessary in some cases.

I think we should rather try to have a callback that provides access to `SingleThreadEventExecutor` that exposes the number of pending tasks, if that's what you are looking for

[2018-03-22 11:03] marcust commented on #2349
`SingleThreadEventExecutor` sounds like a good starting point, but I actually don't understand where I would interface with that.

[2018-03-22 12:30] kevlarC opened #2351 "vertx reactive route debugging loosing information."
The following is a debug statement from the router

Route matches: Route[ path:/internal/locationservice/v1/location/upload pattern:null handlers:[io.vertx.reactivex.ext.web.Route$1@6eb5570f] failureHandlers:[io.vertx.reactivex.ext.web.Route$4@472a4fc4] order:21 methods:[POST]]@1207255076

Note that the context of the handlers are totally lost so the debug statements are pointless.
This is due to

[2018-03-22 12:31] vietj commented on #2349
I think that we should extend the metrics interface to get a callback when an event loop is created and pass this as ref, so the metrics implemnetation can poll it when it needs

[2018-03-22 13:11] tsegismont commented on #2351
Sounds like a valid concern to me. But could you please move it over to
https://github.com/vert-x3/vertx-rx/ ?

Thank you!

[2018-03-22 14:19] jotak opened #2352 "Remove timer callbacks from the metrics SPI"
In the upcoming `vertx-micrometer-metrics` module, timer metrics are not implemented. They were not implemented either in the Hawkular module.

If this metric is not relevant / not seen as useful, it should probably be deprecated. The related API methods are:

- `VertxMetrics.timerCreated`
- `VertxMetrics.timerEnded`

As far as I know they're only implemented in `vertx-dropwizard-metrics`

In the

[2018-03-22 16:19] nolequen opened #2353 "There is no proper way to store mutable objects in a local map"
It is possible only for JsonObject, byte array and some other copyable objects known to vert.x.
It would be usefull to have mechanism to store mutable user objects in a local map if they can be copied.

[2018-03-22 18:11] vietj commented on #2352
so shouldn't this issue be a question rather than a statement ?

[2018-03-22 19:21] vietj commented on #2352
also I believe if we do it, we would just remove it and not bother with deprecations

[2018-03-23 07:42] jotak commented on #2352
@vietj I cannot add labels such as "Question", but yes, it is.

[2018-03-23 15:38] tsegismont commented on #2352
@vietj I asked @jotak to file this issue. In fact I had asked him to file an issue in `vertx-micrometer-metrics` to remember implementing those metrics... But then he told me you said in a previous review that they were useless and wanted to remove them.

As for deprecation, my understanding during F2F was that we would try to avoid removing right away and deprecate for like, two versions.

[2018-03-23 15:50] vietj commented on #2352
concerning deprecation : that's SPI, not API, so it's different

[2018-03-23 20:09] pvub commented on #2338
@vietj Here is a simple reproducer. I have a replay server which will just write a message to the socket when a client connects, repeatedly, trying to fill the out queue. After a minute, it will close the socket on a timer. At that time, we'll see repeated "ClosedChannelException". This also happens when we kill the client as well. The idea is to write large amounts of messages that are still pend

[2018-03-25 08:11] vietj commented on #2338
will have a look

[2018-03-26 08:03] tsegismont commented on #2352
ok so how do we turn this question into a PR? Should we write to the vertx-dev?

[2018-03-26 09:09] vietj commented on #2326
so we should also have a client setting that defines the keep alive value if the server does not provide it

[2018-03-26 11:54] vietj commented on #2352
I think this conversation is fine, prepare a PR for the concerned modules

[2018-03-26 11:59] vietj commented on #2326
@luengnat here is a branch for the feature - the keep alive timeout is used from the server response otherwise it uses a default value from the options https://github.com/eclipse/vert.x/tree/http-client-pool-timeout

[2018-03-26 12:18] marcust commented on #2349
So from how I see it, the problem is that the actual `SingleThreadEventExecutor` is hidden in the NioEventLoopGroup and it's `newChild` method. So no easy access here, or do I read that wrong?

I think it would still be easier via the `PoolMetrics`.

[2018-03-26 12:28] vietj commented on #2349
I don't think so, you can schedule the callback as a task on the event loop and call the metrics in this task

[2018-03-26 16:25] vietj commented on #2346
we can open up I think, it still remains impl

[2018-03-26 17:32] marcust commented on #2346
Ok

[2018-03-27 03:24] wujimin commented on #2331
1.infact your super.start() is a empty method, there is no any effect here.
2.after i delete super.start(), i got the same result.
3.in my reproducer, can print "listen catched", you can see i had invoke "startFuture.fail(e)"

why not just copy my code and run it?
just need a little seconds.

[2018-03-27 04:55] ruslansennov commented on #2331
@wujimin

but you don't call `startFuture.complete()`. Try something like this:

[code]

[2018-03-27 04:55] wujimin commented on #2331
when someone report this problem to me
i wrote the reproducer,  traced vertx source code:
 io.vertx.core.http.impl.HttpServerImpl.close(Handler<AsyncResult>), and found that  "close" ignored all logic because of illegal state

maybe you no need to judge this issue is valid or invalid immediately
just try it and trace your source code
thanks.

[2018-03-27 05:04] wujimin commented on #2331
the code never run to listen callback.
it seems that you did not read my description at all......

[2018-03-27 05:26] ruslansennov commented on #2331
@vietj @wujimin  I can reproduce this issue. Closing the `HttpServer` in the `catch` block fixes the problem
[code]

[2018-03-27 06:30] wujimin commented on #2331
ok, thanks.
now we can got deploy callback by close httpServer.

and a suggestion：
it's not so good
if listen failed, listen callback will not be invoked, and need developers catch exception and close manually
it still seems to be a bug, but now we have a method to avoid it.

[2018-03-27 16:36] vietj commented on #2338
can you share it as a java project with Maven ?

[2018-03-27 16:38] #2346 closed

[2018-03-28 06:01] vietj commented on #2352
well actually removing them would create a breaking change for dropwizard

[2018-03-28 11:18] tsegismont commented on #2352
You must be kidding me. You troll 😏

[2018-03-28 12:36] vietj commented on #2352
no, it's a mistake, I'm sorry for that.

that being said I don't understand the initial motivation for removing it. Is it very complicated to implement or you think it's really useless ?

[2018-03-28 13:05] tsegismont commented on #2352
It's not complex to implement but you said in a conversation with Joel that they were not useful and we agree. See https://github.com/eclipse/vert.x/issues/2352#issuecomment-375706571

[2018-03-28 13:21] vietj commented on #2352
yes i would remove it too, but it might cost us more (complaints, justifications) to remove it (breaking change) than keeping it or being a NOOP. we can remove it later.

[2018-03-28 13:22] vietj commented on #2352
again I'm sorry to have make you spend some time there. just make them noop and open an issue for removing later. so it's kinda deprecated but it's not a user facing API.

[2018-03-28 13:58] guoyu511 commented on #2193
@vietj
I have see the same warning on my GCE machines, CentOS 7.

Actually it caused by a incorrect usage of SO_REUSEPORT at here:

https://github.com/eclipse/vert.x/blob/c79c698d2dc36f26245e4c390c0db755eb1a91fd/src/main/java/io/vertx/core/net/impl/transport/Transport.java#L244

The SO_REUSEPORT option should be set to the ServerBootstrap it self, not the child channels.

I have made a test to rep

[2018-03-28 14:33] jotak commented on #2352
Maybe we can implement a deprecation mechanism in dropwizard module: disable these metrics by default, but provide a config flag to re-enable it? Or is it an overkill?

[2018-03-28 15:00] vietj commented on #2352
overkill :-)

[2018-03-28 15:01] vietj commented on #2352
I think the best thing to do would be to figure out whether people actually uses it or not.

[2018-03-28 16:06] tsegismont commented on #2352
@jotak, can you drop an email in the vertx forum to:
- explain we'd like to deprecate the SPI callbacks and remove them in a
couple version
- ask if anyone does anything relevant with the derived metric

Thanks

[2018-03-29 13:45] vietj opened #2359 "Context improvements"
A few improvements and simplifications can be done in Vert.x `Context`

- remove the internal `ContextTask` functional interface (which is a `Runnable` that can throw) as we can use `Handler<Void>` in practice which unified the internal `Context#wrapTask` method
- remove the internal `Action` functional interface (which is similar to a `Callable`) as we can use the `Handler<Future<T>>` idiom inste

[2018-03-29 23:22] GeorgeMH opened #2361 "Json#decodeValue cannot deserialize a JSON null/number/boolean from a Buffer"
### Version

* vert.x core: 3.5.1

### Context

An EOFException is unexpectedly thrown when deserializing a JSON primitive (null, Integer, String) from a vert.x `Buffer`. Unrolling the buffer into a String prior to deserialization works as expected.

### Do you have a reproducer?

* https://github.com/GeorgeMH/vertx-json-eof-bug

### Steps to reproduce

1. Call `Json.encodeToBuffer(42)`
2. Call `J

[2018-03-30 05:40] vietj commented on #2361
I can see it, it seems that as the parser does not know the length of the integer then it fails because of EOFExceptinon, but I think the parser should somehow check there are still more bytes to read, so I suspect an issue with Jackson, but that would be a quite gross and obvious issue.

[2018-03-30 05:42] vietj commented on #2361
the following gives the same:

[code]

[2018-03-30 05:45] vietj commented on #2361
I don't understand how jackson can parse numbers from an InputStream...

[2018-03-30 05:47] vietj commented on #2361
by comparison this works:

[code]

so I think that we should not cast it to a `DataInput`

[2018-03-30 06:06] vietj commented on #2361
reported here https://github.com/FasterXML/jackson-databind/issues/1985 - I will fix it by forcing the casting to `InputStream` rather than `DataInput`

[2018-03-30 06:23] #2361 closed, assigned to vietj

[2018-03-31 11:47] vietj opened #2362 "HTTP/2 via HTTP/1.1 connection upgrade does not respect the protocol"
Currently, the upgrade implementation assumes that the HTTP/1.1 request should not be treated as an HTTP/2 stream and only send an HTTP/1.1 response.

[2018-04-02 18:18] dinhnn opened #2363 "java.lang.NoClassDefFoundError"
https://github.com/eclipse/vert.x/blob/354abf0332a5218959c32f237b622bdfcd26faae/src/main/java/io/vertx/core/impl/DeploymentManager.java#L205

Need to catch as Throwable.
Explain: MavenVerticleFactory resolve "compile" scope only. MavenVerticleFactory will missing some runtime dependencies, NoClassDefFoundError will throw and this block can not catch it.
Console prints only "INFO: Resolving xxxxx.x

[2018-04-03 14:33] amorozow42 opened #2364 "EventBus message fail method overload without error code"
For now class "Message" have only one way to report about failure on consumer side:

```void fail(int failureCode, String message);```

Maybe this is useful for proxy services, but for simple message passing it is redundant. I need to define some list of error codes and maintain it on clients. But I just want to send a simple message to some address and get simple response (OK or NOT).

What was t

[2018-04-04 04:33] vietj opened #2365 "HTTP server connection keeps processing pending pipelined requests when connection closed"
Currently the HTTP server keeps processing pipelined HTTP messages when the connection is closed during the processing of a request and there are pending HTTP request in the server pipeline (i.e the response has not been sent). This is due to a bug that when a message has not been processed during a check, the connection redo the check and it must not do it.

Changes: we only trigger an message pr

[2018-04-04 10:27] leolux opened #2368 "Exception in DefaultChannelPipeline: it reached at the tail of the pipeline"
Today I received a lot of exceptions every millisecond for hours looking like an infinite loop in the log file:

[code]

1. What does this come from? Does i thappen during request or response handling or during SSL handshake?
2. Where to add a exception handler to catch this exception
3. Where does **T H I S  I S  J U S T  A  S U R V E Y !** come from?

[2018-04-04 10:48] pmlopes commented on #2368
I think the item 3 is because someone is handcrafting the HTTP request with that string instead of the HTTP version, for example when you start the request using a tool like telnet and do:

[code]

[2018-04-04 10:51] vietj commented on #2368
1. it seems to happen on a non TLS connection according to the stack trace (no SslHandler)
2. we do have an HttpServer#exceptionHandler but I think currently it won't catch these messages, the current behavior of Vert.x when this happens is to close the connection, but it could be a good option I think to add it
3. as @pmlopes said

[2018-04-04 10:57] micou commented on #2368
Hello,
It is funny we have been spammed by this during the night.

[2018-04-04 11:06] leolux commented on #2368
Ok, thanks! For me it looks like a DoS attack with a http fuzz.

@micou What do you mean by "spammed during the night"? Are ther some other victims as well?

[2018-04-04 11:25] micou commented on #2368
Yes we have been victim of a DoS attack :(

[2018-04-04 12:02] leolux commented on #2368
@micou In my case it was on port 80. How to find out where this requests came from?

@videlalvaro Is it possible to get the source IP for http fuzz attacks?

[2018-04-04 16:30] vietj commented on #2368
I'm closing this issue unless there is a real bug

[2018-04-04 16:35] leolux commented on #2368
Alright, thanks!

[2018-04-05 08:37] #2359 closed

[2018-04-05 09:10] #2365 closed

[2018-04-05 15:41] oripwk opened #2369 "An illegal reflective access operation has occurred"
When running a Vert.x instance, the following warnings will be output to stdout:
[code]

These warnings were fixed by https://github.com/netty/netty/pull/7650 and are available in release 4.1.21.Final and later

Upgrading the Netty dependency to that version should fix that problem

[2018-04-06 19:31] pvub commented on #2338
Here it is.
[VertxTest.zip](https://github.com/eclipse/vert.x/files/1885351/VertxTest.zip)

[2018-04-07 08:20] vietj opened #2370 "HttpClient pool gets inconsistent on a synchronous connection failure"
The HttpClient pool assumes that the underlying `ConnectionProvider` will make an asynchronous callback, which is the case with the asynchronous DNS resolver but not with the JVM synchronous resolver when the host cannot be resolved.

[2018-04-07 08:41] KingWang93 opened #2371 "How does the BlockedThreadChecker work?"
where BlockedThreadChecker call registerThread（VertxThread）?

[2018-04-07 08:42] #2370 closed

[2018-04-07 14:52] manikantag opened #2372 "Clustered event bus traffic security [doc issue]"
Hi, I'm new to Vert.x and going through documentation. Not sure where to report doc issues.

I m going through '**Security notes**' (https://vertx.io/docs/vertx-core/java/#_clustered_event_bus_traffic), and it is mentioned:

But in '**Configuring the event bus**' (https://vertx.io/docs/vertx-core/java/#_configuring_the_event_bus) section, it is mentioned we can provide keystore for secure communic

[2018-04-07 14:55] manikantag commented on #2372
Also, another doc bug is here: https://vertx.io/docs/vertx-core/java/#_specifying_a_handler_on_the_client_request

It is saying:

But, we can provide the handler later as well, right?

[2018-04-08 09:50] vietj commented on #2372
this is correct for the client handler @manikantag

[2018-04-08 09:51] vietj commented on #2372
@manikantag yes it should say that it cannot be trusted by default

[2018-04-08 16:45] manikantag commented on #2372
@vietj I m getting confused about your comments.

Do you mean the document is correct regarding client handler?

So, does that mean, by default the traffic is not encrypted. But if we provide keystores then the traffic will be encrypted?

[2018-04-09 08:13] vietj opened #2373 "Don't route connection write promise failures in the pipeline"
Currently the `ConnectionBase#writeToChannel(Object)` method uses the channel void promise for the channel write. When an error occurs, the channel void promise will invoke the pipeline exception handling. This can create undesired loop where an API exception handling performs a write operations that fails and invoke the same exception handler again for its own failure.

Instead we create our own

[2018-04-09 08:15] #2373 closed

[2018-04-09 09:09] vmaurin opened #2374 "Uncaught exception in Netty pipeline"
Hello,
While running servers with vert.x 3.5.1 (vertx + vertx web), I got
"An exceptionCaught() event was fired, and it reached at the tail of the pipeline. It usually means the last handler in the pipeline did not handle the exception."
The exception itself is an java.lang.IllegalArgumentException thrown by io.netty.handler.codec.http.HttpVersion either for empty version or invalid version.
So fa

[2018-04-09 10:32] vietj commented on #2374
Hi,

if that's the first request the connection has not yet been recognized as an HTTP/1 request and thus the error will be handled by the HttpServer#exceptionHandler (it may be also an HTTP/2 connection)

when it's the second request, the HttpConnection object has been created and the HttpConnection#exceptionHandler should propagate it

the error you are observing means that the handler was not y

[2018-04-09 10:32] vietj commented on #2374
if you can provide a reproducer or context about it, it would be great!

[2018-04-09 11:37] manikantag commented on #1472
@cescoffier Better mention this in the doc here: https://vertx.io/docs/vertx-core/java/#_sub_classing_the_launcher

I just wasted 2 hrs to figure this out. I debugged the flow and found out `BareCommand.beforeStartingVertx` is still seeing 'io.vertx.core.Launcher` as the launcher class (`main` holds that value) and then it stricken me if I had to call `dispatch()` on my custom sub class.

[2018-04-09 11:59] vmaurin commented on #2374
@vietj  Thank you for the fast reply.
Unfortunately, I was not able to reproduce it so far (it is appearing randomly on servers receiving 1B requests/day and loop/log infinitely on the error).
According what you say, I will try to go in this direction.
Note that I have done some test with vert.x 3.3.3 and here I got the exception catched by the ConnectionBase, whatever is the first or second reque

[2018-04-09 12:05] pacman123 commented on #1570
Is this issue closed? I can still see vertx3.5 dependent on 4.1.15. https://mvnrepository.com/artifact/io.vertx/vertx-core/3.5.0

[2018-04-09 12:12] vmaurin commented on #2374
Ok with your advice, I reproduce the error

Here the server code
[code]

Then with netcat, I send the following requests in a single connection
[code]

It is resulting netty looping with the following error
[code]

[2018-04-09 12:30] vietj commented on #2374
can you check with vertx master ? I've done changes there recently

[2018-04-09 12:31] vmaurin commented on #2374
Ok I will try. Narrowing down the issue, it is actually when there are unexpected additional bytes in a keep-alive query.
An other example
[code]

[2018-04-09 12:31] vietj commented on #2374
if you can provide reproducers for all case that's great :-)

[2018-04-09 12:32] vietj commented on #2374
there are already tests similar for that in Http1xTest, for instance for checking invalid chunked encoding

[2018-04-09 12:32] pacman123 commented on #2031
@vietj Netty is not updated to 4.1.5  in vertx 3.5.1 (https://mvnrepository.com/artifact/io.vertx/vertx-core/3.5.1 ). We could we expect this update?

[2018-04-09 12:33] vietj commented on #2031
netty is 4.1.19.Final in 3.5.1

[2018-04-09 12:45] tsegismont commented on #2371
It is called in `VertxThreadFactory`: https://github.com/tsegismont/vert.x/blob/a5790d57e00d68ba62ba7fe6524fdb967cc388c3/src/main/java/io/vertx/core/impl/VertxThreadFactory.java#L59

[2018-04-09 12:45] #2371 closed

[2018-04-09 13:31] vmaurin commented on #2374
So with master branch and the server code above, the behavior is having the IllegalArgumentException in the server exceptionHandler, I guess that makes sense (the first request is processed, then the leading bytes are considered as invalid second http request).

Regarding tests, I am not able to write one, I don't understand why.
I have tried
[code]

But then the exception in unhandled.

[2018-04-09 13:59] vietj commented on #2374
I will have a look quickly with your test and report

[2018-04-09 14:04] vietj commented on #2374
the code needs to be

[code]

[2018-04-09 14:13] vietj commented on #2374
this passes constantly:

[code]

what is weird is the exception handler on connection or server is chosen randomly and I haven't figured out yet why

[2018-04-09 14:24] vietj commented on #2374
so if I replace in `Http1xOrH2CHandler`:

[code]

by

[code]

it fails consistently on the connection exception handler, so I think that the pipeline update creates a (safe) race

[2018-04-09 14:28] vietj commented on #2374
if I print the actual buffers received here is what we get

[code]

1: means fail in one handler
2: means fail in another

so it makes sense to me now

[2018-04-09 14:31] vietj commented on #2374
so I will change to

[code]

because the failure should happen at the connection level and not at the server level since HTTP/1 was identified as protocol

[2018-04-09 14:44] vmaurin commented on #2374
When I send directly an invalid protocol (so connecting and send `GET / invalid` for example), I get a server error. That could means that sometime we will get the IllegalArgumentException in server handler or in connection handler depending if one request has been processed or not. Somehow it could make sense, but it could lead to some confusion ? Could it be better to group all protocol parsing

[2018-04-09 14:49] vietj commented on #2374
with the patch I'm doing, it should always be processed consistently in the HttpConnection handler

[2018-04-09 14:53] vietj commented on #2374
there is alraedy a similar test that tests invalid HTTP value : look at Http1xTest#testIncorrectHttpVersion

[2018-04-09 14:58] vietj opened #2375 "Http1xOrH2CHandler should remove itself before firing the buffer"
Currently the `Http1xOrH2CHandler` removes itself after firing the buffer which leads the `Http1xOrH2CHandler` to process a decoded error (that is fired in the pipeline to be treated like a network error). It should should remove itself before, since once the protocol has been identified, it should not interact anymore with the pipeline

[2018-04-09 14:59] vietj commented on #2374
@vmaurin please see https://github.com/eclipse/vert.x/tree/http1xorh2chandler-removes-itself-before

[2018-04-09 15:08] vmaurin commented on #2374
@vietj It is looking good to me. Maybe the invalid request test here https://github.com/eclipse/vert.x/compare/master...http1xorh2chandler-removes-itself-before#diff-73e097b00cba4c4e2fe7cc0d5ebccf69R1691 should actually be looking more like a request no ?

[2018-04-09 15:10] vietj commented on #2374
what do you mean ?

[2018-04-09 15:35] vmaurin commented on #2374
The request string is `HTTP/1.2 200 OK\r\nContent-Length:5\r\n\r\nHELLO`
Should it be better with `POST / HTTP/1.2\r\nContent-Length:5\r\n\r\nHELLO` ?

[2018-04-09 16:15] vietj commented on #2374
we can but from the internal behavior perspective it is not necessary as the http server decode does not make HTTP interpretation

[2018-04-09 16:36] vietj commented on #2374
ah yes it should, sorry

[2018-04-09 16:51] #2375 closed

[2018-04-10 06:43] vietj commented on #2364
what API would you like to have instead ?

[2018-04-10 06:43] vietj commented on #2363
can you provide a reproducer ?

[2018-04-10 06:45] vietj commented on #2351
@kevlarC can you reopen this issue in the vertx-rx repo ?

[2018-04-10 06:45] #2351 closed

[2018-04-10 08:07] micou opened #2376 "net client idle in ms"
Hello,
I am using vertx redis and I need to idle timeout in less than a seconds. I am using Redis vertx and I have checked that NetClientImpl always call IdleStateHandler in a way that it will idle in seconds.

Do you support only TimeUnit.SECONDS for a specific reason ?

[2018-04-10 08:19] vietj opened #2377 "The http server request exception handler should observe the response as closed on a close event"

[2018-04-10 08:19] #2377 closed, assigned to nobody

[2018-04-10 09:05] romero commented on #2364
```void fail(String message);```
But I would like to see it like additional API of course.
Original method should be left.

[2018-04-10 09:06] micou commented on #2376
Ok, I will implement it this week.

Thanks @vietj

[2018-04-10 09:15] vietj commented on #2364
so this overload would call the same with a default error code ?

[2018-04-10 09:48] romero commented on #2364
It depends on the way error code is represented.
Have looked at the docs now and haven`t found anything about it.
How does sender get error code?)

[2018-04-10 09:51] vietj commented on #2364
you obtain it from the `ReplyException` which has a failure code

[2018-04-10 10:27] romero commented on #2364
Got it, thank you!
Hm, and what error code is set if we get error of type TIMEOUT or NO_HANDLERS?

[2018-04-10 13:12] vietj commented on #2364
it think it could be the lowest error code possible and we indicate that in the javadoc

[2018-04-10 13:39] romero commented on #2364
I can not find any notes about it in javadoc.
But I got the idea.
If so, yes, we can overload method ```fail``` and pass the same error code as for these two.

[2018-04-10 14:10] JohnWarnerEF opened #2379 "Typo prevents configuration of EpollTransport"
Inside of `Transport.java`, the configure method has the following:
[code]
But inside `EpollTransport.java` it is looking for:
[code]

[2018-04-10 15:09] vietj commented on #2364
these are handled by vertx itself internally, you don't need to set them

[2018-04-10 15:32] #2379 closed

[2018-04-10 15:33] bauchpinsel opened #2380 "HTTP connection may not be released properly after multipart upload"
Version 3.5.1

[code]

The code was taken from the BodyHandler. Using the following code and a small file (2 byte) causes the problem

[code]

The second request is stuck and the vert.x handler is never called. Problem is associated with HttpServerFileUploadImpl.streamToFileSystem.

[code]

The resume() Method sometimes instantly calls the endHandler (without another eventloop iteration). When thi

[2018-04-10 15:34] #2374 closed

[2018-04-10 15:57] vietj commented on #2380
I'm not able to reproduce it, can you describe why no other request is processed ? is it because your end handler is not called ?

[2018-04-10 16:00] vietj commented on #2380
actually I'm able to reproduce it on 3.5.1

[2018-04-10 16:31] vietj commented on #2380
it's actually not related to file upload but rather to body processing from the http server, I'll rename the issue with a title that reflects the actual issue

[2018-04-10 16:35] vietj commented on #2380
here is a test for it:

[code]

[2018-04-10 16:35] vietj commented on #2380
I'll push a fix on top of the _http_improvements_ feature branch to avoid merge conflicts

[2018-04-10 18:18] earezki opened #2381 "CONTENT_LENGTH should be set in the end method not write"
I encountered a behaviour which looks weird when I was trying to create a seperate Handler that ends a Response. [For a reason!].

As a solution, I think we should write the headers only in the end method and if we're trying to and not while writing.

If you agree, let me know to create a PR.

Cheers

[2018-04-10 19:04] vietj commented on #2381
hi @earezki can you first create a test for this issue ?

[2018-04-10 19:18] earezki commented on #2381
It's not a real issue, but more of an improvement.
In the 'HttpServerResponseImpl', the CONTENT LENGTH header is set in the 'write' method with a value of "-1L" (as of version 3.5). Now, I think that the only way to add the content length to the headers, is if I explicitly put it in the response headers, or If I used 'end(DataType)', but If I write(Data) then end(), the CONTENT LENGTH is not updat

[2018-04-10 19:27] vietj commented on #2381
any change of behavior should have a corresponding test

[2018-04-10 19:53] Addvilz commented on #2369
Any ETA on that upgrade? Is there anything community can do to speed that up (PR's, best wishes, annoying you till you bend...)?

[2018-04-10 20:47] qizhengyu opened #2382 "HTTP Download Server takes very long to open large file"
I tried to setup two HTTP Servers.
Server1 is user facing, accepting REST request to download large file. Server1 then forward request to Server2 to get file.
Server2 will open file from filesystem and send it back.

Results:
100MB file -> It takes 2 ~ 5 seconds to start download.
1GB file -> It takes 5 ~ 10 seconds to start download.
10GB file -> It takes 70 ~ 100 seconds to start download.

Code

[2018-04-11 01:55] anuger opened #2384 "can Future restore？"
I had a method as:
[code]

When catch a exception， happend:
![image](https://user-images.githubusercontent.com/24793128/38592205-57502e5e-3d6d-11e8-8601-c3a28cb97d17.png)

* **how can i do? or is there any better way to write it?**

* **This will solve the problem, but it will be so bad**
![image](https://user-images.githubusercontent.com/24793128/38592387-5a50a9d4-3d6e-11e8-96e4-731d6266fee2.png)

[2018-04-11 05:48] vietj commented on #2369
I usually handle myself netty upgrade because it can be tricky.

[2018-04-11 05:49] vietj commented on #2369
but it will be done, there are just other PR's in the pipeline that are waiting for being merged before

[2018-04-11 06:29] vietj commented on #2382
can you provide a project that reproduces it ?

[2018-04-11 07:44] vietj commented on #2384
it's not clear what you want to achieve

[2018-04-11 08:02] Addvilz commented on #2369
Sure, considering this is more of a slight inconvenience than immediate issue, no pressure.

[2018-04-11 08:09] vietj commented on #2369
yes, it's really cosmetic

[2018-04-11 10:44] diliuskh opened #2385 "public interface VertxInternal exposes package private classes WorkerPool and WorkerExecutorImpl"
I'm trying to implement a wrapper for Vertx instance that would do some custom stuff before delegating to actual instance. Implementing only Vertx interface would not work(in some cases Vertx instance is casted to VertxInternal inside vertx libs).

[2018-04-11 10:49] vietj commented on #2385
can you provide a PR for this ?

[2018-04-11 10:52] vietj opened #2386 "Provide a value version of runOnContext on ContextInternal"
Sometimes we write this idiomatic code:

[code]

Having a value version:

[code]

would allow to simply write instead:

[code]

without an extra capturing lambda and be more concise and remains readable.

I'm targetting `ContextInternal` to avoid overloading `Context` with an extra method that would create unnecessary API noise.

[2018-04-11 10:53] vietj commented on #2386
Not urgent, more like a place holder

[2018-04-11 10:56] diliuskh commented on #2385
@vietj sure.

[2018-04-11 11:42] romero commented on #2364
Ok, that`s even better.

[2018-04-11 14:26] vietj commented on #2338
the project does not compile:

[code]

[2018-04-11 14:27] qizhengyu commented on #2382
@vietj
I just pushed the code to my git. https://github.com/qizhengyu/vertx-practise

You can run "Main.java" to start both HttpServer.
http server1 bootstrap successful, listening on port: 8083
http server2 bootstrap successful, listening on port: 8084

Do a GET http://localhost/:8083/file1
This will download the test file. The checked in file is a small test.tar file under main/resources/test.ta

[2018-04-11 14:33] vietj commented on #2382
thanks @qizhengyu

[2018-04-11 14:57] pvub commented on #2338
Fixed the compile error. Here is the latest.
[VertxTest.zip](https://github.com/eclipse/vert.x/files/1899338/VertxTest.zip)

[2018-04-11 15:41] vietj commented on #2338
it still does not compile

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.1:compile (default-compile) on project VertxTest: Compilation failure
[ERROR] /Users/julien/Downloads/VertxTest/src/main/java/com/pvub/vertxtest/WSReplay.java:[48,17] cannot find symbol
[ERROR]   symbol:   method setPerMessageWebsocketCompressionSupported(boolean)
[ERROR]   location: variable

[2018-04-11 15:44] pvub commented on #2338
I was using a build off a branch with permessage-deflate compression. I remove that option now, so it should work with mainline. Sorry for the back-and-forth.
[VertxTest.zip](https://github.com/eclipse/vert.x/files/1899509/VertxTest.zip)

[2018-04-11 16:11] #2362 closed

[2018-04-13 11:02] romero commented on #2364
Found that code:

[code]

Looks very easy to implement new method in class Message using this.
I can submit PR.

[2018-04-13 22:31] yacota opened #2388 "Http1xServerConnection's processMessage seems to hang one of my event-loops"
Our server is using Vertx 3.5.1, it handles thousands of request/sec from thousands of JS clients. Those JS clients sometimes create rubbish request with strange chars

    ar.bids%±FÌo¥out=false&

When processing query parameters with invalid chars like the one above we don't have problems because Http1xServerConnection's processMessage always return true, this can be check with the following

[2018-04-14 05:43] tsegismont commented on #2388
Can you try with a 3.6 snapshot build? I believe this has been fixed in
master.

2018-04-14 0:31 GMT+02:00 Jordi Llach <notifications@github.com>:

[2018-04-14 06:53] vietj commented on #2388
@yacota as @tsegismont said you should check with master, we intent to backport these fixes in a 3.52

[2018-04-14 19:33] vietj commented on #2382
it is not clear what should be observed and how, can you clarify ?

[2018-04-14 19:35] vietj commented on #2338
can you say how to use this reproducer ?

[2018-04-14 19:36] vietj commented on #2328
actually it's not really for internal usage, it's design for when you want to run a clustered vertx and programmatically set a cluster manager. it works also the same for MetricsOptions.

[2018-04-14 19:37] #2328 closed

[2018-04-14 19:38] #2341 closed

[2018-04-14 19:46] vietj commented on #2320
`SSLSession.getPeerCertificateChain()` uses the `java.security.cert.Certificate` type and not `java.security.cert.X509Certificate` (although internally it seems those are stored as `java.security.cert.X509Certificate`).

that being said you can get the `SSLSession` from `HttpConnection` and use either method.

I would rather in the future remove these methods in favor of using the `SSLSession`

[2018-04-14 19:48] vietj commented on #2288
unless you can reproduce it with vertx 3.5.1 or later, I will close this issue

[2018-04-14 19:48] #2288 closed

[2018-04-14 19:53] #1310 closed

[2018-04-14 19:53] vietj commented on #1302
@tsegismont can you provide a patch to fix this for 3.6.0 ?

[2018-04-14 19:54] vietj commented on #1302
assigned to you @tsegismont

[2018-04-14 19:54] #1273 closed

[2018-04-14 20:06] vietj commented on #1326
the junit gist showing bug pass with current master

[2018-04-14 20:06] #1326 closed

[2018-04-14 20:10] vietj commented on #1347
I'm closing this issue as we haven't had a clean reproducer for this and the actual code in ConnectionBase has changed significantly since this was reported.

[2018-04-14 20:10] #1347 closed

[2018-04-14 20:11] vietj commented on #1347
reopen if you can reproduce with 3.5.x

[2018-04-14 20:24] vietj commented on #1396
won't set a milestone on this because it has been probably fixed in previous versions

[2018-04-14 20:27] vietj commented on #1461
closing this issue as the certificate access has been provided and the native OpenSSL support is partially covering certificate access which is not a defect of Vert.x per se

[2018-04-14 20:27] #1461 closed

[2018-04-14 20:28] vietj commented on #1400
that was actually implemented recently and this is a duplicate of https://github.com/eclipse/vert.x/issues/2276

[2018-04-14 20:28] #1400 closed

[2018-04-14 20:38] alatushkin commented on #1326
Finally :)
Dont forget about regression

[2018-04-14 21:00] vietj commented on #1326
I believe it was actually fixed long time ago as side effects of improvements.

[2018-04-15 06:10] vietj commented on #2385
can you just make a PR that exposes the types without introducing new types ?

[2018-04-15 06:10] vietj commented on #2385
i.e changing package visibility with a comment to say that's it's used for wrappers of VertxInternal

[2018-04-15 08:11] diliuskh commented on #2385
@vietj uploaded new version.

[2018-04-15 12:15] johnfg10 opened #2390 "Netty upgrade to 4.1.22.Final"
Hello,
Im using JDK 10 and have encountered an issue with the version of netty being used(https://github.com/netty/netty/issues/7768, where the owner said on the 4th of may, "Upgrade to latest Netty version as it was fixed there")

Language: Kotlin
JDK: 10
OS: Windows 10
IDE: Intellij Idea ultimate

Stack trace
[code]

[2018-04-15 18:25] vietj commented on #2390
in which version is it fixed ?

[2018-04-15 18:26] vietj commented on #2390
we're planning to upgrade to 4.1.22.Final

[2018-04-15 18:26] vietj commented on #2390
in 3.6.0

[2018-04-15 20:35] hradecek commented on #2286
This is Jackson's mapper behavior, which isn't likely to be changed, I think, but there's opened discussion at https://github.com/swagger-api/swagger-codegen/issues/5187 about this (considered as bug).

[2018-04-15 20:53] johnfg10 commented on #2390
I'm presuming he either means 4.1.22 or 4.1.23, is there a release date/prerelease for 3.6.0 yet?

[2018-04-16 06:08] okou19900722 opened #2391 "error time unit"
https://github.com/eclipse/vert.x/blob/master/src/main/java/io/vertx/core/Vertx.java#L559
https://github.com/eclipse/vert.x/blob/master/src/main/java/io/vertx/core/impl/BlockedThreadChecker.java#L46

it's must be ms of maxExecuteTime  unit

[2018-04-16 07:11] vietj commented on #2391
more generally this code should use TimeUnit to convert the value and not make a division - can you provide a signed PR ?

[2018-04-16 07:13] vietj commented on #2390
@johnfg10 no there is no such date yet, we're currently looking at a 3.5.2 release

for the upgrade we have constraints due to gRPC that uses gRPC netty and has its own version of Netty

[2018-04-16 07:13] vietj commented on #2345
no you can't, you need to do it yourself using an handler in yoru code

[2018-04-16 07:13] #2345 closed

[2018-04-16 07:14] vietj commented on #2388
any news about it ?

[2018-04-16 07:28] vietj commented on #1621
this is actually a Netty issue that tolerates invalid chunk sizes, it should generate instead a decoder result error

[2018-04-16 07:55] vietj commented on #1621
I've started a discussion in netty google group about it

[2018-04-16 08:30] vietj commented on #1536
I think it should rather be an external metrics implementation.

In addition vertx now supports domain sockets, so it makes this possible.

Please reopen an issue in vert-x3/issues instead if you plan to contribute this.

[2018-04-16 08:30] #1536 closed

[2018-04-16 08:35] vietj commented on #2088
I think the issue should now be solved, it was because we set null handler on stop and setting null handler should not make this behavior

[2018-04-16 08:35] vietj commented on #2088
I will check

[2018-04-16 08:37] vietj commented on #2088
actually there is a test for this in Vert.x Core : HttpTest#testClearHandlersOnEnd

[2018-04-16 08:37] #2088 closed

[2018-04-16 08:38] vietj commented on #2088
not setting a fix version as it was probably fixed before

[2018-04-16 08:45] vietj commented on #1962
you can register yourself these extensions if you need to

[2018-04-16 08:45] #1962 closed

[2018-04-16 08:56] vietj commented on #1614
you can handle this case using `HttpServerOptions` idleTimeout that will close the connection when there is no HTTP activity after `n` seconds

[2018-04-16 08:56] vietj commented on #1614
I will add a reproducer for this case solved by idle timeout

[2018-04-16 09:01] #1614 closed

[2018-04-16 09:01] vietj commented on #1614
labelled it as question

[2018-04-16 09:02] #1728 closed

[2018-04-16 09:03] vietj commented on #1723
closing this until somebody can provide a clear reproducer

[2018-04-16 09:03] #1723 closed

[2018-04-16 09:03] vietj commented on #2225
closing this until we get a clear reproducer

[2018-04-16 09:03] #2225 closed

[2018-04-16 09:04] vietj commented on #1938
fixing this, reopen if it shows up again but it should be fixed AFAIK

[2018-04-16 09:04] #1938 closed

[2018-04-16 09:10] vietj commented on #1909
the exception handler can be called multiple times, we aim in the future to  provide a different model with Handler<AsyncResult<>> where this handler will be called a single time only.

[2018-04-16 09:10] #1909 closed

[2018-04-16 09:12] okou19900722 commented on #2391
yes, i will do it

[2018-04-16 09:12] vietj commented on #1656
actually the right fix would be instead to have a method that is like:

[code]

Using a stream for this was a mistake, so I would rather not do anything.

[2018-04-16 09:12] #1656 closed

[2018-04-16 09:13] vietj commented on #1656
thanks for having concerns !

[2018-04-16 09:13] vietj commented on #1656
that being said you can make a PR for the documentation.

[2018-04-16 09:15] vietj commented on #1558
Hi,

I would be happy to have such request for visiblity concerns

however I think we should first try to understand how Jackson encourages to json mapper safe publication between threads.

is that something you can investigate @grossws ?

[2018-04-16 09:16] vietj commented on #2327
feel free to make a PR for a simple Vert.x close handler.

[2018-04-16 09:16] #2327 closed

[2018-04-16 09:17] vietj commented on #1510
closing for maintenance purpose, reopen or just make a contribution via PR.

[2018-04-16 09:17] #1510 closed

[2018-04-16 09:25] vietj commented on #2109
actually this is stupid, since it will fallback to HTTP/1.1 and that's legit

[2018-04-16 09:25] #2109 closed

[2018-04-16 09:26] vietj commented on #2286
thanks for the info @hradecek - will close this issue then

[2018-04-16 09:26] #2286 closed

[2018-04-16 09:56] grossws commented on #1558
IIRC, `ObjectMapper` is effectively thread-safe after all configuration done. In CDI apps it's usually is application scoped which allows safe publication through CDI's synchronization. I'll look into it to recheck that I recall true and share in this ticket.

[2018-04-16 10:11] hasalex commented on #2328
It would be nice to have this explanation in the javadoc.

[2018-04-16 12:45] #2385 closed

[2018-04-16 20:54] jordillachmrf commented on #2388
Tomorrow we will shuttle a new version with Vertx 3.6.0-SNAPSHOT

[2018-04-16 21:57] fzakaria commented on #2126
I'll take a peek.

[2018-04-16 22:55] fzakaria commented on #2126
What is the expected behavior here?
`FileResolver` adds functionality to resolve files from the classpath (`ENABLE_CP_RESOLVING`) as if they were on disk using the `File` java API -- it does so using the _cache_.

The best solution I can see is _recursively_ copying all files in the parent directory during cache hydration. Thoughts?

[2018-04-17 05:38] vietj commented on #2126
no thoughts, I 've only created a reproducer

[2018-04-17 15:21] MeiyappanKannappa opened #2396 "oAuth introspect token works only with POST url"
Hi We are working to implement oAuth2 in our vertx application. We have configured path in while creating oAuth2Oauth and tokens are generated. When we try to introspect token using oauth2oauth.introspecttoken() method it throws error "405 Method not allowed". Reason is introspect token method fetches the introspect URL using POST. But our r provider is custom oauth provider and the validate URL i

[2018-04-17 17:35] acabarbaye commented on #2286
I can confirm this is an underlying issue in Jackson (see example below).
However, I think it should still be mentioned in Vert.x documentation as a limitation.
Currently, the documentation states that any object can be mapped from/to.

example:
[code]

Result:
[code]

[2018-04-17 18:28] pvub commented on #2338
I added a log configuration, and now it builds a fat jar. You'll need to run the replay server and client from the same jar.

For the server:
java -Dlog4j.configurationFile=log4j2.xml -jar target/VertxTest-1.0-SNAPSHOT-fat.jar

For the client:
java -Dlog4j.configurationFile=log4j2.xml -cp target/VertxTest-1.0-SNAPSHOT-fat.jar com.pvub.vertxtest.WSClient

Both on localhost, and be using port 10880.

[2018-04-17 18:36] cazacugmihai opened #2397 "Change the method signature for CompositeFuture#all"
Please change the signature of [this](https://github.com/eclipse/vert.x/blob/master/src/main/java/io/vertx/core/CompositeFuture.java#L77) method from:

`static CompositeFuture all(List<Future> futures)`
to
`static CompositeFuture all(List<Future<?>> futures)`

in order to call it with any type of Future (like `List<Future<Void>>`).

Thank you!

[2018-04-17 18:45] #2397 closed

[2018-04-17 19:01] cazacugmihai commented on #2397
Sorry for creating this issue. I was thinking only to those lists having the same type of Features.

[2018-04-17 20:32] pmlopes commented on #2396
Out of curiosity which server is this? The server is clearly wrong as the RFC clearly states it should be a POST request: https://tools.ietf.org/html/rfc7662#section-2.1

[2018-04-18 08:40] TiantianUpup opened #2398 "javax.net.ssl.SSLHandshakeException: General SSLEngine problem"
When I use WebClient to send a HTTPS request, I get an error:

Here is my code:
[code]
test code:TestSyncWebClient.java
[code]
Error info:
[code]
Can you help me,thanks in advance.

[2018-04-19 04:20] nahuelmyob opened #2400 "Can't capture javax.net.ssl.SSLHandshakeException when using HttpClient"
Can't capture javax.net.ssl.SSLHandshakeException when using HttpClient.

See the following snippet:
[code]

When using `postIt` method and `my-cert` does not match the cert in the server I get:
[code]
But this exception happens at Netty level apparently and I'm not able to capture it to report it to interested parties.

Is there anyway to handle this exception? I'm also integrating the service wi

[2018-04-19 04:56] nahuelmyob commented on #2400
Sorry I made a mistake by clicking 'Close'.

[2018-04-19 06:34] MeiyappanKannappa commented on #2396
Hi Sorry, its my mistake. I used a wrong URL to validate the token. It works now :)

[2018-04-19 06:34] #2396 closed

[2018-04-19 11:52] tsegismont commented on #2400
Take a look at https://vertx.io/docs/vertx-lang-kotlin-coroutines/kotlin/#_getting_one_shot_asynchronous_results

I believe you should wrap the `postIt()` method invocation with a try/cacth block to get the exception.

This is covered by a separate module: https://vertx.io/docs/vertx-micrometer-metrics/kotlin/

[2018-04-19 13:58] oli-h commented on #2065
Hm.. We now see that Vertx' HttpClient closes TCP-Connection after one http-Request/Response cycle.
So TCP keep-alive does not work any more. Note: we explict set httpClientOptions.setKeepAlive(true)

So the 'healing' of the paused ReadStream (which we talk about in this issue) can be a side-effect of the (unwanted) TCP-close in Vert.x 3.5.1.

Perhaps I don't see the whole picture - but: closing a

[2018-04-19 15:16] yale8848 opened #2402 "Callback Hell is painful and Quasar is also ugly"
is there any good solutions?

[2018-04-19 15:55] vietj commented on #2402
try kotlin coroutines before giving up! https://vertx.io/docs/vertx-lang-kotlin-coroutines/kotlin/

[2018-04-19 15:56] vietj commented on #2402
that being said, we aim to have Java `CompletableFuture` soon, so that might be hope for you

[2018-04-19 15:56] #2402 closed

[2018-04-19 15:58] vietj commented on #2065
@oli-h we have reimplemented proper TCP keep alive support (with header) that will be in a 3.5.2

[2018-04-19 15:58] vietj commented on #2065
try with master

[2018-04-19 18:04] jordillachmrf commented on #2388
So far so good, but the problem did not happen on a daily basis ... we used to have problems every 2,3 days

[2018-04-20 05:52] wang990099 opened #2405 "[issue][help help] read wrong audio data from HttpServerRequest.getFormAttribute. UTF8 will change illegal byte to EFBFBD."
[issue]
but we read wrong data from HttpServerRequest.getFormAttribute. UTF8 will change illegal byte to EFBFBD.

didn't find any method to read binary data from vertx HttpServerRequest like like getReader or others

Do you have any comments about this? thank you in advance

[2018-04-20 08:01] tsegismont commented on #2405
Please do not file the same issue in two different repos at the same time.

[2018-04-20 08:02] tsegismont commented on #2405
Duplicates vert-x3/vertx-examples#285

[2018-04-20 08:02] #2405 closed

[2018-04-20 10:35] oli-h commented on #2065
Confirm: It works with master (3.6.0-SNAPSHOT @ fb8d329ac40fbd05da6e82e1a22e674b70238681 as of 20. Apr. 2018):
- We see a real keep-alive between two http requests - even if there is pause between response of first request and begin of seconds request. See https://gist.github.com/oli-h/fe5607132509c51a57d130f821271189
- The problem with the 'half paused' connection does not occur

So when do you r

[2018-04-20 11:32] oli-h opened #2406 "Cleanup expired HTTP client connection every second instead of milliseconds"
https://github.com/eclipse/vert.x/blob/5945cd3aabbfad8ef8b79fab3fd0feca98f5ee35/src/main/java/io/vertx/core/http/impl/ConnectionManager.java#L62
starts a Timer with 1 _milli_-second delay to search for closeable/evictable connections.

Is it really required to do this so often? - Especially as we can define the keep-alive time only as whole seconds.

[2018-04-20 12:33] ensirius opened #2407 "Datagram socket resolve hostname even on IP address"
We are sending packets directly to IP and noticed that it's trying to resolve hostname. https://git.io/vpmfI `addr.isUnresolved())` are always true.

[2018-04-20 14:59] vietj commented on #2065
we are aiming a 3.5.2 release in the coming weeks (May would be a good target).

I'm closing this issue as it is fixed effectively.

thanks for checking.

[2018-04-20 14:59] #2065 closed

[2018-04-20 15:02] vietj commented on #2407
can you explain why it does not work ?

[2018-04-20 15:04] vietj commented on #2406
I think we should have a different value, I've seen your PR, I think it's ok to have 1 second as the default timeout value is 30 seconds for HTTP/1 and 60 for HTTP/2

[2018-04-20 15:40] oli-h commented on #2406
It would be more elegant to set the timer value in a smart way - i.e. look on all open connections in the pool, find the one with the nearest "to-be-closed" timestamp and set the timer accordingly.
Of course the timer then has to be cancelled and re-scheduled if another connection suddenly has to be closed earlier, e.g. when a http-Server suddenly says "Keep-Alive: timeout=1" on some other connect

[2018-04-20 17:50] vietj commented on #2406
let's keep 1 second period for the entire HTTP client for now as it's very simple and let's have something smarter.

[2018-04-20 17:59] vietj opened #2409 "Use CloudFlare 1.1.1.1 as default DNS fallback instead Google's public DNS 8.8.8.8 and 8.8.8.4"
See https://blog.cloudflare.com/announcing-1111/

[2018-04-20 18:53] #2406 closed

[2018-04-21 09:23] cazacugmihai opened #2410 "Feature - Provide a wrapping of an InputStream into a ReadStream<Buffer>"
This comes after [these](https://groups.google.com/forum/#!msg/vertx/XwgHFfC4vKI/yagj6jvRAgAJ) [discussions](https://groups.google.com/forum/?fromgroups#!searchin/vertx/inputstream$20pump%7Csort:date/vertx/x3VmUmtwIsQ/KRBZcWzTBAAJ).

@cescoffier already provided an implementation [here](https://github.com/wisdom-framework/wisdom/blob/master/core/wisdom-vertx-engine/src/main/java/org/wisdom/framewo

[2018-04-21 09:38] vietj commented on #2410
open this rather in the vert-x3/issues repository thanks

[2018-04-21 09:38] #2410 closed

[2018-04-21 09:41] vietj commented on #2400
I think also you should get it with WebClient that provides a cleaner API for this matter

[2018-04-21 09:41] #2400 closed

[2018-04-21 09:42] vietj commented on #2398
you need to set the options `trustAll=true` on WebClientOptions

[2018-04-21 09:42] #2398 closed

[2018-04-22 09:42] earezki commented on #2381
I don't fully understand how this currently works, non the less the how to enhance it.
I'll close this issue as It's not an issue,
If I'm able to fully understand this in the future, I'll re-open this.
Thx Julien.

[2018-04-22 09:42] #2381 closed

[2018-04-23 05:38] vietj commented on #2381
sure

[2018-04-23 12:53] osklyar opened #2411 "HttpServerResponse::exceptionHandler not called when any HttpServerResponseImpl::headersEndHandler throws"
Java, Vert.x 3.5.0

When an exception occurs within one of `HttpServerResponseImpl::headersEndHandler` this exception does not seem to be processed by `HttpServerResponse::exceptionHandler` and the response remains not ended. The following tests proves this on the example of an incorrect cookie (triggering an `IllegalArgumentException` in `cookie.encode()`), which leaves the server response in lim

[2018-04-23 13:05] vietj commented on #2411
yes, that's expected, the response/request exception handler channels the exception from the socket and its protocol.

normally you should be able to get this exception on the Context#exceptionHandler rather

[2018-04-23 13:28] osklyar commented on #2411
@vietj  You mean `vertx.getOrCreateContext()`? This one is not request specific, so this means there is no way to cleanly complete the request with 500? All I want is to let the client know that there was some server-side exception in this case, is it possible?

[2018-04-23 13:38] vietj commented on #2411
I think then you should wrap your handlers with a try/catch block and act accordingly

[2018-04-23 13:40] osklyar commented on #2411
Ok, so I will need a custom implementation for the `CookieHandler/CookieHandlerImpl`, which is unfortunate, but acceptable.

[2018-04-23 13:44] vietj commented on #2411
@osklyar calling the http exception handler on this could create infinite callback loops if you exception handler fails itself

[2018-04-23 13:45] vietj commented on #2411
which CookieHandler are you refering to ?

probably the Vert.x Web CookieHandler shouldn't throw an exception and if that happens it means it's a bug in Vert.x Web

[2018-04-23 13:51] osklyar commented on #2411
Yes, that one, `CookieHandlerImpl` line 61 throws in `cookie.encode()`.

[2018-04-23 13:59] vietj commented on #2411
can you open this issue in vert.x web project https://github.com/vert-x3/vertx-web that the CookieHandlerImpl should handle the `cookie.encode()` errors and propagate an error in the Vert.x Web router

[2018-04-23 14:27] pmlopes opened #2412 "Missing VertxGen annotation on JsonEventType"
This enum misses the VertxGen annotation making it impossible to be used by non java languages.

[2018-04-23 14:28] #2412 closed

[2018-04-23 14:42] osklyar commented on #2411
Will do later today.

[2018-04-23 14:50] gmuecke commented on #2411
What about using a failureHandler on the route?

     Router router = Router.router(vertx);
      router.route()
                .handler(CookieHandler.create())
                .handler(ctx -> {
      ...
      }).failureHandler(ctx -> {
         System.out.println("Failure occured");
         responseEndedOnServer.completeExceptionally(ctx.failure());
      });

The failure handler is triggered

[2018-04-23 15:02] vietj commented on #2411
I think it should work but it's in vertx-web project :-)

[2018-04-23 15:03] vietj commented on #2411
@gmuecke I think @osklyar is reporting a bug in Vert.x Web `CookieHandlerImpl` where the error cannot be rerouted via the vertx web router

[2018-04-23 15:03] #2411 closed

[2018-04-24 08:42] vietj opened #2413 "Native transport SO_REUSEPORT should be set on server bootstrap as option instead of child option"

[2018-04-24 09:10] vietj opened #2414 "Report HTTP client pool internal failures as connect errors"

[2018-04-24 12:15] vietj opened #2415 "HttpClient pool should use a LIFO policy instead of a FIFO policy"

[2018-04-24 12:17] vietj opened #2416 "HTTP client requests should always prefix request URI with / for absolute queries"

[2018-04-24 13:52] nolequen opened #2417 "Async map behaviour differs in local and clustered mode"
For example, following code fails in local mode, but works fine in clustered one:
[code]

[code]

[2018-04-25 07:14] nolequen opened #2418 "Possible deadlock when trying to get multiple locks"
Here is the code, which illustrates the problem.
The `Consumer` verticle acuires `lock1` and gets stuck.
I have reproduced the same problem using `HazelcastClusterManager` and `IgniteClusterManager`.

[code]

[code]

[code]

[2018-04-25 08:32] vietj opened #2419 "Use a stack-less TimeoutException when timing out an HttpClientRequest"

[2018-04-25 08:39] #2419 closed

[2018-04-26 09:57] tsegismont commented on #2418
This is not a bug. Vert.x locks are not reentrant. In practice, they are
implemented as a semaphore with a single permit.

[2018-04-26 10:15] tsegismont commented on #2417
As discussed previously in #2354, this is not a bug. You will observe this behavior with many distributed caches or data grid, like Infinispan or Hazelcast when you use mutable objects as values.

If you want change to be propagated: invoke put after get. If you want the object stored in local mode to be left unchanged, use immutable objects.

[2018-04-26 10:15] #2417 closed

[2018-04-26 12:07] nolequen commented on #2418
It's ok that the locks are not reentrant.
In any case Consumer should not get stuck, it might and should get the lock2 after lock1 was acquired (when first message is received), but this doesn't happen because of other locks in queue.

[2018-04-26 15:02] tsegismont commented on #2418
@nolequen right, I misunderstood the problem. Actually it's because lock acquisition is ordered on the internal blocking executor so if they are pending lock requests (for any lock), new requests have to wait for completion. Nice catch

[2018-04-26 15:06] tsegismont commented on #2417
My point is: you need not not know if the `AsyncMap` is clustered or not. If you do not want changes, work with immutable objects. Otherwise, always invoke put.

[2018-04-27 18:45] michaelpog commented on #2193
I see the same warning all over my logs when I set ``` setPreferNativeTransport(true) ```
No matter if I set the reusePort to true or false on the HTTP server options.
My OS is CentOS 6.7

[2018-04-27 18:53] vietj commented on #2193
have you tested with current 3.5 branch @michaelpog that should be fixed

[2018-04-30 07:25] yacota commented on #2388
We haven't had any other issue, feel free to close this issue. Thanks

[2018-04-30 08:02] vietj commented on #2388
thanks for checking!

[2018-04-30 08:02] #2388 closed

[2018-04-30 17:08] rprpx opened #2423 "Unable to disable file caching in 3.5.1 in intelliJ IDEA"
Static files in the JAR are not being "re-read" after they've been changed during development, while the app/server is running. The server has to be restarted after each change instead.

Inside my `public static void main(String[] args)` method, before any vert.x code, I have `System.setProperty("vertx.disableFileCaching", "true");`

Storing my static files on a file system path instead would be c

[2018-04-30 18:44] rprpx commented on #2423
### I have discovered that upon running the same code with the Eclipse IDE (rather than intelliJ IDEA), all works as expected!

Any thoughts?

[2018-05-02 09:51] leolux opened #2424 "Showstopper: NoSuchMethodError during bootstrap"
When calling either "vertx.clusteredVertx(...);" or "vertx.Vertx.vertx();" the following exception gets thrown in 3.5.1:
[code]

[2018-05-02 10:45] leolux commented on #2424
I have found the cause for this issue: I happens when adding the dependency to firebase-admin. It seems to be coming from a conflict between netty-common:4.1.19.FINAL and grpc-netty-shaded:1.10.1

Both versions of io.netty.util.internal.ReflectionUtil have the method trySetAccessible(Ljava/lang/reflect/AccessibleObject;Z). How to solve maven conflicts with firebase?

[2018-05-02 10:45] #2424 closed

[2018-05-02 11:10] Melozzola opened #2425 "io.vertx.core.buffer.Buffer tightly coupled with io.netty.buffer.ByteBuf"
The ```Buffer``` interface is tightly coupled with the netty ```ByteBuf```. IMO this is an unfortunate design and the ```Buffer``` should be completely third-party classes agnostic.
The default implementation offered by Vert.x could rely on the netty ```ByteBuf``` (essentially wrapping it), but other implementations should be allowed without using the ```ByteBuf```

[2018-05-02 11:48] vietj commented on #2425
what would be the benefit ?

there is currently a Buffer factory in vertx, you can have a buffer backed by something else than ByteBuf but it needs to be able to return a bytebuf for internal operations

[2018-05-03 08:57] ensirius commented on #2407
When you create `InetSocketAddress` object using static method `createUnresolved(host, port);` It's create an object with `addr` as null. If you look at `isUnresolved` it's just a boolean that checks if `addr` not null.

[2018-05-03 09:17] #1531 closed

[2018-05-03 20:05] pvub commented on #2338
@vietj Any luck reproducing the issue?

[2018-05-03 20:11] vietj commented on #2338
I haven't had time to investigate yet, will give a spin tomorrow.

[2018-05-03 20:12] vietj commented on #2338
have you tried your reproducer with latest master ?

[2018-05-03 20:18] pvub commented on #2338
@vietj Haven't tried with master. Will give it a try.

[2018-05-03 20:53] vietj commented on #2338
thanks let report here

[2018-05-04 07:25] vietj commented on #2338
I'm getting on the server

[code]

[code]

and

[code]

[2018-05-04 07:28] vietj commented on #2338
the issue you are describing seems to be buffered messages which you should try to avoid (raising GC issues like it does for me) and use WebSocket.writeQueueFull() to stop sending message and resume sending when the drain handler is called.

[2018-05-04 12:58] pvub commented on #2338
@vietj The issue we constantly run into is a situation where we have to close the socket, and there is no way to clear the buffered messages, before we do so, in order to avoid the netty event loop trying to write to a closed socket.
In prod we do use the writeQueueFull() to figure out if we are adding too much to the socket buffer, but we never ran into memory issue, probably since we are using a

[2018-05-04 13:48] vietj commented on #2338
if you run out of memory it means that you need to slow down the incoming messages according to writeQueueFull() or discard some of them.

I haven't been able to reproduce it... so that does not help

[2018-05-04 14:05] pekajota opened #2427 "Behavior when clustered Vertx instance crashes and Lock is acquired"
I'm using Vertx with Hazelcast as the cluster manager and I am stuck with a problem on how to deal with the situation where a Vertx node acquires a lock and crashes right after it. As no body else will be able to acquire that Lock, there is no way to release it with without recycling the cluster. Is that the expected behavior or am I missing something? Will Hazelcast deal with a crashing node that

[2018-05-05 07:03] vietj commented on #2427
@tsegismont any idea ?

[2018-05-05 07:28] vietj opened #2428 "Decouple the FileResolver from a Vertx instance"
Motiviation: currently the `FileResolver` is in the `io.vertx.core.impl` package and owns a `Vertx` instance. The only reason it needs this instance is to delete the cache dir when it is closed, because it actually needs to schedule a blocking file deletion (via the filesystem instance).

Change: decouple the `FileResolver` from the `Vertx` instance and the `FileSystem` implementation so it can be

[2018-05-05 12:18] #2428 closed

[2018-05-05 21:32] vietj opened #2430 "Metrics SPI should not be exposed measured instances"
Motivation : currently the Metrics SPI expose the measured instances to the SPI implementation when at creation of the corresponding metrics instance. This instance is actually not really used by the implementations (Vertx instance was used by micrometer metrics instance to create an HTTP server but in practice it can start its own embedded instance as there is no much gain to create a new one). O

[2018-05-05 21:41] #2430 closed

[2018-05-06 01:48] qizhengyu commented on #2382
Server1 is behaving as a proxy, which download data from Server2 and forward to HTTP Response.
Try to download a file with size 100MB, 1GB and 10GB.

## Expected Result:
100MB file -> It takes 2 ~ 5 seconds to start download.
1GB file -> 2 ~5 seconds to start download.
10GB file -> 2 ~ 5 seconds to start download.

## Actual Result:
100MB file -> It takes 2 ~ 5 seconds to start download.
1GB file

[2018-05-06 12:59] vision8tech commented on #2423
@rprpx My suggestion would be to use [vertx-maven-plugin](https://github.com/reactiverse/vertx-maven-plugin).
See [here](https://github.com/vision8tech/vertx-playground/tree/master/fs-cache-test) an example that uses this plugin and includes your code.