[2020-09-14 17:48] pantinor commented on #3573
This looks similar to a ticket in vertx-web #805

[2020-09-14 19:21] vietj commented on #3573
you don't need to do that, instead you can specify an host when building the request and override the host with the host(method) on HttpClientRequest:

[code]

[2020-09-14 19:21] #3573 closed

[2020-09-14 19:22] vietj commented on #3573
with Vert.x 4 you will do differently though, we simplified the API and instead you need to specify a SocketAddress, e.g

[code]

[2020-09-15 13:43] pantinor commented on #3573
@vietj Thanks I will try it this morning and update you.  I had refactored to use WebClientOptions, i don't think we can use that for setHost.  Will refactor back.  I have been bouncing back and forth between 3.9 and 4.0 as well.

[2020-09-15 14:23] vietj commented on #3573
if you are using WebClient then you have a virtualHost method you can call
that will achieve that.

On Tue, Sep 15, 2020 at 3:44 PM pantinor <notifications@github.com> wrote:

[2020-09-15 14:29] pantinor commented on #3573
For WebClientOptions I could only see setDefaultHost, there was no setVirtualHost function.  I must be missing something.

[2020-09-15 14:52] vietj opened #3576 "Dont call client metrics reset when the request has not been sent"
When an HTTP client request has been reset soon after it was scheduled, the client will assume that the request was sent and emit a reset event to the metrics implementation. The metrics implementation truthfully assume that a request begin event was previously emitted and it might not be the case leading to an unexpected state. We should only emit a reset event when an HTTP request object has bee

[2020-09-15 15:32] #3576 closed

[2020-09-15 17:56] vietj commented on #3573
this is on the HttpRequest object, this is dynamic

On Tue, Sep 15, 2020 at 4:29 PM pantinor <notifications@github.com> wrote:

[2020-09-15 18:29] sfitts opened #3577 "End handler not invoked when Websocket is closed on server side (without receipt of close frame)"
### Version

3.9.2

### Context

Websocket converted to a FlowableReadStream no longer signals completion if the socket is closed *without* the receipt of a close frame.  We noticed this because our metrics told us that we were "leaking" web socket connections after we switched to Vert.x 3.9.x.  The decrement of the value used for this gauge occurs when the `FlowableReadStream` created from a web-

[2020-09-15 19:09] sfitts commented on #3577
One additional note -- in our code we are using the Web extension version of websockets, so we have an instance of `SockJSSocket` which is what we are converting to the `FlowableReadStream`.  That said, the actual work is done by the base websocket and it was a change in this code that changed the behavior here.  However, it could be that something in the of the layers above this needs to change (

[2020-09-15 19:16] pantinor commented on #3573
I got it working with 3.9.1 and the core http client request.  Thanks again!

[2020-09-16 06:25] vietj commented on #3577
@sfitts the behavior is actually correct (it happens similarly for other streams like `HttpServerRequest` or `NetSocket`), I will have a look at `FlowableReadStream`

[2020-09-16 06:39] vietj commented on #3577
Currently the test pass with 3.9.3-SNAPSHOT because we have made this change : https://github.com/eclipse-vertx/vert.x/issues/3531 . The end handler should always be called on both sides when a normal termination of the `WebSocket` happens (i.e with an handshake) and should not be called when the TCP sockets is closed (instead the exception handler should be called).

[2020-09-16 07:08] vietj commented on #3577
So I think indeed we have a bug in 3.9.2 but it's due to the incorrect implementation of the WebSocket handshake. It shall be fixed in 3.9.3 which is to be released soonish. I've added tests to ensure this behavior (https://github.com/eclipse-vertx/vert.x/commit/ea8922249727cae18c530c53006d57f6e34e0464)

[2020-09-16 07:08] #3577 closed

[2020-09-16 16:49] sfitts commented on #3577
FYI -- tested our use case (connection termination due to idle timeout) on 3.9.3-SNAPSHOT and confirmed that it is fixed.

[2020-09-17 23:15] stuartwdouglas opened #3579 "Add some form of attribute storage to HttpServerRequest"
At the moment there is no way to attach arbitrary data to the HttpServerRequest. If you are using Vert.x Web the RoutingContext has the ability to store arbitrary data in the context, it would be very helpful if this was also added to the HttpServerRequest (with the routing context changed so it's attributes are backed by the request, so you don't have two attribute maps).

Some of the use cases w

[2020-09-18 06:25] vietj commented on #3579
Vert.x 4 provides a context per HttpServerRequest which can be used to do that.

When an HTTP server request is created, the current Vert.x context is duplicated (a lightweight copy that references the original context to reuse the same event loop), this context provides a local attribute map is an arbitrary storage for the use case that you describe. Such duplicate is valid until the HTTP request

[2020-09-18 19:10] ebullient commented on #3579
That will probably work. I am also looking forward to the HttpServerRequestMetrics.requestRouted callback. =)

I don't know how long Quarkus will be using the Vertx 3.x branches... :sigh:

[2020-09-20 19:57] vietj commented on #3579
we can add a request routed callback to the metrics, although originally it
was geared toward tracing

On Fri, Sep 18, 2020 at 9:10 PM Erin Schnabel <notifications@github.com>
wrote:

[2020-09-21 14:17] ebullient commented on #3579
Well. I approximated with 3.9.x this way: https://github.com/quarkusio/quarkus/pull/12209/files#diff-fa759749ee1a903c156808cd128ecea8R74
I'm not sure how happy I am with that, but I may be stuck.
Having context on the HttpServerRequest will definitely remove some awkwardness in that path, which is preferred.

Tracing and Metrics require some of the same data to be available (though what is read an

[2020-09-21 20:10] prasannajoshi2121 opened #3580 "Integrate DSL-Json in vertx for default data binding instead of Jackson"
Hi Team ,

please look DSL-JSON library as default option for data binding instead of jackson , its quite faster for serialization/deserialization

https://github.com/ngs-doo/dsl-json

[2020-09-23 12:14] pmlopes commented on #3580
@prasannajoshi2121 please have a look at the SPI: https://github.com/eclipse-vertx/vert.x/blob/master/src/main/java/io/vertx/core/spi/json/JsonCodec.java

If you implement this SPI and add the service loader metadata you can easily plug whatever JSON library you wish in vert.x

[2020-09-23 14:18] tsegismont commented on #3406
@rogelio-o I sent an email to vertx-dev group about this

[2020-09-23 16:56] prasannajoshi2121 commented on #3580
Hi @pmlopes ,

Sure , let me try it out. thanks

[2020-09-23 16:56] #3580 closed

[2020-09-27 08:16] Coding-Sparrow commented on #2382
I am still not able to download large file using webclient.

[2020-09-27 08:17] Coding-Sparrow commented on #2382
https://stackoverflow.com/questions/64078526/vertx-not-able-to-resolve-host-and-not-able-to-download-large-file-using-webclie

[2020-09-28 06:16] wangjunniit opened #3582 "Expect to configure decoders when using NetServer"
#### Describe the feature

When I use the following code
[code]
The objects I receive are always of type Buffer,Is it possible to add a configuration item to be able to add netty decoders,and adding a method to the NetSocket interface to receive the decoded object.
[code]
It works like this
[code]
Or is there a way to implement this feature in the current version

[2020-09-28 07:00] vietj commented on #3582
@wangjunniit you can do that by casting `NetSocket` to `NetSocketInternal` - this is explained here http://www.julienviet.com/advanced-vertx-guide/#_using-netty-tcp-codecs

[2020-09-28 07:00] #3582 closed

[2020-09-28 09:05] vietj commented on #3438
@ctrlshp did it happen again ? if it does can you do a thread dump capture ?

[2020-09-28 09:50] tsegismont commented on #2382
@Coding-Sparrow your problem doesn't look related to this. I've replied on SO

[2020-09-28 15:27] cescoffier opened #3584 "Vert.x HTTP server on port 0 and MQTT client issue"
### Questions

This issue has been reproduced in Quarkus, but looks Vert.x specific.

In this use case, the HTTP verticle (start the HTTP server) instances (depending on the machine, but 8 in my case) are configured to listen on the port 0 (so dynamic binding). At the same time as the HTTP verticle start, an MQTT client is created and connect to an MQTT server.

The HTTP server cannot bind to the

[2020-09-28 19:58] vietj commented on #3584
do you know if that happens with only Vert.x and if the reproducer can be adapted ?

[2020-09-29 05:40] cescoffier commented on #3584
I don’t believe it can be easily adapted without writing a lot of code to
reproduce what’s happening.

On Mon 28 Sep 2020 at 21:58, Julien Viet <notifications@github.com> wrote:

[2020-09-29 07:39] kissLife commented on #88
With the netty HttpPostMultipartRequestDecoder, we can process the multipart/form-data in real time. see the snippet code here([Handling multipart form in Vertx](https://stackoverflow.com/questions/36401510/handling-multipart-form-in-vertx/64114825#64114825)).

[2020-09-29 11:18] vietj commented on #3584
I tried reproducing it using Mosquito public server and it worked correctly.

The reproducer does not have explanations on how to reproduce it.

I commented on the referenced issue.

[2020-09-29 11:19] vietj commented on #3584
note: the reproducer binds HTTP server on a random port

[2020-09-29 11:20] #3352 closed

[2020-09-29 11:21] vietj commented on #3352
it has actually been already done.

[2020-09-29 11:22] #3013 closed

[2020-09-29 11:22] vietj commented on #3013
done already.

[2020-09-29 11:24] cescoffier commented on #3584
I provided the steps to reproduce in this issue description:

[code]

[2020-09-29 11:29] cescoffier commented on #3584
With the public mosquitto server it works (for me) in runner mode, but not with `mvn compile quarkus:dev`. Can you try with that mode?

With hive, it fails in both cases (for me).

[2020-09-29 11:46] vietj commented on #3584
I will have a try

[2020-09-29 12:25] vietj commented on #3584
Here is what happens:

1/ a `WebDeploymentVerticle` is deployed by `VertxHttpRecorder` with multiple instances using a `Supplier` returning the *same* verticle instance
2/ all instances start an HTTP server with an `HttpServerOptions` argument
3/ the first instance to call listen and enter the synchronized section will actually bind an HTTP server
4/ when the HTTP server is actually started, the c

[2020-09-29 12:47] cescoffier commented on #3584
Thanks a lot @vietj!
That sounds easily fixable! I will change the Quarkus supplier.

Any idea why it was not happening in Vert.x 3.8.5?

Le mar. 29 sept. 2020 à 14:26, Julien Viet <notifications@github.com> a
écrit :

[2020-09-29 14:04] cescoffier commented on #3584
I don't believe it return the same instance:

[code]

[2020-09-29 15:47] cescoffier commented on #3584
@vietj Closing this issue. I opened a PR in Quarkus directly: https://github.com/quarkusio/quarkus/pull/12401

[2020-09-29 15:47] #3584 closed

[2020-09-29 16:18] vietj commented on #3584
no specific idea, this is racy, so it could happen before but was not
visible.

On Tue, Sep 29, 2020 at 2:47 PM Clement Escoffier <notifications@github.com>
wrote:

[2020-09-30 07:58] vietj opened #3585 "HTTP streamed read/write event metrics reporting"
The implementation of read/write metric events reports a single event with the total length when the stream lifecycle ends. While this is a correct way to proceed, it lacks of accuracy when streaming happens.

We can improve this behavior and instead report a read/write metric event when the accumulated value gets above a threshold (4K). e.g instead of reporting 17K at once, we might instead repor

[2020-09-30 14:27] #3585 closed

[2020-09-30 14:27] #2747 closed

[2020-10-02 13:36] pantinor opened #3590 "Multiple web client connections created instead of utilizing existing initial connection"
### Questions

If we set the server to a larger number of max concurrent threads like 250 streams, and only send 100 requests on the webclient, which is using a max pool size of 8, it seems that 8 connections are created instead of using the single connection for all the streams.

### Version

3.9.1

### Context
See reproducer

### Do you have a reproducer?

A reproducer is a simple project hosted

[2020-10-05 07:46] vietj commented on #1768
we will make this easier I think by providing a way to subclass JKS options

[2020-10-05 08:49] vietj opened #3591 "Generic keystore based KeyCert/Trust options"
Vert.x provides specialized usage of `KeyStore` for loading `KeyCertOptions` and `TrustOptions` as `JksOptions` and `PfxOptions`.

Sometimes it can be desirable to use another implementation such as the ones provided by Bouncy Castle. We can add a more generic `KeyStoreOptions` to serve that purpose.

Fixes also https://github.com/eclipse-vertx/vert.x/issues/3262

[2020-10-05 08:55] vietj commented on #1768
See https://github.com/eclipse-vertx/vert.x/issues/3591

[2020-10-05 12:12] vietj opened #3593 "Set appropriate permissions for cache directory"

[2020-10-05 12:13] vietj commented on #3593
See https://github.com/eclipse-vertx/vert.x/issues/3510

[2020-10-05 12:13] #3510 closed

[2020-10-05 12:13] vietj commented on #3510
see https://github.com/eclipse-vertx/vert.x/issues/3510 that will implement the remaining parts of this issue

[2020-10-05 12:40] #3148 closed

[2020-10-05 13:27] #2320 closed

[2020-10-05 17:32] barbarosalp commented on #1842
Hi @vietj @kpachar, what is considered to be a large value for `the max wait queue size`?

[2020-10-06 11:34] #3591 closed

[2020-10-06 11:34] #3262 closed

[2020-10-06 11:38] #1768 closed

[2020-10-06 14:46] vietj commented on #3438
closing for now, please reopen with a thread dump capture to understand what is going on (it could be a thread deadlock)

[2020-10-06 14:46] #3438 closed

[2020-10-07 11:25] tsegismont commented on #3406
Closed in #3583 and bddb726

[2020-10-07 11:25] #3406 closed

[2020-10-07 19:04] daniel-farkas commented on #3387
Any news on this? I'm having the same issue, running Vert.x  3.9.1 and OpenJDK 1.8.0_252.
I tried forcing Netty version to 4.1.49.Final, but it didn't help.

[2020-10-07 20:41] ViToni commented on #3540
Could this be a cause for https://github.com/eclipse-vertx/vert.x/issues/2206 ?

[2020-10-08 09:21] vietj commented on #3540
@ViToni indeed, I will close the issue you mentioned and we should make a decision on this before Vert.x 4.0 is released

[2020-10-08 09:21] #2206 closed

[2020-10-08 09:21] vietj commented on #2206
see https://github.com/eclipse-vertx/vert.x/issues/3540

[2020-10-08 14:03] vietj commented on #3590
I think this is the expected result, the explanation is that when the pool is queries, then it can create up to 8 connections and will do it. It cannot really speculate on the number of max connection that the server will reply with.

I don't know if we can make this better.

[2020-10-08 14:04] vietj commented on #3590
that being said, if a single connection is opened and kept in the pool then it will try to use as much as possible this connection

[2020-10-08 15:51] pendula95 opened #3596 "Allow to specify use setInstances in deployVerticle for non default Constructor"
#### Describe the feature

Currently it is only possible to pass DeploymentOptions().setInstances(int x) when deployVerticle(String var1, DeploymentOptions var2) is used. In other words if you have a verticle that has non default empty constructor you can not deploy multiple instaces using DeploymentOptions().setInstances(int x) as you will get error: **_Can't specify > 1 instances for already cre

[2020-10-08 17:10] pantinor commented on #3590
Hi Julien, I think we are expecting that if we configure the connection pool size to greater than 1, that they would be established dynamically when needed, not at the initial start of the web client traffic, and that it would use as much as possible the first connection if and until the streams max or client multiplex limit is reached.  In the case of using the default of 1 max connection pool, t

[2020-10-08 18:04] vietj opened #3597 "Server/client bypassing the WebSocket close frame"
The `HttpClient` and `HttpServer` are omitting to send a WebSocket close frame when a connection a WebSocket. When an HTTP connection is closed, the connection should close the underlying `WebSocketBase` in order to send the close frame instead of merely closing the HTTP connection.

[2020-10-08 18:06] #3597 closed

[2020-10-08 20:50] VMalko opened #3598 "WebClient HttpRequest.sendStream() hangs when server close connection"
### Version

vertx-core: 3.8.5
vertx-web: 3.8.5
vertx-web-client: 3.8.5

### Context
We have noticed that WebClient HttpRequest.sendStream() hangs when Server close connection

There are a few steps to catch it:
1. Execute WebClient HttpRequest.sendStream (https://vertx.io/docs/kdoc/vertx/io.vertx.ext.web.client/-http-request/send-stream.html) to send body as stream to external server. In our case

[2020-10-09 08:36] #3593 closed

[2020-10-09 10:31] tsegismont commented on #3596
There is a [`deployVerticle`](https://vertx.io/docs/apidocs/io/vertx/core/Vertx.html#deployVerticle-java.util.function.Supplier-io.vertx.core.DeploymentOptions-io.vertx.core.Handler-) method that takes a `Supplier`.

It's available already in Vert.x 3 and was added specifically to solve that problem.

I'm closing this issue, please reopen if there's a bug with this method.

I would advise not use

[2020-10-09 10:31] #3596 closed

[2020-10-09 13:27] #2711 closed

[2020-10-09 14:36] vietj commented on #2435
works fine in master, reported as a synchronous exception in 3

[2020-10-11 04:27] kissLife commented on #3387
use the correct version netty-tcnative-boringssl-static dependency. see also [this link](https://stackoverflow.com/questions/44822214/vert-x-http-2-alpn-not-available-for-jdk-ssl-tls-engine).

[2020-10-12 10:12] JojOatXGME opened #3600 "Vertx.deployVerticle(…); calls completion handler on different context"
I'm using `io.vertx:vertx-core:3.9.3` and I have some code in a *Verticle* that looks similar to this:

[code]

The second assertion sometimes fails. I expect `deployVerticle(…)` to always call the completion handler in the context from where it was called. Was this assumption wrong or is this a bug in *Vert.x*? The *Javadoc* does not say anything about it but here is a quote from [the manual](htt

[2020-10-12 13:30] glassfox opened #3601 "eventbus inboundInterceptor event executed out of context"
vertx 4.0.0.beta3

As part of contextual data flow we found that insight inboundInterceptor event, vertx context is null. Following unit test that reproduce the issue:

[code]

[2020-10-13 09:10] yaronel opened #3602 "Worker thread pool name doesn't work well with Graphite"
### Version

3.9.2

### Context
Graphite uses a dot `.` to separate metric paths into folders. So a metric such as `vertx.http.servers.<host>:<port>` will be separated into `vertx` / `http` / `servers` / `<host>:<port>`.
The problem is with the worker thread pool name that is being set in `io.vertx.core.impl.VertxImpl`:
[code]
Because it uses "vert.x" instead of "vertx" like in other places, it wi

[2020-10-14 12:46] tsegismont commented on #3600
Thanks for the report, this looks like a bug.

When invoked from a verticle, the context of the deploy callback should be
the same as of the verticle, regardless of the result

Le lun. 12 oct. 2020 à 12:12, Johannes Spangenberg <notifications@github.com>
a écrit :

[2020-10-14 14:18] JojOatXGME commented on #3600
I was able to reproduce the issue outside of the project were I found the issue. At least on my machine. The reproduction depends on a race condition. Not sure if it works for you.
https://github.com/JojOatXGME/vertx-issue-3600/blob/main/src/main/java/Issue3600.java

[2020-10-14 15:28] tsegismont commented on #3600
@JojOatXGME thanks. I could reproduce in a test and created a PR for 3.9. We're releasing 3.9.4 this week

[2020-10-15 00:33] daniel-farkas commented on #3387
That doesn't help at all. I have no direct dependency to Netty or its subpackages. When I add
[code]
or any variant of it, nothing new happens. I still get
[code]

[2020-10-16 09:03] tsegismont commented on #3601
This was working up to `4.0.0-milestone4`. Milestone 5 and later versions show the issue.

[2020-10-16 09:31] tsegismont commented on #3601
@vietj this commit e29acb4e06ac79d04e4f54ddcc5936deb74c5326 seems to be the origin of the behavior change.

The `doReceive` method is invoked from the Netty event loop. So the inbound interceptors are no longer invoked the context bound to the consumer.

This sounds to me like a regression.

[2020-10-19 14:23] vietj opened #3606 "Verticle deployment class loader"
Verticle deployment has been using the implicit thread context classloader for the `VerticleFactory` and the `io.vertx.core.Context` class loader. This classloader is used indirectly by code that needs to resolve file in some places (e.g `HttpServerResponse#sendFile(String)`). Until now the only possibility to use a specific classloader was the set a temporary thread context classloader in some pl

[2020-10-20 08:15] #3606 closed

[2020-10-22 14:39] Stwissel opened #3609 "Allow JsonObject.put(Entry) - or - let MultiMap.forEach return (key, value)"
#### Describe the feature

Small improvement to code readability when dealing with Maps/Multimaps

When I want to store a map (after filter, map etc) into a JsonObject I can write

[code]

with a MultiMap I need to write:

[code]

Letting `JsonObject.put` accept an `Entry<String, Object>` would make code for Map and Multimap look similar/nicer
Of course having MultiMap emit (k,v) would be more uni

[2020-10-22 22:53] oscarfh opened #3610 "Issue on vertx4 milestone 5 replacement of VertxFactory class."
Hi,
I am trying to upgrade my vertx 3.6.3 app to vertx 4 and I noticed that there is one issue that might be a problem in [this vertx change](https://github.com/eclipse-vertx/vert.x/commit/2b78689ad39c565d34574354bd420ec5ebc0b397#diff-15b68f43389fc8477976ca7d14c461c556f07bfdd2ff42e14dd87f21ccb13721).
It moved `io.vertx.core.spi.VertxFactory` to `io.vertx.core.impl.VertxFactory`, but the file in `M

[2020-10-23 08:53] jo5ef commented on #3609
There is also a constructor you can use so you don't have to copy your map: `var result = new JsonObject(myMap);`. You'll need to convert your MultiMap to a Map first but I think doing this explicitly is good because json is by definition not compatible with a MultiMap.

[2020-10-23 13:04] Stwissel commented on #3609
@jo5ef yep. For Map we have all the options. Typically I write something like:

`map.filter(this::cleanup).map(this::convert).forEach(json::put);` , but using the Map collector works too.

From your comment I would conclude: it might be more interesting to "teach MultiMap some Map"

something like `toMap(MultiMapOptions.FirstOnly)` or `MultiMapOptions.Concatenate` or `MultiMapOptions.ListValues`

[2020-10-26 10:12] #3610 closed

[2020-10-26 10:12] vietj commented on #3610
This factory is not anymore a META-INF service, I removed the file, thanks for noticing and opening this issue.

[2020-10-26 10:15] SubhamSinghal opened #3612 "Reverse proxy solution from Vertx"
Is there any reverse proxy solution available from Vertx like Netflix zuul?

[2020-10-26 12:18] slinkydeveloper commented on #3375
+1 with @lygoing, i think it might be nice to have a simple way to send immutable pojos over the event bus without encoding them

[2020-10-26 13:56] vietj commented on #3612
you can have a look at https://github.com/vietj/vertx-http-proxy/ for Vert.x 4, this will be integrated in the Vert.x 4 stack soon.

[2020-10-26 13:56] #3612 closed

[2020-10-26 14:35] #3600 closed

[2020-10-27 02:16] dreamlikeoceanlmy opened #3613 "Enhance `RecordParser` to support customer protocols"
#### Describe the feature
Enhance `RecordParser` to support customer protocols
just like what LengthFieldBasedFrameDecoder in netty does

in vertx 3.9.3
I have used this way to parser my customer protocol that contains length fields in the header
[code]

#### Use cases

A more elegant way to parse it

#### Contribution
I don't have the ability to finish it，sorry

[2020-10-27 14:31] jvican opened #3614 "Cut 4.0.0.Beta4 release"
#### Describe the feature

Hey folks, I've seen there have been some important fixes in latest master regarding WebSockets -- I think some of the latest fixes fix some issues I've seen in production. Would it be possible to cut a new beta release? The last one, 4.0.0.Beta3, was released almost two months ago.

[2020-10-27 18:43] vietj commented on #3614
we will release 4.0.0.CR1 in the coming days

[2020-10-27 18:43] #3614 closed

[2020-10-27 19:36] jvican commented on #3614
Thanks @vietj, looking forward to it.

[2020-10-27 21:38] Stwissel commented on #3609
I use a little helper function. Might be an interesting addition to the MultiMap interface:

[code]

[2020-10-27 21:38] #3609 closed

[2020-10-28 18:16] abramk opened #3615 "CVE-2019-17640 is marked as resolved but there is no release with a fix"
### Version

The CVE affects vertx 3.4 through 3.9.4 and all 4.x pre-GA releases including beta1, beta2 and beta3
https://nvd.nist.gov/vuln/detail/CVE-2019-17640

### Context

The CVE was issued on Oct 15th. We need to upgrade our dependency to a version that has a fix. The related ticket https://bugs.eclipse.org/bugs/show_bug.cgi?id=567416 shows status resolved but there isn't a release with a fi

[2020-10-29 10:21] vietj commented on #3615
@abramk this is expected because the issue you are pointing out is for creating the CVE itself and not related to the version of Vert.x . I'll add a comment on the issue to specify which version fix it.

[2020-10-29 10:22] #3615 closed

[2020-10-29 13:44] abramk commented on #3615
@vietj would you kindly identify which commit fixes this? Since the CVE explicitly includes v3.9.4 as being affected, I'd at least like to be able to reference the commit that addresses the CVE.

[2020-10-29 14:58] jvican opened #3616 "Don't disable resource leak detector if netty property is set"
#### Describe the feature

Don't disable resource leak detector in netty if the netty system property for the resource leak detector is set. Vertx disables it in a static initializer and it would be best that before disabling it checks if [`io.netty.leakDetection.level`](https://github.com/netty/netty/blob/e9b28e76a366dadaf6da4375c503f670ec3e3ae4/common/src/main/java/io/netty/util/ResourceLeakDete

[2020-10-29 18:02] pantinor opened #3617 "Support for setting local source port on WebClientOptions"
#### Read me

As a user of WebClient, I would like the ability to configure the local source port in addition to the local address, in cases where a ephemeral source port is not acceptable in deployed production environment.

#### Describe the feature

Addition of setLocalPort on WebClientOptions

#### Use cases

Some servers may have firewall rules in place that limit certain ports or ranges by t

[2020-10-30 09:00] vietj commented on #3616
can you contribute a patch for this @jvican ?

[2020-10-30 09:06] jvican commented on #3616
Yeah, will take care of this one

[2020-10-30 09:17] vietj commented on #3615
https://github.com/vert-x3/vertx-web/commit/b12f7c4c6576a8adc3f683b2899de4b0e7d099e4

[2020-10-30 12:06] ex34toway opened #3618 "Vert.x Session issue set-cookie header at per request after session.regenerateId() method invoked"
### Questions

Vert.x Session issue set-cookie header at per request after session.regenerateId() method invoked

### Version

4.0.0.Beta3

### Context

final User user = res.result();
ctx.setUser(user);
if (session != null) {
    session.regenerateId();
    String returnUrl = session.remove(returnURLParam);
    if (returnUrl != null) {
        ResponseUtils.success(ctx, new JsonObject().put("retu

[2020-10-30 14:07] vietj commented on #3618
can you move this issue to Vert.x Web repository ?  https://github.com/vert-x3/vertx-web

[2020-10-30 14:07] #3618 closed

[2020-10-30 15:57] pantinor commented on #3590
If we have a fix on this client connection pool issue, I guess it will be forward ported to 4.0.0 as well right ?

[2020-10-30 16:48] jvican opened #3619 "Allow users to change the vert.x context propagation through threads"
#### Describe the feature

The `VertxImpl` implementation uses a `ThreadLocal` called `stickyContext` to propagate the context when `getOrCreateContext` or `getContext` are called outside of a pool of vert.x threads.

However, there are other ways that the state can be propagated in other executor pools. For example, effect libraries such as [Monix](https://github.com/monix/monix) have their own w

[2020-10-30 17:09] nilangshah opened #3621 "Vertx http client with http2 on worker verticle"
Hi,

I am looking for suggestion on how to solve the problem we are facing.

We have a compute which is combination of CPU and IO and we do this in worker thread.

IO is basically an http call over http2 - now due to known limitation of http2 call not supported on worker verticle we do this on event loop verticle. We had to create new vertx instance just for http client.

task()   {
1. CPU bound w

[2020-10-30 17:41] #3621 closed, assigned to nobody

[2020-10-30 21:01] vietj commented on #3619
what are the actual use cases for this feature ?

[2020-10-30 21:04] vietj commented on #3619
stickyContext is not a way to propagate a context, it is a way to guarantee that the same context will always be used when called from a non vertx thread in order to avoid races.

[2020-10-30 21:16] vietj commented on #3590
yes, but I don't think this can be fixed trivially.

[2020-10-30 21:31] jvican commented on #3619
Yeah, that's propagation for me. To be more explicit, Vert.x wants to make sure it propagates the context for all runnables that run in a thread not managed by the framework.

I'm building a framework using Monix, the mentioned effect system library, that propagates local state with a mechanism different than thread locals.

[2020-10-31 14:52] ThanosApostolou opened #3623 "Redeploy doesn't work on Windows 10"
### Version
vertx: 3.9.4 and 3.8.5

### Context
On linux everything works fine.
On Windows 10 redeploy doesn't work. When changing the code it appears on terminal that the app is getting rebuilt and redeployed, however the changes aren't applied and the app that running is still the same as the initial. Also, after pressing ctrl+c the app isn't terminated, but it keeps on running on background and

[2020-11-02 10:14] vietj opened #3624 "Blocked thread checker improvements"
In order to provide a listener to allow reporting via other means that logging.

[2020-11-02 16:48] vietj opened #3625 "SLF4J LoggerFactory should not load when no implementation is available"
When `SLF4JLogDelegateFactory` is present on the class path without an implementation, it will be considered as the `LoggingFactory` implementation over `JULLogDelegateFactory`.

Instead we should check that it can delegate to an actual implementation in order to use it.

[2020-11-02 17:23] #3625 closed

[2020-11-02 18:08] tsegismont commented on #3601
@vietj what's your opinion with respect to my previous comment? Do you believe it's a regression too? I can take care of the fix in this case.

[2020-11-02 18:55] oscarfh commented on #3601
@tsegismont We have a similar issue, where the context is not loaded. It works on milestone 4, but not milestone 5. Unfortunately I cannot confirm that this is the same issue described here (although it looks like it).

[2020-11-03 07:42] vietj commented on #3601
I think executing an interceptor should use the context.dispatch operation when calling the handler

[2020-11-03 09:21] #3616 closed

[2020-11-03 13:48] tsegismont commented on #3623
Have you tried with vertx 4 ?

Le sam. 31 oct. 2020 à 15:52, Thanos Apostolou <notifications@github.com> a
écrit :

[2020-11-03 13:58] ThanosApostolou commented on #3623
Just tried it and I see the exact same problem.

[2020-11-03 13:59] tsegismont commented on #3623
Ok, thanks for reporting this!

[2020-11-03 15:12] vietj opened #3626 "Documentation rework"
Vert.x documentation is based on callbacks.

While the documentation mentions futures, those are introduced mainly for composition purpose.

We need to rework the introduction to introduce futures early.

[2020-11-03 15:12] vietj commented on #3626
cc @jponge

[2020-11-04 11:31] oscarfh opened #3629 "[Regression] Vertx4 HttpServerRequest.uploadHandler() erases context."
I have a code snippet (link to the github repo below) that works on vertx4 milestone4, but not with vertx4 >= milestone5.
At first I thought it could be related to https://github.com/eclipse-vertx/vert.x/issues/3601, but this does not seem to be the case.

# Problem
Vertx context (`Vertx.currentContext()`) is lost inside `HttpServerRequest.uploadHandler()`

# Expected behavior
Vertx context (`Vert

[2020-11-05 01:24] peetboy opened #3630 "Filesystem.readDir fail on file with space in filename"
### Version

3.9.4

### Context

Filesystem methods for read directory failing when directory contains file with space character in filename.

### Root cause

The code is failing in FileResolver.getValidClassLoaderResource because isValidCachePath returns false
[code]
In isValidCachePath
[code]

### Steps to reproduce

1. Put "some file.txt" into resources.
2. Use Filesystem.readDir(path, handler)

[2020-11-05 08:40] vietj opened #3631 "Remove future types from being generated"
The `Future` and `CompositeFuture` interfaces are not anymore generated (i.e not anymore annotated by `@VertxGen`) since such types should actually be handled directly by the shims, e.g using `Future` in RxJava does not make sense.

[2020-11-05 08:43] #3631 closed

[2020-11-06 19:07] arad1994 opened #3632 "HAManager does not have checks on enabled flag, causing Verticles to always run in High Availability Mode"
### Questions

Do not use this issue tracker to ask questions, instead use one of these [channels](https://vertx.io/community/). Questions will likely be closed without notice.

### Version

Vertx-Core -> 4.0.0-milestone5

### Context

We have a use case for running our verticles with disabled High Availability mode, despite setting the HAEnabled as false via
`options.setClusterManager(clusterMana

[2020-11-06 22:50] #3632 closed

[2020-11-08 16:52] arad1994 opened #3635 "HAManager does not have checks on enabled flag, causing Verticles to always run in High Availability Mode"
### Version

Vertx-Core -> 4.0.0-milestone5

### Context

We have a use case for running our verticles with disabled High Availability mode, despite setting the HAEnabled as false via
`options.setClusterManager(clusterManager)
                    .setHAEnabled(false)
                    .setQuorumSize(20);`
inside beforeStartingVertx override, it was observed that the Verticle is still running in

[2020-11-08 17:08] arad1994 opened #3637 "Multiple Verticles deployed in isolation If a verticle is undeployed and then deployed again 50% of the requests work"
### Version

Vertx-Core -> 4.0.0-milestone5

### Context

If a container has multiple verticle deployed in isolation, if we restart one of those verticles, It was noticed that two handlers registered locally at the exact same address. It turns out that the restarted vertcile did not remove the handler registration from the address, On further debugging it was noted that the registration flow of Cl

[2020-11-09 16:13] pantinor commented on #3590
@vietj We should expect that when setting the idle timeout to a low value like 10-15 seconds on the webclient options, that all the connections should be closed after that idle timeout period has passed with no traffic.  Do you agree?  I have a test that seems to show the connections are not all getting closed in the conenction pool after like 60 seconds of waiting (i set idle timeout to 5 seconds

[2020-11-09 16:43] jvican commented on #3590
Just chiming in here, I think that solution makes sense. Instead of synchronizing the logic that opens connections or waiting for the results of in-flight connection handshakes, we should keep the current behavior of opening N connections, where N is the number of the max pool size, but then start closing connections until we're left with only one connection to the same server address. I guess the

[2020-11-09 18:19] vietj commented on #3590
I think that if you want a single connection, then you should have a pool of a size 1, otherwise there is nothing wrong with a pool opening 5 connections if you set max size to 5 when connections are aggressively demanded

[2020-11-09 18:21] vietj commented on #3590
@pantinor if there is a bug with idle timeout it should be fixed, is that what you observed ?

[2020-11-09 18:22] vietj commented on #3590
another concern I do have with the pool is that I would like the implementation to be kind of rewritten to be non blocking (currently it requires cooperation using a single thread event-loop) where all requests would not depend on an event loop but instead use non blocking to cooperate, hence why I would like to keep the pool as simple as possible.

[2020-11-09 18:50] pantinor commented on #3590
@vietj Question for you about using a single connection with max pool size of 1, if the server responds with a constraint on its max concurrent streams setting, will the client automatically create another connection when exceeding the streams size even tho its max pool size is 1?  or will API processing receive a send / write exception indicating the failure to send?

Yes the idle timeout does no

[2020-11-09 19:42] rvansa opened #3638 "ClusteredEventBus.removeRegistration does not call completionHandler on failure"
### Version

3.9.3, present in last 3.9, it seems to be fixed in master

### Context

Closing clustered Vert.x with **custom-provided Infinispan cluster manager**. The CM is closed in `VertxInternal.addCloseHook(...)` handler.

In method `ClusteredEventBus.removeSub` the `completionHandler` is invoked if and only if the `subs.remove(...)` succeeds; if that fails only an error is logged but the han

[2020-11-09 23:35] vietj commented on #3590
@pantinor no it will not

I think one thing we could try is to have a new setting that governs how many concurrent connections are being created

so if we set this value to 1, then only a single connection is performed at the same time. When the connection happens depending on the concurrency it will handle as much queued requests as possible.

[2020-11-10 13:53] tsegismont commented on #3638
Hi @rvansa . The `close` handler should be invoked even in case of failure. I'll look into this and fix any issue I may find.

As for closing the `cacheManager` and `vertx` properly, how about removing your close hook and close the `cacheManager` in the callback?

[code]

[2020-11-10 14:15] tsegismont commented on #3638
@rvansa this is the part of the code you were talking about, correct?

https://github.com/eclipse-vertx/vert.x/blob/baf77ec2e1931965758a0b53b6da6b3473115b56/src/main/java/io/vertx/core/eventbus/impl/clustered/ClusteredEventBus.java#L412-L414

I reckon there is a problem here in 3.9 But it shouldn't impact shutdown because `EventBus` unregisters all handlers without taking the result into account.

[2020-11-10 14:17] pantinor commented on #3590
@vietj Does this below look correct for the  use case for this dynamic connection setting?

- When max connection pool = 1 and (proposed setting) max concurrent connections = 8 (connections shall scale up based on concurrency with the server (and clients multiplexing limit) to max of 8 connections.  IO exception should be propagated to web client API if bytes cannot be sent over http connection(s)

[2020-11-10 16:50] vietj commented on #3590
@pantinor this proposal would not increase the size of the connection pool, it only changes how many concurrent TCP connection can be established at the same time.

When it is set to 1, it will ensure for HTTP/2 that can multiplex connections that a single connection is established and it will allow this connection to be fully used before another physical connection is created when the initial con

[2020-11-10 17:19] rvansa commented on #3638
@tsegismont Yes, I've ended up closing the CM in the `vertx.close(...)` handler - that works. However it means that I need to centralize closing Vert.x in my application and do a couple of casts to get the cache manager instance, instead of just tying CM lifecycle to Vert.x when I create it:
[code]

Below is the stacktrace when the `removeSub` is called.
[code]

[2020-11-10 18:07] sberyozkin commented on #3591
@vietj Hi Julien, can it be backported please to the next 3.9.x as well as I've stuck with my BC FIPS tests right now :-)

[2020-11-12 13:56] jponge commented on #3626
The first occurence of an asynchronous operation that has a callback (and hence a `Future`) is `executeBlocking`, see https://vertx-web-site.github.io/docs/vertx-core/java/#blocking_code

I think we could have a subsection before about asynchronous operations where we do something simple (e.g., starting a HTTP server, showing first a callback (e.g., `listen`) then a `Future`-variant, and quickly d

[2020-11-13 16:32] pantinor commented on #3590
@vietj The proposal looks good to me.  I can be available to review the changeset when this is being added.  Can you let us know a timeline when we think the team could add this setting?  Thanks again.

[2020-11-14 08:41] vietj commented on #3590
currently the priority is Vert.x 4.0 release, so after this release

it has been scheduled to 3.9.5 the show the intent to be part of the 3.9 branch

[2020-11-14 13:53] pantinor commented on #3590
Can you add this to 4.0.0 release.  We are using 4.0.0 as well.

On Sat, Nov 14, 2020, 3:41 AM Julien Viet <notifications@github.com> wrote:

[2020-11-14 14:28] vietj commented on #3590
that would rather be 4.1 then

[2020-11-14 14:29] vietj commented on #3590
it will be for sure in 4 though, it is just that GH issues can only have a single version and currently we use 3.9.x release when we resolve an issue both for 3.9 and 4

[2020-11-17 10:21] vietj opened #3645 "HTTP server streaming file upload cancellation"
The current API does not allow to gracefully cancel a streaming file upload.

We should provide a cancel operation that cancels the file upload in progress.

[2020-11-17 10:23] vietj opened #3646 "HTTP server file upload should delete incomplete uploads"
The HTTP server file upload should delete the created file upload when a streaming operation is aborted either due to a stream failure or if it was purposely cancelled.

[2020-11-17 10:25] vietj opened #3647 "Pipe operation should always end the write stream asynchronously"
When the pipe operation ends the write stream, it only uses the async operation on a success. On a failure the asynchronous version should be also used to complete to pipe completion future.

[2020-11-17 11:16] #3645 closed

[2020-11-17 11:16] #3647 closed

[2020-11-17 11:16] #3646 closed

[2020-11-17 11:26] vietj opened #3649 "Run GitHub Action CI on windows"
Currently a few tests are failing and we should fix them to have windows based CI.

[2020-11-17 12:15] Dr-wgy opened #3650 "java.lang.IllegalStateException: Illegal type in JsonObject: class java.time.LocalDateTime"

[2020-11-17 16:48] vietj commented on #3630
The windows JDK does not seem to accept space in names, see https://github.com/frohoff/jdk8u-jdk/blob/master/src/windows/classes/sun/nio/fs/WindowsPathParser.java#L171

Do you know more about this ?

[2020-11-17 17:24] tiparega opened #3652 "Options are not redirected to redeploy"
### Version
3.9.4

### Context

I was developing a vertx verticle using redeployment. When adding metrics, it seemed to not honor options properties. If I removed redeploy, it started working.

### Do you have a reproducer?

### Steps to reproduce

1. Add dependencies `io.vertx.vertx-micrometer-metrics` and `io.micrometer.micrometer-registry-prometheus`
2. In the start of the verticle create an ht

[2020-11-18 08:44] vietj opened #3654 "File resolver does partial cached class path directory listing"
The implementation takes care of unpacking the full content of an file's parent directory to ensure that listing this directory will return all the entries in the class path.

This works only for a single level and therefore the issue happens with 2 directories, e.g resolving the file `/foo/bar/juu` leads to listing `/foo/bar` to be correct but `/foo` will only contain `/foo/bar`.

There are sever

[2020-11-19 07:24] vietj opened #3656 "File resolver should replace the file separator before parent file class loader lookup"
The `FileResolver` replaces the file separator for a `ClassLoader` lookup however it does not do it for the parent file `ClassLoader` leading to issues on Windows.

[2020-11-19 07:52] #3656 closed

[2020-11-19 08:40] #3601 closed

[2020-11-19 18:42] gwayne9955 opened #3658 "Race condition throws an unhandled exception in CompositeFuture.all"
### Version

Which version(s) did you encounter this bug ?
`3.9.2`, but this is likely in newer versions as well.

### Context

When at least two futures executing on different threads are passed to `CompositeFuture.all()`, there is a race condition throwing an unhandled and unexpected exception if the futures both fail at virtually the same time.

The gap between this `synchronized` block in `all

[2020-11-19 19:18] pmlopes commented on #3650
@wuguanyu which version are you using? Currently only `Instant` is automatically handled by vert.x json so if you can do a `.toInstant()` it should be safer.

[2020-11-20 10:20] tsegismont commented on #3623
@ThanosApostolou I could take some time to look into this and there are two problems actually.

1/ the `doOnChange` value is incorrect, it should not start with a dot
It should be `gradlew classes` instead of `./gradlew classes`

See https://github.com/vert-x3/vertx-starter/blob/master/src/main/resources/templates/build.gradle.kts.ftl#L43

Because of this the application is not recompiled and that

[2020-11-20 16:51] tsegismont commented on #3638
@rvansa thanks for the stacktrace, it helped. So this happens when a verticle is undeployed. I'll fix this case. I checked that indeed it is fixed in `master`.

[2020-11-21 11:07] hradecek commented on #3617
I've create a PR [1], which is adding a new options `localPort` for `HttpClientOptions` and `NetClientOptions`.
--
[1] https://github.com/eclipse-vertx/vert.x/pull/3660

[2020-11-22 08:17] YaytayAtWork opened #3661 "Generated Converters ignore base classes - JSON cannot be used to configure RabbitMQ"
### Version

4.0.0.CR1

### Context
From RabbitMQClient:
[code]
From RabbitMQOptions:
[code]
From RabbitMQOptionsConverter:
[code]

### Steps to reproduce

1. Create a JsonObject containing reconnectAttempts.
2. Create a RabbitMQOptions from it.
3. See that the reconnectAttempts is set to the default value (which is no reconnects)

### Extra

From a RabbitMQ point of view this means that PR [106](

[2020-11-23 09:51] YaytayAtWork commented on #3661
Ah, looks like the inheritConverter annotation option is supposed to solve the problem.
From looking at the DataObjectHelperGen code I think that just needs to be applied to the RabbitMQOptions, rather than to all the ancestors, to solve my specific problem - but don't we usually want ancestors considered for to/fromJson methods?

[2020-11-23 10:19] #3629 closed

[2020-11-23 10:57] tsegismont opened #3662 "Clustered consumer keeps local registration when unregistered"
A method name was changed in `EventBusImpl` but not updated in `ClusteredEventBus` while re-working the clustering SPI.
This might have happened while rebasing #3132 on `master`.

The bug was not caught because we didn't have a test for unregistration.

[2020-11-23 11:28] #3662 closed

[2020-11-23 13:28] tsegismont commented on #3637
Fixed in #3663

[2020-11-23 13:28] #3637 closed

[2020-11-23 14:38] diegomoreira001 opened #3664 "WebClient/HttpClient timeouts randomly"
### Version

3.9.4; 4.0.0.CR1

### Context

We've built a "reverse proxy" that routes the incoming requests to a cluster of backend services based on a request header (X-Target-Host & Port).

The code is pretty simple and straightforward. We created an HttpServer that receives the connections on port 8080, and then a request handler with a single WebClient instance creates a new request and forwar

[2020-11-23 15:51] diegomoreira001 commented on #3664
Similar if not the same as #3399

[2020-11-24 07:27] #3399 closed

[2020-11-24 07:27] vietj commented on #3664
I closed the other issue because it was old, we'll keep this one since it has a reproducer too.

[2020-11-24 07:28] vietj commented on #3664
Can you elaborate what you mean by randomly ? it is not clear what we should observe as issue.

[2020-11-24 07:29] vietj commented on #3661
can you reopen this issue in the RabbitMQ project ? it does not seem to be for Vert.x Core.

[2020-11-24 07:29] #3661 closed

[2020-11-24 07:44] YaytayAtWork commented on #3661
I can, and will, but NetClientOptions (not in RabbitMQ) has the same problem.
I can't think of a reason why you wouldn't want inheritConverter, but it's hardly used.

[2020-11-24 08:24] vietj opened #3665 "CompositeFuture concurrent races"
The implementation of `CompositeFuture#all`, `CompositeFuture#any` and `CompositeFuture#join` has races leading to throwing an exception to the caller when it should not. Those races don't affect the correctness of the future outcome.

[2020-11-24 08:36] vietj commented on #3652
can you provide a pull request for this @tiparega ?

[2020-11-24 08:36] #3649 closed

[2020-11-24 08:38] vietj commented on #3658
@gwayne9955 thanks for reporting, I've made a PR to fix it, I used your test as basis for concurrently testing the case.

[2020-11-24 08:45] tsegismont commented on #3638
Closed in #3659

[2020-11-24 08:45] #3638 closed

[2020-11-24 09:40] #3658 closed

[2020-11-24 09:40] #3665 closed

[2020-11-24 13:20] diegomoreira001 commented on #3664
Well, randomly may not be the best word to describe it.

What’s happening is we get timeouts on the WebClient after a few requests.

When running locally and the webclient connects to a local mocked backend, it starts throwing timeouts after 817x requests.

On prod, this happens after 30 or 40 requests. (Latency between the app and the service is 50ms on average and worst case 150ms)

A timeout on

[2020-11-24 13:44] vietj commented on #3664
I'll have a look as soon as possible

[2020-11-24 13:44] vietj commented on #3664
I assigned to 4.0 as reminder

[2020-11-24 14:03] diegomoreira001 commented on #3664
Sure, let me know if I can be of any help.

[2020-11-25 11:42] cartmanez opened #3668 "Connection pool exhausted when proxying with Pump and client closes connection prematurely"
### Version

3.3.3, 3.9.4

### Context

Connection pool exhausted when proxying requests with Pump and application client closes connection before it is fully processed by the server.

### Do you have a reproducer?

https://gist.github.com/cartmanez/e719e753fadec4b53058be948617a898

### Steps to reproduce

To reproduce I run
[code]
and stop it in the middle of execution. After that connection pool

[2020-11-25 15:04] #3630 closed

[2020-11-25 18:48] leolux commented on #3568
This prevents Server Sents Events to initialize in my case. The server needs to respond with the header "Content-Type: text/event-stream" for the SSE handshake to setup. The TCP connection used by the browser/client already is reused for the SSE stream.

[2020-11-25 21:05] leolux commented on #3568
Even worse is that a call to "route.next()" leads to "setStatusCode(200)" which checks for the "headWritten" flag which in turn results in this stacktrace:

[code]

[2020-11-26 02:07] Leibnizhu opened #3670 "Throws IllegalStateException("cacheDir is null") when using filesystem in JVM shutdown hook"
### Questions
When using vertx filesystem operation in a JVM shutdown hook, it throws  java.lang.IllegalStateException: cacheDir is null.
My code is :

[code]

Console output:

[code]

### Version
When runing this test with vert.X 4.0.0.CR2 or 4.0.0.CR1, it happens;
But it runs normally with 4.0.0-milestone5, with console output as below:
[code]

### Context
None

### Do you have a reproducer?
Ref

[2020-11-26 04:19] sunn4room opened #3671 "integration with log4j2: [NullPointerException] An exception occurred processing Appender Console"
### Questions
When I set Log4j2's pattern of Console with "%highlight" or "%style", a NullPointerException was threw.
### Version
4.0.0.CR2

[2020-11-26 04:24] #3671 closed

[2020-11-26 06:39] fanbitian opened #3672 "HttpServer is still listening after close() if there is 2 instance listened on the same port"
### Questions

If main verticle deploy just one sub verticle, the server will be closed successfully. But it will failed if there is more than one sub verticle.

### Steps to reproduce

1) I deploy a main verticle and it will start a http server listening on the port 8000.
2) The main verticle will deploy 2 sub verticle after I request  "/strart".
3) Each sub verticle will start a http server list

[2020-11-26 10:06] vietj opened #3673 "Generic KeyStoreOptions"
Vert.x provides specialized usage of `KeyStore` for loading `KeyCertOptions` and `TrustOptions` as `JksOptions` and `PfxOptions`.

Sometimes it can be desirable to use another implementation such as the ones provided by Bouncy Castle. We can add a more generic `KeyStoreOptions` to serve that purpose.

[2020-11-26 10:08] #3673 closed

[2020-11-26 11:48] leolux opened #3674 "streamId missing in HttpServerRequest"
As simple as that.

[2020-11-26 13:14] tsegismont commented on #3672
I can't reproduce.

Perhaps you have made a request to `/start` more than once and lost track of verticles deployed before.

[2020-11-26 13:14] #3672 closed

[2020-11-26 14:47] vietj commented on #3668
@cartmanez writing a proxy is quite difficult, have you tried instead of using Pump to use the new Pipe operation ?

[2020-11-26 14:47] vietj commented on #3668
the Pipe is an improved Pump

[2020-11-26 14:47] vietj commented on #3668
also we do have a project coming in Vert.x 4 that does exactly what you are trying to achieve and takes care of all failure cases

[2020-11-26 14:47] leolux opened #3675 "Header Guard not compatible with the Server-Sent Events specification"
Regarding the specification for [Server-Sent Events](https://www.w3.org/TR/eventsource/) multiple EventSource objects can share the same HTTP2 stream:
"It's possible for one active network connection to be shared by multiple EventSource objects and their fetch algorithms,"

I have inspected the HTTP2 stream of the vert.x server and I can approve that the Browsers (both Chromte and Firefox) use the

[2020-11-26 14:47] vietj commented on #3668
https://github.com/vietj/vertx-http-proxy

[2020-11-26 14:48] vietj commented on #3668
you can find forks of this project that run on Vert.x 3 : https://github.com/hgomez/vertx-http-proxy

[2020-11-26 14:49] vietj commented on #3668
my point is that the code in the proxy should take care of properly handling failures when there is a inbound or outbound connection failure and make a best effort to serve the client proxy

[2020-11-26 14:50] vietj commented on #3668
and the pool is likely exhausted because when a client of the proxy is failing, the corresponding connection should likely be closed (which is the least to do) or reset (with HTTP/2).

[2020-11-26 14:57] vietj commented on #3664
@diegomoreira001 not dismissing this issue : have you tried using https://github.com/vietj/vertx-http-proxy ?

this has been recently rebased on Vert.x 4 and it will be part of Vert.x 4.1

[2020-11-26 15:00] vietj commented on #3664
@diegomoreira001 could you provide us for testing the most simple version that fails ? my point is that it will be easier for us to find out the issue

[2020-11-26 15:01] vietj commented on #3674
do you mind contributing this @leolux ?

[2020-11-26 15:02] vietj commented on #3623
shall we close this issue @tsegismont ?

[2020-11-26 15:19] tsegismont commented on #3623
I think we should keep it open, remove the target milestone and add the _help wanted_ label.

This is something specific to Gradle on Windows, I have no time to investigate it.

[2020-11-26 18:03] leolux commented on #3675
Sorry, I made a mistake while digging into the HTTP frames and log files. In fact, the browser does not use the same stream for multiple EventSource objects. So there is no issue from notable by users. However, the spec seems to allow for the network connection to be shared by multiple EventSource objects.

Now Iit seems clear to me that the specification allows multiple HTTP streams to be shared

[2020-11-26 18:03] #3675 closed

[2020-11-27 03:19] fanbitian commented on #3672
This bug appears inevitably in my environment.  I update the example code. I find out that if request from the **postman** instead of browser, it will appears inevitably. Postman will keep alive connection and dosen't been kill after HttpServer closed. (set http header Connection=keep-alive)

[code]

[code]

[2020-11-27 03:31] fanbitian commented on #3672
@vietj @tsegismont

[2020-11-27 10:53] smoell opened #3676 "Native image: Issues with VertxUnsafeHeapByteBuf"
### Questions

My native-image.properties are

[code]

and I have the following error:

[code]

However, if I add all listed classes to -initialize-at-run-time, I get the following error:

[code]

### Version

Vertx 4.0.0 CR 2

### Do you have a reproducer?

* https://github.com/aws-samples/reactive-refarch-cloudformation

### Steps to reproduce

1. Check out project
2. cd reactive-refarch-cloudfo

[2020-11-27 11:08] vietj commented on #3676
this class is new in Vert.x 4, I'm not familiar enough with native images to explain what is wrong. @pmlopes do you have an opinion on this ?

[2020-11-27 12:38] cartmanez commented on #3668
HI @vietj

Thanks for you response. Did not try vertx-http-proxy, but with Pipe I'm seeing same result.

However, I think I was able to fix the problem - please see [updated demo app](https://gist.github.com/cartmanez/2d19ad4b6c68810c150849d3dfbc8a65#file-proxyverticle-java-L33-L35). Key thing is not to create Pump if client connection is already closed.

Just wondering - can (or should) Pump chec

[2020-11-27 13:22] diegomoreira001 commented on #3664
@vietj sorry for the delay...

sure! I'll upload another version today.

regarding vertx-http-proxy, I'll give it a try over the weekend.

[2020-11-27 14:07] tsegismont commented on #3672
I don't have postman. If you can provide a full reproducer (e.g. in the form of the test case) I can take a look again.

[2020-11-28 21:26] julianladisch commented on #3505
The typo
[code]
has be been fixed to
[code]
in commit https://github.com/vert-x3/vertx-guide-for-java-devs/commit/0ed960ba27b4a0415d3ad884092caf96e0b2cc52
that has been merged to default branch 3.8 but not to branch master.
This fix has not been deployed to https://vertx.io/docs/guide-for-java-devs/ yet.

[2020-12-01 10:30] #3626 closed

[2020-12-01 10:30] vietj commented on #3626
thanks for helping @jponge

[2020-12-01 16:44] vietj commented on #3676
@cescoffier we do have a specific new buffer class in Vert.x 4.0 (that avoid duplicating a `ByteBuf`), do you know how to handle this with GraalVM ?

[2020-12-01 17:02] cescoffier commented on #3676
That will require additional substitutions and compilator flags.

[2020-12-01 22:31] jvican commented on #3676
I'm running a native version of vert.x 4.x successfully. I think the issue you run into can be solved by adding `--initialize-at-run-time=io.vertx.core.net.impl.PartialPooledByteBufAllocator`

[2020-12-02 09:00] pmlopes commented on #3676
@jvican can you share a working example? I tried to add the suggestion you made on a simple hello world project and it doesn't seem to make it work.

[2020-12-02 09:12] u6f6o commented on #3183
we are running vertx in k8s as well (version 3.9.2 atm) and the periodic operations are triggered reliably (every 15 minutes).

[2020-12-02 14:10] jvican commented on #3676
Sure thing, you might need a few more. Here's a gist of my options for GraalVM Native 20.3.0.

[code]

You'll most likely need to remove the Scala-specific options if you're not using Scala.

Some of those options are repeated and already included in the netty GraalVM configuration because I haven't yet had the time to go through the diff between the default GraalVM run-time/build-time symbols and

[2020-12-02 16:27] pmlopes commented on #3676
@jvican great, yes once core is upgraded to the latest netty some of these can be removed safely! Thanks!!!

[2020-12-02 16:36] pmlopes commented on #3676
@smoell as a quick test I've added @jvican comment to the example we had:

a single application running:

* HTTP server
* HTTPS server
* WebClient

And it builds and runs. Perhaps you can have a look at the commit linked above and see if it works for you too.

[2020-12-02 17:30] vietj opened #3681 "HTTP client max WebSockets"
The max number of WebSocket is defined by the HTTP client pool size (`HttpClientOptions#maxPoolSize`). In Vert.x 4 there is no pooling of WebSocket TCP connections (since those are closed after usage) and they use a different pool than HTTP connections used for request/response. Both use `maxPoolSize`.

We should have a different setting with a better name : `maxWebSockets` with a default of 50 pe

[2020-12-02 17:31] #3681 closed

[2020-12-02 19:42] doctorpangloss opened #3682 "FutureBase should additionally check if the context belongs to a closed vertx instance"
https://github.com/eclipse-vertx/vert.x/blob/85ac0ea4f6d853e3363957b41ce43dbf94664478/src/main/java/io/vertx/core/impl/future/FutureBase.java#L49

https://github.com/eclipse-vertx/vert.x/blob/85ac0ea4f6d853e3363957b41ce43dbf94664478/src/main/java/io/vertx/core/impl/future/FutureBase.java#L66

These checks should also check if the context does not belong to a Vertx instance that has been close (i.e

[2020-12-03 09:28] smoell commented on #3676
Great, I'll have a look!

[2020-12-03 12:02] smoell commented on #3676
I dived deep into the init process and this list is working for me:

`Args = --trace-class-initialization=io.netty.buffer.UnpooledUnsafeHeapByteBuf,io.vertx.core.buffer.impl.VertxUnsafeHeapByteBuf,io.netty.buffer.UnpooledHeapByteBuf,io.netty.buffer.AbstractReferenceCountedByteBuf \
        --enable-http \
        --enable-https \
        --allow-incomplete-classpath \
        --enable-all-security

[2020-12-03 12:02] #3676 closed

[2020-12-03 17:52] noobthinker opened #3684 "publish,send not work"
### Questions

EventBus publish send not work. consumer nerver target.

### Version

3.9.4,
4.0.0.Beta3
,4.0.0.CR2,
4.0.0.CR1

### Context

EventBus publish send to the address, the handler never target. but request can work.

### Do you have a reproducer?

no

Reproducers are very helpful for contributors and will likely help them fixing your bug faster.

* Link to github project/gist

### Steps

[2020-12-03 23:30] vietj commented on #3682
the purpose of creating a promise without a context is that it can be used after Vert.x is closed

[2020-12-04 04:14] doctorpangloss commented on #3682
Exactly, so I'm really puzzled how I wind up with a `Future` with a non-null context. I'll give you a repro once I minimize the test case, thank you Julien.

[2020-12-04 10:01] tsegismont commented on #3684
Deploying a verticle or registering a consumers are asynchronous operations.

If you want to make sure the consumer is ready to get the messages, you need to use callbacks:

[code]

Notice that the verticle uses the `start` method variant that takes a `Promise` parameter, which allows to indicate completion. The verticle will be considered started only when the consumer registration completes.
Tha

[2020-12-04 10:01] #3684 closed

[2020-12-04 15:09] noobthinker commented on #3684
Thank you so much.

that's help a lot.

I found that vertx is asynchronous, which is why the event is not triggered.

public class WhatsHappened {
  public static void main(String[] args) {
      Vertx vertx = Vertx.vertx();
      EventBus bus = vertx.eventBus();
      vertx.deployVerticle(new NerverTarget(),ar->{
          if(ar.succeeded()){
              System.out.println("ok");

[2020-12-04 15:39] vietj opened #3685 "Future eventually transformation"
The `Future` type is missing an async transformation that is called independently of the result.

This type already have:

- `compose(Function<T, Future<U>>,Function<Throwable, Future<U>>)`
- `compose(Function<T, Future<U>>)`
- `recover(Function<Throwable, Future<U>>)`

We are missing

- `eventually(Function<Void, Future<U>>)`

This is useful for applying a finally semantic, e.g we have currently

[2020-12-04 16:03] #3685 closed

[2020-12-06 15:00] leolux commented on #3674
I would love to contribute this but I have no spare time this year. I try to start at Q1 2021.

[2020-12-08 01:53] Leibnizhu commented on #3670
same bug at `4.0.0`

[2020-12-08 15:37] pmlopes commented on #3670
@Leibnizhu @vietj this is a tricky one. We use a shutdown hook to clean up the cache dir, however the example in this issue is calling the file system during the shutdown (when the cache is already clean).

I guess we could "relax" the exception and fallback to "no cache" file system (meaning no more access to resources that live on the class path).

But honestly, I'm not certain if this is a bug

[2020-12-08 19:07] kotcrab opened #3687 "Connection pool can create connections which ignore keep alive settings"
### Version

3.9.1 but this also happens on latest commit

### Context

Since some time we've seen `WebClient` throwing `Connection reset` error on first request after a period of inactivity. I know that our gateway closes inactive connections after some time. The question was why `WebClient` doesn't close such connections, the default keep alive settings should remove inactive connections after 6

[2020-12-08 21:10] doctorpangloss opened #3688 "No message codec for type should probably return a Future.failedFuture not throw"
### Version

4.0.0.CR2

### Context

Sending a message on the event bus with a missing codec throws an exception instead of returning a failed future.

[code]

### Do you have a reproducer?

[code]

[2020-12-08 22:07] doctorpangloss opened #3689 "Context close hooks need some kind of priority to prevent closing e.g. a PgPool used for undeployment"
### Version

4.0.0.CR2

### Context and Reproduction

Depending on when you create e.g. a `PgPool`, its close hook may run before or after a verticle `stop` in a way that is unexpected. In particular there are closeable resources you almost always want to run last. This is the case with the clustered event bus, for example, but is not well defined for things like database pools.

In this example,

[2020-12-08 22:25] vietj commented on #3689
so actually we should ensure that any resource created in the verticle is closed after the verticle promise is resolved

[2020-12-08 22:26] vietj commented on #3688
that's a fair point

[2020-12-09 04:48] froggengoing opened #3690 "interface io.vertx.ext.auth.User"
### Questions

[code]

### Version

vertx-auth-common:3.9.4

### Context

both ` isAuthorized(String authority, Handler<AsyncResult<Boolean>> resultHandler) ` and `isAuthorised(String authority, Handler<AsyncResult<Boolean>> resultHandler)`  declare   `@Deprecated`
so what method should i use in inteface User to authorise
the entire classpath is `io.vertx.ext.auth.User`

[2020-12-09 04:49] froggengoing commented on #3690
the entire classpath is `io.vertx.ext.auth.User`

[2020-12-09 08:51] vietj commented on #3690
can you move this issue to https://github.com/vert-x3/vertx-auth ?

[2020-12-09 08:51] #3690 closed

[2020-12-09 15:59] vietj commented on #3687
the code you shown seems to be for Vert.x 4

[2020-12-09 16:05] kotcrab commented on #3687
Yep I made the test case with latest commit on master. If you want I can port it to 3.9 but it's not that different...

[2020-12-09 16:07] vietj commented on #3687
yes it would be better, because I am not sure the issue happens in 4.0

I don't get the same results than you when trying your reproducer;

[2020-12-09 16:09] vietj commented on #3687
so the issue could be solved in various ways I think

- one is that `expirationTimestamp` could be initialized early and not only when the connection is recycled
- another way could be that when a connection is created, the waiter is removed from the list which changes how the pool progress

[2020-12-09 16:12] vietj commented on #3687
both could be done too

I think one thing we need to keep in mind when fixing this, is to have the future support of waiter expiration too.

[2020-12-09 16:28] kotcrab commented on #3687
[Test on 3.9 branch](https://github.com/kotcrab/vert.x/commit/9b3d0be25bf4d07919bb5690ddf544b6ae90ce02)

Hmm strange. With the added delay in `HttpChannelConnector` it works for me every time.

[2020-12-09 16:50] #3598 closed

[2020-12-09 16:51] vietj commented on #3598
moved to vertx-web https://github.com/eclipse-vertx/vert.x/issues/3598

[2020-12-09 17:02] doctorpangloss commented on #3682
Fixing other bugs made this problem go away, so I think I will close it for now!

[2020-12-09 17:02] #3682 closed

[2020-12-10 00:52] doctorpangloss opened #3691 "An event bus consumer handler's Message<> could benefit from a .reply() promise"
#### Describe the feature

`Message<T>` should have an API like

[code]

#### Use cases

[code]

Observe it ought to infer the arguments by the `Future<V>` returned by `doAsyncWork()`.

It also gives you a handy way to tap into enhancements to `Future`, like reifying the stack for tracing or transmitting error messages via VertxException, the more APIs that look like this the better!

[2020-12-10 01:59] Leibnizhu commented on #3670
@pmlopes thanks for explanation, I read the source code of `FileCache` and realize what you mean.
I'm trying to persist something to local file when JVM shutdown; So what's the right way to do that with Vert.X ?

[2020-12-10 08:30] vietj commented on #3687
I'll have a try on 3.9.

[2020-12-10 08:41] vietj commented on #3687
@kotcrab can you try this change

[code]

[2020-12-10 08:51] vietj commented on #3687
I believe it's hard to reproduce with a real case because it means we would need have TCP handshake hang which is not really possible

[2020-12-10 09:04] vietj commented on #3691
I see your point and it makes sense to some extent.

However I think that would be confusing and not be consistent with `replyAndRequest()` that returns a future.

[2020-12-10 09:08] vietj commented on #3691
Perhaps we could have something like:

[code]

that would allow:

[code]

[2020-12-10 09:10] vietj commented on #3670
it should be done in a Verticle stop(Promise) method, the verticle stop
will be called before the filesystem is closed and the promise give you
control over asynchrony.

On Thu, Dec 10, 2020 at 2:59 AM Leibniz.Hu <notifications@github.com> wrote:

[2020-12-10 09:23] vietj opened #3692 "HTTP 1.x client connection can get invalid keep alive value"
The implementation of the HTTP 1.x client connection assumes that a client connection will always be used and thus the expiration timestamp is computed when the connection is recycled. In some case, a connection can be created but not used and then immediately stored in the pool. When this happen, the connection in the pool will have a different validity expectation as it will be considered as for

[2020-12-10 09:38] vietj commented on #3687
actually this fix is incorrect, we should really compute this initially.

[2020-12-10 09:38] vietj commented on #3687
although it solves the issue in this case

[2020-12-10 09:59] #3692 closed

[2020-12-10 10:00] #3687 closed

[2020-12-10 13:50] vietj opened #3694 "HTTP/2 server request stream identifier"
A getter for the HTTP/2 stream id of a server request.

[2020-12-10 13:54] #3674 closed

[2020-12-10 13:54] #3694 closed

[2020-12-10 13:54] vietj commented on #3674
see https://github.com/eclipse-vertx/vert.x/issues/3694

[2020-12-10 14:12] jekkel commented on #3629
This is still present in 4.0.0 final. I guess because @pmlopes PR has not been merged yet, instead its milestone has been changed to 4.0.1. For the sake of consistency: this issue should be open and targeted towards 4.0.1, don't you think @vietj ?

[2020-12-10 15:30] vietj commented on #2435
I think we will leave it like that for 3.x because it would be a regression with how applications might handle currently.

[2020-12-10 15:30] #2435 closed

[2020-12-10 17:38] kotcrab commented on #3687
Thanks, I can confirm that the fix works for my reproducer.

Yeah. It's hard to say what is exactly going on in our env that causes this but it was pretty frequent.

[2020-12-10 18:04] vietj commented on #3629
which pr is that ?

[2020-12-10 18:16] jekkel commented on #3629
https://github.com/eclipse-vertx/vert.x/pull/3639

[2020-12-10 21:26] tsegismont commented on #3652
Closed in b23ddc9f84d9dbd30e4a024b626947252ebb1cab

[2020-12-10 21:26] #3652 closed

[2020-12-11 16:43] vietj opened #3697 "Future eventually returns the wrong Future"
The new `eventually` method on `Future` returns an incorrect future:

[code]

The returned future will get the outcome of the original future when the future returned by the mapper function completes.

[2020-12-11 16:48] vietj opened #3698 "Future transform method"
The `Future` type can be improved with this transform method:

[code]

This method is syntactic sugar for `compose(Function<T, Future<U>>, Function<Throwable, Future<U>>)`.

[2020-12-11 22:30] #3698 closed

[2020-12-12 23:50] Joxit opened #3700 "Security addition on proxy protocol (real remote and source addresses)"
#### Describe the feature

Get an access to the real remote address when using Proxy Protocol. In the current implementation of proxy protocol, the field `remoteAddress` is replaced by the source IP from the proxy protocol request (and that shouldn't change). We should add the original source and destination IP somewhere in the context.

#### Use cases

The proxy protocol is used between a Load Ba

[2020-12-13 02:38] idontusenumbers opened #3701 "sendForm(MultiMap) does not include Content-Length header leading to hung request"
### Version

4.0.0

### Context

I have a vertx+rxjava webclient trying to POST to a PHP application

Vertx WebClient > Docker (Caddy > PHP-FPM)

Caddy config:
[code]

### Do you have a reproducer?
[code]

Results in this HTTP request as seen from Wireshark:
[code]
I never get a response, wireshark never logs a response, the Single never completes, an XDEBUG breakpoint on the first line is never h

[2020-12-13 08:06] vietj commented on #3701
can you move this issue to the vertx-web repository ?

[2020-12-13 08:06] #3701 closed

[2020-12-13 08:06] vietj commented on #3701
https://github.com/vert-x3/vertx-web

[2020-12-13 08:11] idontusenumbers commented on #3701
Created https://github.com/vert-x3/vertx-web/issues/1818

[2020-12-14 09:53] hantsy opened #3702 "Docs: there is no start(Future<Void>) in the AbstractVerticle"
There is a `start(Future<Void>)` in the Vertx [Core](https://vertx.io/docs/vertx-core/java/#_asynchronous_verticle_start_and_stop) docs.

But in Vertx 4.0, the `start` method in the `AbstractVerticle` and `Verticle` only accept a `Promise<Void>` paratmeter.

[2020-12-14 10:02] sagaxu opened #3703 "ByteBuf leak reported by netty's ResourceLeakDetector"
### Questions

1. Is this a false positive?
1. how to supress this warning?

[code]

### Version
4.0.0

[2020-12-14 13:34] vietj commented on #3703
do you have a reproducer @sagaxu ?

[2020-12-14 13:35] vietj commented on #3703
it might be a false positive, did you experience performance issue ? did you configure something special ?

[2020-12-14 13:38] vietj commented on #3702
thanks for reporting

[2020-12-14 13:43] #3702 closed

[2020-12-14 16:08] pantinor commented on #3617
@hradecek Are we delivering it to WebClientOptions with this PR as well, or is that required to be separate PR ?

[2020-12-14 22:20] vietj commented on #3617
This should not be in `WebClientOptions` because this applies to all connections created by the client. Instead it should be a `localPort` setting on `HttpRequest` that would set the local port on the `RequestOptions` that are created for `HttpClient`.

So we should proceed to first have a contribution in master to add local port support to `RequestOptions` and then a contribution here.

[2020-12-15 08:28] hantsy opened #3704 "rxjava2: reactive Vertx should be injected in Junit 5"
In Vertx Rxjava 2 sample, I tried to use all vertx-rx-rxjava2 APIs instead of the vertex core.

But the `io.vertx.reactivex.core.Vertx` can not be injected in the JUnit 5 methods like the normal Vertx.

My application is based on the following stack:

* Vertx 4.0.0
* Java 11
* Windows 10

I have to wrap it [myself like this](https://github.com/hantsy/vertx-sandbox/blob/master/rxjava2/src/test/java

[2020-12-15 08:35] hantsy opened #3705 "rxjava2: ValidationHandler builder `build` method should return a rxjava2 specific ValidationHandler"
I added web validaiton and rxjava 2 in my Rxjava project.

I used the ` io.vertx.reactivex.ext.web.validation.ValidationHandler`.

[code]

But the `build()` method returns `io.vertx.ext.web.validation.ValidationHandler`. I think it should be ` io.vertx.reactivex.ext.web.validation.ValidationHandler`.

Before applying it to the routing handlers, I have to [wrap it again](https://github.com/hantsy/v

[2020-12-15 09:17] vietj commented on #3704
can you open this issue in the vertx-junit5 repo ? https://github.com/vert-x3/vertx-junit5

[2020-12-15 09:17] #3704 closed

[2020-12-15 09:17] vietj commented on #3705
can you open this issue in the vertx-web repo ? https://github.com/vert-x3/vertx-web

[2020-12-15 09:17] #3705 closed

[2020-12-15 11:13] hantsy commented on #3705
vertx-web is not under eclipse-vertx?

[2020-12-15 12:56] vietj commented on #3705
unfortunately no, long story :-)

[2020-12-15 13:09] daihy8759 opened #3706 "The official website is not accessible"
Cannot access [vertx.io](https://vertx.io)：ERR_SSL_VERSION_OR_CIPHER_MISMATCH

[2020-12-15 13:46] daihy8759 commented on #3706
Cloudflare dns problem

[2020-12-15 13:46] #3706 closed

[2020-12-15 21:05] oscarfh commented on #3629
Can someone please reopen this, since it was not included in 4.0.0RC2 or 4.0.0.Final? @pmlopes and @vietj

[2020-12-15 21:18] vietj commented on #3629
this fix has not been take as is, but https://github.com/eclipse-vertx/vert.x/pull/3639 fixes it equally

[2020-12-15 21:18] vietj commented on #3629
if you found a regression then it's a new bug and you should open it with a reproducer

[2020-12-15 23:28] oscarfh commented on #3629
@vietj ok, thanks a lot!

[2020-12-16 10:38] sagaxu commented on #3703
I didn't see this warning in last two days, can't reproduce.
I haven't seen any performance impact.
I'm going to upgrade more servers to 4.0.0.

[2020-12-16 11:19] vietj commented on #3703
for now closing

[2020-12-16 11:19] #3703 closed

[2020-12-16 22:03] peetboy opened #3709 "ConfigRetriever doesn't load properties file + small typo in factory name"
### Version
4.0.0.CR1
### Context
I have a verticle with example code for loading properties from documentation but nothing is loaded.

resources/conf/raw.properties
[code]
code in verticle
[code]
After handling of configRetriever.getConfig() the result is empty.

I do have another configuration config.json in resources/conf folder and that one is loaded properly by default.
I have also tried with

[2020-12-16 22:22] oscarfh commented on #3629
I can confirm this still happens.
I will prepare a project to reproduce this.
I noticed that the commit db3d799bb613a4f0f5516365c5bf96cc4dadee0d is not on master, is there a reason for that?

[2020-12-17 02:53] ngyukman opened #3710 "Multipart attributes corrupted after upgrading netty to 4.1.51"
### Version

3.9.5

### Context

After upgrading the netty to 4.1.51, multipart form attributes is corrupted when file size is larger than buffer size in the netty.
Seems the attribute value is replaced by the file content

* Link to github project/gist
https://gist.github.com/ngyukman/c48def66b414881dae919893389dfbd6

### Steps to reproduce

1. start the server from gist
2. post with multipart an

[2020-12-17 07:45] EmadAlblueshi commented on #3709
Hi,

This issue should be opened in [vertx-config](https://github.com/vert-x3/vertx-config)

[2020-12-17 07:53] vietj commented on #3629
which commit is it ?

if you can provide a reproducer then it's great

[2020-12-17 09:59] #3709 closed

[2020-12-17 10:00] vietj commented on #3710
For information, this requires a gRPC upgrade that currently forces the Netty version in Vert.x

[2020-12-17 10:09] ngyukman commented on #3710
I was actually upgrading gRPC to latest and bring Netty to 4.1.51 and start having the issue

[2020-12-17 12:27] oscarfh commented on #3629
This one https://github.com/eclipse-vertx/vert.x/pull/3639/commits/766a6ea3d7fc935141755b9d63c5cd5292ef450f
The commit itself and the contents are missing.
Nevertheless, I applied them my a local version of vertx and ran my system and it did not solve. I will start working on a reproducer right now.

[2020-12-17 14:45] oscarfh opened #3711 "[Regression] Vertx4 HttpServerRequest.uploadHandler() erases context. (2)"
This is the same issue as #3629 , where the UploadHandler erases the context.
The reproducer from the original ticket: https://github.com/oscarfh/vertx-upload-handler-context is still reproducing the issue.

I am researching to add any new findings on this.

[2020-12-17 14:47] oscarfh commented on #3629
@vietj I can confirm this still exists and that the reproducer I created for this issue is still reproducing it.
I created a new ticket #3711 as you asked, but I have not added any new information (yet) because I do not have it. I am still researching.
I will add new things in the new ticket, if I find anything.

[2020-12-17 14:47] oscarfh commented on #3711
/cc @jekkel @vietj

[2020-12-17 15:37] vietj commented on #3711
thanks

[2020-12-17 16:21] oscarfh commented on #3711
I am preparing a PR to fix this.

[2020-12-17 16:30] oscarfh commented on #3711
@vietj https://github.com/eclipse-vertx/vert.x/pull/3712  :)

[2020-12-17 21:24] champeric opened #3713 "JsonObject.getInstant() doesn't work for timezone other than Z"
### Version

3.9.4

### Context

`JsonObject.getInstant()` doesn't work if the date in the JSON contains a timezone other than 'Z'.

[code]

The JavaDoc of the functions says it complies with RFC-7493 so it assumes the date is encoded ISO 8601. RFC-7493 refers to RFC-3339 for definition of ISO 8601, which allows for offset timezones (`time-zone = "Z" / time-numoffset`).

I see in the code that `IS

[2020-12-17 21:57] #3691 closed

[2020-12-17 21:59] #3711 closed

[2020-12-18 09:53] vietj opened #3714 "WebSocket server connection close timeout"
When a WebSocket is closed by the server, it sends a close frame and  waits until it receives the echo close frame to close the TCP connection. We should have a timeout to close the TCP connection to prevent a server from keeping a WebSocket without receiving a close frame.

NOTE: this will not happen when an idle timeout is configured on the server which is a recommended practice.

[2020-12-18 09:54] vietj opened #3715 "Incorrect default WebSocket client timeout value"
The `HttpClientOptions#DEFAULT_WEBSOCKET_CLOSING_TIMEOUT` is 10000, however the value is in seconds and it should be 10 instead.

[2020-12-18 09:56] vietj opened #3716 "Close WebSocket connection when the timeout value is zero"
The `HttpClientOptions#webSocketClosingTimeout` timeout is disabled when the value is zero or negative. It can be useful to immediately close the connection when the value is set to 0 instead.

[2020-12-18 11:00] #3716 closed

[2020-12-18 11:00] #3714 closed

[2020-12-18 11:00] #3715 closed

[2020-12-22 13:33] Hakky54 opened #3720 "Support for generic Key and Trust material"
#### Describe the feature

While using the webclient of vertx from the following project: https://github.com/vert-x3/vertx-web I discovered that vertx core has couple of options to enable ssl. It should be of the type KeyCertOptions and TrustOptions. The core library already provides utilities to help the end-user by providing JksOptions, KeyStoreOptions, PemTrustOptions and PfxOptions.

It is pro

[2020-12-23 12:40] flukschander opened #3721 "HttpClientRequest.send(ReadStream<Buffer> body, Handler<AsyncResult<HttpClientResponse>> handle) not calling the completionHandler provided"
### Version
4.0.0

### Context
When using the mentioned [send](https://github.com/eclipse-vertx/vert.x/blob/41cd6018946e98e3e72d45b384c58d7394b12997/src/main/java/io/vertx/core/http/HttpClientRequest.java#L386) function the completion handler provided never gets called, as a result if using the generated `rxSend(..)` function there's never a response provided even if the call succeeds.

[2020-12-23 12:52] flukschander commented on #3721
Pull request contains also a testcase for the issue mentioned

[2020-12-23 13:02] jtonic opened #3723 "A broken link in the `RxJava interoperability documentation` section (in `vertx-lang-kotlin-coroutines` doc page)"
The link `Guide to reactive streams with coroutines` in the `RxJava interoperability` is broken.

Doc link: https://vertx.io/docs/vertx-lang-kotlin-coroutines/kotlin/#_rxjava_interoperability
Broken link: [RxJava interoperability](https://github.com/Kotlin/kotlinx.coroutines/blob/master/reactive/coroutines-guide-reactive.md)

### Version: 4.0.0

[2020-12-25 13:22] sagaxu opened #3724 "HttpServer replys nothing when it failed to decode the http request"
### Version

4.0.0

### Context
The server will close the connection without any response.
[code]
It should reply 400 bad request before close the connection.

It's vulnerable if we put the servers behind nginx.
1. nginx got a bad request from client.
2. nginx proxy_pass it to one of the backend servers.
3. nginx got empy reply from the server.
4. nginx returns 502 to the client, and remove this s

[2020-12-27 08:36] sosilent opened #3725 "cluster event bus failed to send event to other verticle."
### Questions

i upgraded my project from 3.9.4 to 4.0.0, but i encountered a problem that clustered eventbus cannot work.

### Version
4.0.0

### Context

i upgraded my project from 3.9.4 to 4.0.0, but i encountered a problem that clustered eventbus cannot work.

env:
verticle a, 192.168.3.55
verticle b, 192.168.3.43

implementation in 3.9.4:

[code]

verticle a (192.168.3.55) can send to event t

[2020-12-28 04:25] #3725 closed

[2020-12-28 17:31] oscarfh opened #3726 "[Regression in 4.0.0] RabbitMq consumer does not reconnect when rabbit crashes"
We had a test in our system that simulates a connection disruption between our system and rabbitMq.
After migrating to vertx 4, the test is broken.
It passes with 3.9.5, but fails with all 4.0.0.X versions.

Here is the reproducer: https://github.com/oscarfh/vertx-rabbit-regression
The [first commit](https://github.com/oscarfh/vertx-rabbit-regression/tree/e3713a4f45de622a8ca027bc49769b257e0ec401)

[2021-01-04 09:03] vietj commented on #3723
can you reopen this issue here https://github.com/vertx-web-site/vertx-web-site ?

[2021-01-04 09:03] #3723 closed

[2021-01-04 15:43] anatak opened #3732 "Propagate HttpRequest/HttpResponse to HttpServerMetrics requestEnd/responseEnd"
In Vert.x version 3.9.2 `io.vertx.core.spi.metrics.HttpServerMetrics.responseEnd` method had a parameter `httpResponse` which was removed and replaced by `bytesRead`in 4.0.0 version. This was done in "Update HttpServerMetrics to use observability HttpRequest/HttpResponse" (#3587).

In our application we have a custom SPI and `responseEnd` is used to measure time of whole request process with addit

[2021-01-04 16:15] vietj commented on #3732
we'll have a look

[2021-01-04 19:45] oscarfh commented on #3726
Update:
If you set `rabbitMQOptions.setReconnectAttempts(10_000);`, the client will reconnect to the rabbitMq cluster, but will complain about a the missing topic. If another consumer connects (to the same "non-existing" topic), then the vertx client connects.

[2021-01-05 12:43] oscarfh commented on #3726
See https://github.com/vert-x3/vertx-rabbitmq-client/issues/116, this one can be closed.

[2021-01-05 12:56] #3726 closed

[2021-01-05 16:52] goldel777b opened #3735 "config.json RequestOptions mapping no longer working in Vertx 3.9.5 and Jackson 2.10.4 or 2.11.3"
### Questions

Do not use this issue tracker to ask questions, instead use one of these [channels](https://vertx.io/community/). Questions will likely be closed without notice.

### Version

Vertx 3.9.5 and Jackson 2.10.4 or 2.11.3

### Context

I encountered an exception which looks suspicious while upgrading from Vertx 3.6.3 and Jackson 2.9.3

### Do you have a reproducer?

A reproducer is a sim

[2021-01-05 17:52] vietj commented on #3735
can you describe the issue you are observing in the issue ?

[2021-01-06 05:05] leavestyle-jia opened #3736 "A clash in the https://vertx.io/docs/vertx-core/java/#_verticles"
### Questions

Grammar is not correct about Verticles, [docs 4.0.0 vertx.core link](https://vertx.io/docs/vertx-core/java/#_verticles )

### Version

4.0.0

### Context

[code]
I couldn't use that in my project,  `Future<Void> startFuture` param not in AbstractVerticle

[2021-01-06 08:41] tsegismont commented on #3736
Thanks @leavestyle-jia for reporting. This was fixed in #3708

[2021-01-06 08:41] #3736 closed

[2021-01-06 11:25] riftninja opened #3737 "Tracing and span are not propagated and recorded when EventBusProxies or EventBus is used to communicate between multiple microservices"
### Version

4.0.0

### Context

Testing zipkin tracing repository, I discovered that the traceId and spanId generated when an HTTP request is received on the server are not propagated and stored when communication between microservices are done through EventBusProxies/EventBus.

### Steps to reproduce

1. create vertx project, enable tracing and import io.vertx:vertx-zipkin:4.0.0
2. send a reques

[2021-01-06 11:32] ayomide101 commented on #3737
I also experienced this issue. Any solution?

[2021-01-06 12:00] vietj commented on #3737
can somebody provide a reproducer project to help resolving this faster ?

[2021-01-06 12:28] pmlopes commented on #3713
The choice of the parser was made to comply with:

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/toISOString

Which is the default encoding for web applications. Like @champeric wrote we should update the javadoc to state:

[2021-01-07 15:05] #3713 closed

[2021-01-08 03:28] Dustone-JavaWeb opened #3738 "SockJSHandler return a strange bad response under CORS"
### Version

4.0.0

### Context

I had created a webshell with SockJSHandler, In some reason, It should be CORS, So I created a preprocessor to change the origin, The code like this.

The route
[code]
The preprocessor
[code]

Init the handler
[code]

I have bind the sockjs channel with local SSH channel ,so I setRegisterWriteHandler(true)，to get an id。
 It works well on Vertx 3.9.5  but failed wit

[2021-01-08 06:55] shresthaankit7 commented on #1803
Where can i get the alternative function of AsyncResultHandler ?

[2021-01-08 07:21] vietj commented on #1803
You can copy the class in your own project if you feel you need it.

[2021-01-08 12:05] pmlopes commented on #3738
@Dustone-JavaWeb what is the error exactly? Is it, that you set the header:

[code]

But the server returns:

[code]

? Or is it something else? If you want to fully control the `CORS` of a request you should use the `CORSHandler` instead of your custom function. The reason is that the `CORSHandler` processes all the headers and validates then and signals the current route that it has checked the

[2021-01-08 14:21] LarsEckart commented on #3737
I think I ran into the same issue when trying out https://github.com/tsegismont/vertx-contextual-logging from @tsegismont

I made a reproducing project:
https://github.com/LarsEckart/vertx-local-context-data-example

The project has a test which shows the behaviour (not by failing the test but the test produces the log output which shows the problem)

![Screen Shot 2021-01-08 at 16 19 51](https://

[2021-01-08 15:12] tsegismont opened #3739 "uploadHandler invoked on connection context"
`uploadHandler` should be invoked on the same context as the `requestHandler` of the `HttpServer`.

This works as expected with HTTP/2 servers but not with HTTP 1.x servers.

One possible impact is the loss of local context data (support of tracing).

[2021-01-08 17:24] tsegismont commented on #3737
@LarsEckart it's a different issue. Contextual data is not propagated over the EventBus. You need to register inbound/outbound interceptors. See https://github.com/tsegismont/vertx-contextual-logging#propagation

[2021-01-08 19:17] mystdeim opened #3741 "isNativeTransportEnabled is always false"
I use vert.x 4.0.0 java 14 and os x 11.1.

That's a reproducer:

[code]

Also I have a gradle build with dependencies:

[code]

During my investigations I found out my app caught: `could not load a native library: netty_transport_native_kqueue_x86_64` exception in the io.netty.channel.kqueue.KQueue class.
Do I need something else to add in dependencies or it's a bug?

[2021-01-08 19:40] mystdeim commented on #3741
I found workaround for me: https://github.com/ktorio/ktor/issues/1672#issue-569857300 Maybe we need to add this tip in the documentation https://vertx.io/docs/vertx-core/java/#_native_transports for gradle users?

[2021-01-09 08:47] #3739 closed

[2021-01-09 08:48] vietj commented on #3741
@mystdeim I PR would be welcome in the documentation for this

[2021-01-09 08:48] vietj commented on #3741
I'll close this issue in the meantime

[2021-01-09 08:48] #3741 closed

[2021-01-09 15:58] ayomide101 commented on #3737
@vietj I made a reproducing project:
https://github.com/ayomide101/vertx-eventbus-trace-span-example

I hope it helps

[2021-01-11 14:15] oleg-kiriyenko opened #3743 "Service requests distribution in cluster Vertx 3.9.5"
### Questions

Should service requests be distributed over cluster in round robin fashion?

### Version

3.9.5

### Context

In real project I had a problem that after node fails (stopped) requests are still going to it and 1/2 of requests are timeouted. To reproduce this situation I tried to make a toy project with hazlecast, one service verticle and one http verticle.

The service verticle is st

[2021-01-11 14:36] tsegismont commented on #3743
By default, Vert.x 3 uses bind EventBus transport TCP servers to `localhost`. This is why all messages go to the same node.

You have two options to fix this:

1/ Set the host manually with `EventBusOptions#setHost`
2/ Use the `Launcher` class instead of your own `Main` class

The Vert.x Launcher class sets up `EventBusOptions` automatically.

[2021-01-11 14:36] #3743 closed

[2021-01-13 03:19] Dustone-JavaWeb commented on #3738
@pmlopes
I'm sorry that I forgot to say that before, I have been config the CORS Hanlder for all requests on 3.9.5, but it doesn't work , so I add custom function to make the origin into same,  Now this function lose efficacy on 4.0.0.  And the strange **Referrer-Policy  strict-origin-when-crossing-origin** is added by deffault in SockJS lib running on frontend.  The whole code like this

[code]

[2021-01-15 11:00] hutchig commented on #3434
Bookmarks:
https://objectcomputing.com/resources/publications/sett/june-2020-micronaut-2-dont-let-event-loops-own-you

[2021-01-15 12:47] adamdickmeiss opened #3748 "Unexpected IllegalStateException in HttpClientResponseImpl.java:150"
With Vert.x 4.0.0, I have a function that reads:

[code]

This results in IllegalStateException .. checkEnded in HttpClientREsponseImpl.java:150.

The error happens at random.. Sometimes I have to run 10+ times or more.

Of course, there's a server behind an all that.

Here's a very similar method which works fine:

[code]

To me it seems like that HttpClientRequest (req) goes out of scope.. somet

[2021-01-18 09:21] tsegismont commented on #3353
@vietj you just closed https://github.com/vert-x3/issues/issues/552

I guess the Netty upgrade won't be backported to 3.9 so can we change the milestone of this issue to 4.0.1 and close?

[2021-01-18 09:22] vietj commented on #3353
yes we will likely also back port to 3.9 as this is a Netty upgrade

[2021-01-18 09:23] vietj commented on #3353
the issue is how do we properly handle a same fix in 2 branches we maintain

[2021-01-18 09:23] vietj commented on #3353
for now let's scope this to 4.0.1 and close it.

[2021-01-18 09:23] #3353 closed

[2021-01-18 09:40] vietj commented on #3700
what do you propose @Joxit ?

[2021-01-18 10:14] Joxit commented on #3700
I see 2 solutions:

1. Add a new methods like `realRemoteAddress` and `realLocalAddress` in `HttpServerRequest` and `ConnectionBase`
2. Put the value in the routing context with a defined key like `ha-proxy-protocol:remote-address` and `ha-proxy-protocol:local-address`

The result of `realRemoteAddress` will be something like
https://github.com/eclipse-vertx/vert.x/blob/588b6f0e7bd28b22d3b4147aa9f

[2021-01-18 10:35] adamdickmeiss commented on #3748
The first method was originally two methods .. one which simply returned Future<HttpClientResponse> .. That did not work and so I refactored it into one .. It was failing anyway.. And so I ended up with the 2nd implementation, which works better.

In what way is it dubious ?

[2021-01-18 17:33] wowselim commented on #3624
Hi @vietj! I'd like to work on this ticket if no one else picked it up yet. I would appreciate some extra details:
* Should this be configurable via `VertxOptionsConverter` or should it be similar to `VertxOptions#setClusterManager`?
* Would it be enough if we could pass in a `Consumer<BlockedThreadInfo>` and do our logging inside the consumer?

If yes, I would propose to add this consumer that ta

[2021-01-18 20:07] vietj commented on #3700
are there existing examples of how other runtimes handle it ?

[2021-01-18 23:04] Joxit commented on #3700
other runtimes like netty or spring/spring boot ?
I don't think that spring boot supports proxy protocol, and I don't think that netty handle this use case... But they have a [AbstractRemoteAddressFilter](https://github.com/netty/netty/blob/e5951d46fc89db507ba7d2968d2ede26378f0b04/handler/src/main/java/io/netty/handler/ipfilter/AbstractRemoteAddressFilter.java).

[Zuul](https://github.com/Netflix/

[2021-01-19 07:05] Hakky54 commented on #3720
This issue can be closed as it has been merged

[2021-01-19 07:05] #3720 closed

[2021-01-19 08:49] vietj commented on #3732
re-reading this, you indicated you can have a field on your request metric object that is assigned the `HttpResponse` instance, why is it an issue for you ?

[2021-01-19 09:07] vietj commented on #3724
the main issue with this kind of request is that the Vert.x server cannot assume it is HTTP protocol, hence that's why it does not send back an HTTP response. It is not clear why nginx would proxy an invalid HTTP server request, this request should be rejected by nginx before being passed to the target.

[2021-01-19 09:28] vietj commented on #3724
I will change the server to send a 400 response for this particular case (missing HTTP version).

[2021-01-19 09:39] vietj opened #3750 "Respond with a 400 status to invalid HTTP requests"
When Netty's `HttpObjectDecoder` encounters an invalid message it will create an `HttpRequest` that follow the same pattern (method: GET, version: 1.0, uri: /bad-request). On such message we should always respond with a 400 status response when no other response was decided before.

[2021-01-19 09:43] vietj commented on #3724
See https://github.com/eclipse-vertx/vert.x/pull/3751

[2021-01-19 16:41] #3750 closed

[2021-01-19 16:42] #3724 closed

[2021-01-19 17:19] tsegismont commented on #3688
I gave some thought to this and I don't believe we should change anything.

First, this is not a regression in Vert.x 4 but the usual behavior of `EventBus`.

More importantly, a missing codec is a fatal issue which can't be recovered: something wrong happened during packaging or the app initialization code is broken. Such problems are usually caught during testing.

[2021-01-19 17:19] #3688 closed

[2021-01-19 17:22] anatak commented on #3732
Sorry if I mislead you (English is not my native language), I'll try to explain it better.

Until 4.0.0 the `requestMetric` instance was created on `requestBegin` and served as immutable instance with start time information among other immutable things. This instance was passed into `responseEnd` method along `httpResponse`, where was finally used to our custom metric system.

In 4.0.0 we could in

[2021-01-20 08:32] vietj commented on #3732
@anatak unfortunately we prefer to avoid doing this because it would add un-necessary complexity in the SPI of the metrics that is already not simple. You should see this code as low level code that can afford to have such mutation. In fact for such code is preferable for performance reason, i.e the code for metrics (and tracing) should have a minimum overhead for your app.

[2021-01-20 09:03] vietj commented on #3737
@tsegismont ping any progress on this ?

[2021-01-20 09:07] anatak commented on #3732
@vietj I'm sorry but your answer does make little sense for me. I understand that changing SPI in current version is not an easy task and this is probably the "deal breaker", why adding `httpResponse` is problem and I accept that.

But performance wise passing reference to an existing instance is much faster than additional custom implementation of `responseBegin` method. From SPI design perspecti

[2021-01-20 09:18] vietj commented on #3732
I see what you mean.

So you basically would like to have `responseEnd(R requestMetric, HttpResponse response, long bytesWritten)`

[2021-01-20 09:20] anatak commented on #3732
Yes, something like that :)

[2021-01-20 09:23] vietj commented on #3732
I think we can do that.

I thought you were rather asking to add another generic for the response.

On Wed, Jan 20, 2021 at 10:20 AM anatak <notifications@github.com> wrote:

[2021-01-20 09:30] anatak commented on #3732
I was trying to avoid specific suggestion like adding `response` directly, because you could have different design approach, such as generic metric for the response. This probably caused confusion instead and I'm sorry for that.

Simple adding `HttpResponse response` to `responseEnd` is perfect solution for us :)

[2021-01-20 15:24] NielsUll opened #3753 "CompositeFuture toString gives stack overflow for completed composite future"
### Version

4.0.0

### Context

I get a stack overflow exception while logging a completed CompositeFuture

### Do you have a reproducer?
Yes:

[code]
The code above gives a stack overflow exception
### Steps to reproduce

Run program above

### Extra
Java 11

[2021-01-20 15:29] vietj commented on #3753
does it happen also with vertx 3 ?

[2021-01-20 16:06] NielsUll commented on #3753
No - it works with 3.9.5

[2021-01-20 16:11] NielsUll commented on #3753
The issue seems to be that the .value of  CompositeFutureImpl is a reference to the composite future itself, giving a recursive call.

[2021-01-20 16:14] NielsUll commented on #3753
I would suggest overriding toString to show the count and size instead e.g.  CompositeFutureImpl( 2/5 completed)?

[2021-01-20 16:43] vietj commented on #3753
I think we can kill 2 birds with one stone here

[2021-01-21 16:59] #3753 closed

[2021-01-22 02:37] T-baby opened #3755 "When does vert.x support http3?"
When will vert.x support http3? Do you have a plan yet?

[2021-01-22 09:26] vietj commented on #3755
we are waiting first for HTTP/3 support in Netty for this.

[2021-01-22 11:08] oliver-brm opened #3756 "Still have ... undecoded bytes, should not call 'feedInput'"
Working with a JSON Stream via the Vert.x Web Client, I get a `com.fasterxml.jackson.core.JsonParseException` with the message _Still have ... undecoded bytes, should not call 'feedInput'_.

I dug a bit deeper into `io.vertx.core.parsetools.impl.JsonParserImpl` and was just wondering if it could be an issue:

[`JsonParserImpl#handle`](https://github.com/eclipse-vertx/vert.x/blob/730e13d027c2bed14e

[2021-01-22 12:03] #3756 closed

[2021-01-22 12:11] oliver-brm commented on #3756
It's more a question than an issue, see discussion: https://groups.google.com/g/vertx/c/yQNHgruqnK8

[2021-01-22 13:55] tsegismont commented on #3737
@vietj here's what I found

In `OutboundDeliveryContext`, the tracing policy is hard-coded to `PROPAGATE` (unlike in, for example, `HttpClient` where this is configurable with options).

https://github.com/eclipse-vertx/vert.x/blob/c0e7ad01a2718d2021b874a7da66da34263d1074/src/main/java/io/vertx/core/eventbus/impl/OutboundDeliveryContext.java#L121

Consequently, given there is no active span when t

[2021-01-22 13:58] anatak commented on #3732
Hi @vietj, if this can be done, could you reopen this ticket or should I create another issue. And BTW thank you for your extra time and patience on this.

[2021-01-22 18:17] predhme opened #3757 "P12 Keystore for Signing JWTs"
I am running into issues using a P12 keystore to generate a JWT:

[code]

I am using Java11, Gradle 6.6 with the following dependencies:

[code]

I have a simple verticle that is attempting to write out a user credential JSON to a JWT. I configure the JWTAuth as such:

[code]

In a `login` handler, I am doing the following:

[code]

Any suggestions?

[2021-01-22 18:21] predhme commented on #3757
As a note, I use the same keystore path and password to configure the HTTPS connector for my verticle.

[2021-01-24 14:20] MironAtHome opened #3758 "You think you can get away without putting one out for scala?"
:)

[2021-01-24 16:12] vietj commented on #3758
@MironAtHome there is currently a discussion on vertx-dev about this $topic where @codepitbull explains what is going on. You are welcome to read it and become involved.

[2021-01-24 16:13] vietj commented on #3758
For the record https://groups.google.com/g/vertx-dev/c/sKW82LNdDhU/m/Rqi1ZtrcDQAJ

[2021-01-25 07:53] #3758 closed

[2021-01-25 07:53] #3755 closed

[2021-01-25 07:54] vietj commented on #3738
I will close this issue as it is not related. to vertx-core and seems to be a question

[2021-01-25 07:54] #3738 closed

[2021-01-25 07:58] vietj opened #3760 "Create server form upload attribute when completed rather than at the end of the request"
The current server form upload processing will create the form multi-map when the HTTP server request ends. Some attributes might use `ByteBuf` that can be recycled by the request decoder overwriting the attribute value. We should create the request form attributes as soon as they are completed to avoid this case.

This issue was found when upgrading to Netty 4.1.52.Final, this version changes the

[2021-01-25 08:10] LarsEckart opened #3763 "clientRequest not available in Interceptor"
### Version

vertx 4.0.0

### Context

In my interceptor, I want to know (once the request was done) what the request method was. To me it looks like I should retrieve the clientRequest from the HttpContext and from that object i can ask getMethod(). But the clientRequest method always returns null (although according to documentation, this should only happen during PREPARE_REQUEST phase, not in l

[2021-01-25 09:07] #3760 closed

[2021-01-25 12:33] vietj commented on #3763
can you move this issue to vertx-web project ?

[2021-01-25 12:33] #3763 closed

[2021-01-25 12:37] LarsEckart commented on #3763
done. https://github.com/vert-x3/vertx-web/issues/1851

[2021-01-25 13:18] vietj commented on #3737
Client won't start automatically a span for each request by default, as multiple client usage in the same flow would result in several uncorrelated spans.

[2021-01-25 15:14] tsegismont commented on #3737
You mean if a span is created manually?

[2021-01-25 16:24] vietj commented on #3737
I haven't spent time on this, but if you look at HttpServerOptions and
HttpClientOptions you can specify the policy.

I think one could specify the policy on DeliveryOptions too to address the
same use case.

On Mon, Jan 25, 2021 at 4:14 PM Thomas Segismont <notifications@github.com>
wrote:

[2021-01-25 18:08] cescoffier opened #3766 "Indeterministic JsonCodec lookup"
At the moment the lookup for implementation of the `JsonCodec` SPI is indeterministic and depends on the classpath ordering and packaging of the application. Thus, the same application may end up with the built-in Jackson code or with a custom one.

In my case, I must ensure that it loads the custom one regardless of the classpath ordering and packaging.

I can see two approaches:

- have the poss

[2021-01-25 18:48] vietj commented on #3766
It is not clear which issue you are running into as Vert.x default codec is not declared with META-INF/services and when a META-INF codec is found and loaded then it will be the priority. Can you clarify which issue you are running into ?

[2021-01-25 18:49] vietj commented on #3766
I think we should make Vert.x json codec not loaded from SPI and instead loaded manually if no other codec is present on the classpath. This way Quarkus will end up with a single implementation and solve the issue.

[2021-01-25 18:51] cescoffier commented on #3766
Yes that would work too. But we need to make absolutely sure that the implementation is not loaded if Jackson is not present in the classpath.

[2021-01-25 19:37] cescoffier commented on #3766
It is: https://github.com/eclipse-vertx/vert.x/blob/3.9/src/main/resources/META-INF/services/io.vertx.core.spi.json.JsonCodec

[2021-01-25 20:43] vietj commented on #3766
thanks, I was assuming the issue was scoped for 4.0 and then deleted this
message as I found it was for 3.9

On Mon, Jan 25, 2021 at 8:37 PM Clement Escoffier <notifications@github.com>
wrote:

[2021-01-26 08:07] vietj opened #3767 "Vertx thread customization"
In some environment in which Vert.x is embedded it can be desirable to customize or subclass the base thread used by Vert.x (`VertxThread`).

[2021-01-26 08:08] #3767 closed

[2021-01-26 08:09] vietj commented on #3766
@geoand you might want to contribute to this ?

[2021-01-26 13:59] tsegismont commented on #3737
@riftninja @ayomide101 see #3768 that addresses the issue

[2021-01-26 14:17] Cavallium opened #3769 "Performance problem in EventBus messages dispatch implementation"
### Version

Which version(s) did you encounter this bug ?

4.0.0

### Context

I found a performance related problem in the class ReplyHandler: the message decoding of my message codecs always happen inside the event loop, regardless on where I call .body().
When a message gets big, this bug can block the event loop for a moment.

### Do you have a reproducer?

No, the bug can be easily fixed, it

[2021-01-26 15:01] vietj commented on #3769
did you check the behavior with Vert.x 3 ?

[2021-01-26 15:36] UglyHobbitFeet opened #3770 "SyntaxError: /@vertx/core/options.js:17:65 Expected ; but found SSLEngineOptions KeyCertOptions"
There is a syntax error which is causing things like es4x to barf.  It is:

[code]

If you open the @vertx/core/options.js file on line 17 , you will notice the semi-colons are missing before SSLEngineOptions and before TrustOptions

[2021-01-26 18:49] Cavallium commented on #3769
I found [the commit](https://github.com/eclipse-vertx/vert.x/commit/00eceab7458293aad842b593a09de59925315a3b).
It's from 7 years ago

[2021-01-26 18:51] Cavallium commented on #3769
https://github.com/eclipse-vertx/vert.x/commit/00eceab7458293aad842b593a09de59925315a3b#diff-4ac931e2cce308995f6889925d17f3ed8a06dad6434a4434a1d3295cfb23e176R725

[2021-01-27 10:01] vietj commented on #3769
but it is expected to have body decoded on the event-loop. We do not recommend to send messages which are too large on the event bus. If it were not be done at this place then it would eventually occur on the event-loop too when the user calls body().

[2021-01-27 10:25] vietj opened #3772 "Vertx SPI configuration and loading"
A `Vertx` instance is configured with a set of service (cluster manager, metrics, tracer, name resolver, etc...)

When a Vertx instance is created:

- some of these are loaded using the Java service loading mechanism (e.g cluster manager)
- some are hard wired (e.g transport or file resolver)
- some can be provided programmatically (e.g cluster manager)

We shall provide a clear and controllable m

[2021-01-27 12:54] #3737 closed

[2021-01-27 14:36] tsegismont opened #3773 "EventBus Tracing: change message tag name to message_bus.destination"
`MessageTagExtractor` uses `peer.service` tag name for eventbus address. According to the [conventions doc](https://github.com/opentracing/specification/blob/master/semantic_conventions.md), it should be `message_bus.destination`.

[2021-01-27 15:17] vietj commented on #3773
I did not use messaging because I was considering that event bus is RPC and not a messaging system.

[2021-01-27 15:17] vietj commented on #3773
but I think it's fine

[2021-01-27 15:38] #3773 closed

[2021-01-28 14:43] vietj opened #3775 "Buffer get by index should check against the buffer length"
The default implementation of the `Buffer` by index accessors (e.g `getInt(int)`) relies on `ByteBuf` to check the index respects the upper bound. Since this is an absolute operation for this buffer, the `ByteBuf` capacity is used instead which allows to access data beyond the `Buffer` length.

We need this implementation of `Buffer` to perform a check against the `ByteBuf` writer index to ensure

[2021-01-28 15:40] #3775 closed

[2021-01-28 16:37] underkin opened #3779 "Service verticle factory does not rested worker setting"
Version 4.0

I deploy most of the vertices as services with a json service descriptor.
When moving from 3.x to 4  I noticed that services that are marked as 'worker:true' are not being deployed as worker vertices and are executed in a even loop thread.

How to reproduce:

1.- Deploy any service verticle as a worker verticle (worker:true in the json descriptor in the 'options' section)
2.- The easi

[2021-01-28 16:40] vietj commented on #3779
do you mean using https://github.com/vert-x3/vertx-service-factory project ?

[2021-01-28 17:00] tsegismont commented on #3769
@Cavallium actually it can, although this is not documented https://github.com/eclipse-vertx/vert.x/pull/1392

One could create a custom codec for a subclass of `ReplyHandler` and use `Message#reply` with an instance of this subclass instead of `Message#fail` (that constraints the exception to be a ReplyException).

As @vietj said, the EventBus is not designed to send large payloads. For expected

[2021-01-28 17:11] Cavallium commented on #3769
Ok, thanks.
My payload was quite big because I buffered up to 100 items into each message.
Now I resolved the problem by removing the buffering, sending one item per message.
I tried to do this because my server was receiving a huge quantity of messages (up to 50'000/s) in some circumstances, and I thought that buffering them was a good idea.

p.s. you should document the ReplyException codec feat

[2021-01-28 17:11] #3769 closed

[2021-01-28 18:47] ebullient commented on #3732
Agree with above.. the removal of the HttpResponse from responseEnd (which was present in 3.x) is an issue for including response status in recorded metrics. Threading that through manually (via requestBegin) is awkward at best..

[2021-01-28 21:32] underkin commented on #3779
yes. Sorry if I din't explain it correctly.

[2021-01-29 08:05] vietj commented on #3779
can you reopen this issue on this GitHub repo ?

[2021-01-29 08:05] #3779 closed

[2021-01-29 08:30] underkin commented on #3779
Sorry. Will do now.

[2021-01-29 08:53] vietj commented on #3732
well that's a question of opinion :-)

On Thu, Jan 28, 2021 at 7:47 PM Erin Schnabel <notifications@github.com>
wrote:

[2021-01-29 08:53] vietj commented on #3779
thanks

On Fri, Jan 29, 2021 at 9:30 AM Juan Garcia <notifications@github.com>
wrote:

[2021-01-29 09:18] slinkydeveloper opened #3780 "TLS Certificates hitless rotation"
#### Describe the feature

We need a way to automatically reload certificates from files when they're expired.

#### Use cases

In Kubernetes and other orchestration platforms it's very common to have a system that automagically rotate self-signed TLS certificates when expired https://kubernetes.io/docs/tasks/tls/managing-tls-in-a-cluster/. These systems simply replace the .ca and .key files with

[2021-01-29 11:15] #3721 closed

[2021-01-29 12:22] vietj commented on #3732
it is very fine for the Dropwizard metrics that does:

[code]

[2021-01-29 12:53] #3732 closed

[2021-02-02 12:37] glcanvas opened #3783 "Flood control"
I built RestEasy server under Netty and Vert.x
Now I transfer a huge file from the server's database to the client wia java stream

Client and network too slow for this huge file, and Netty consume all memory while allocating **io.netty.channel.ChannelOutboundBuffer$Entry**. It occured because RestEasy and Vert.x don't communicate with Netty about flood control.

Maybe exists some techniques for s

[2021-02-02 13:29] #3783 closed

[2021-02-02 13:29] vietj commented on #3783
which Resteasy implementation are you using ?

I would for this use case consider using vert.x directly as it will
implement flow control with Netty.

On Tue, Feb 2, 2021 at 1:37 PM Duginets Nikita <notifications@github.com>
wrote:

[2021-02-02 13:32] glcanvas commented on #3783
I use vertx-3.5.2

I'll try to implement your proposal.
Thank you!

[2021-02-03 09:43] #3770 closed

[2021-02-03 09:55] pmlopes commented on #3757
@predhme assuming the key types + labels are correct are you loading the keystore with the right type?

[code]

Note that on OpenJDK >=9 `PKCS12` should the default, but other JVMs may have other defaults so it is required to be explicit in this case.

[2021-02-03 21:24] predhme commented on #3757
@pmlopes I tried setting the type, but that wasn't the problem. The problem for us seems be that it is assumed that the keys have specific aliases. We are good to go. Thanks

[2021-02-03 21:24] #3757 closed

[2021-02-04 09:30] fashion6years opened #3784 "Why did Connection was closed appear after NoStackTraceTimeoutException"
### Questions

HttpClient encounters io.vertx.core.http.impl.NoStackTraceTimeoutException (the timeout I set is 3 seconds) when sending a request. After being caught by the exceptionHandler, this exception is printed in the exceptionHandler, but then io.vertx.core is captured. VertxException: Connection was closed (the idle time I set was 10 minutes), which caused me to print two exceptions. Why d

[2021-02-04 11:28] fangnoo opened #3785 "WebSocket closeHandler not invoked when call close() when network barrier between client and server"
### Questions

websocket conentcion:  client ->  nginx -> sever (websocket)
 when network  barrier between client and nginx.   and server call WebSocet close() function, closeHandler will not be invoked.

in previous version, it will invoked, and i notice this issue: https://github.com/eclipse-vertx/vert.x/issues/3531

this will be fine when network is OK.  in my secene (network barrier, cannot pi

[2021-02-04 12:56] tsegismont opened #3786 "Shared worker pool terminated after verticle undeployment"
This applies to Vert.x 4.0.0

Reproduction steps:

- deploy a verticle with shared worker pool name set in `DeploymentOptions`
- do some work
- undeploy

Expected:

The shared worker pool name can be reused

Actual:

The shared worker pool is terminated and remains in the shared worker map.

[2021-02-04 13:09] vietj opened #3787 "Missing ByteBuf releases"
There are a few places where Vert.x does not release `ByteBuf`.

We should release those `ByteBuf` to avoid leaks and return them to the pool or free the direct memory.

[2021-02-04 13:36] #3787 closed

[2021-02-04 14:34] #3786 closed

[2021-02-05 03:30] Gattag opened #3790 "DuplicatedContext can cause unexpected behavior"
The following code will run a bunch of blocking tasks all with `ordered=true`
[code]
This is the output:
[code]
Given that `ordered=true`, the output is odd, as conventional wisdom (and the documentation) would say that for any `Task n start` the message that should always follow it is `Task n done`. Of course ordering is only the case when the calls take place within the same context, and they al

[2021-02-05 07:41] vietj commented on #3785
the WebSocket should be considered close when the echo frame is received.

When the echo frame is not received in time the close socket timeout on `HttpServerOptions` or `HttpClientOptions` will consider the socket as closed. This was introduced in december and will be released in 3.9.6

[2021-02-05 07:41] vietj commented on #3785
the WebSocket should be considered close when the echo frame is received.

When the echo frame is not received in time the close socket timeout on `HttpServerOptions` or `HttpClientOptions` will consider the socket as closed. This was introduced in december and will be released in 3.9.6

[2021-02-05 07:41] #3785 closed

[2021-02-05 08:34] tsegismont commented on #3790
Can you explain why? This sounds like a bug to me. `DuplicatedContext` shouldn't have its own task queue but share it with the parent `Context`.

Am I missing something @vietj ?

[2021-02-05 08:53] Gattag commented on #3790
@tsegismont This is what vietj said to me on the matter
[code]

[2021-02-06 01:26] Tibor17 opened #3791 "SLF4JLogDelegateFactory is going to leak forever"
`System.setErr(new PrintStream(new ByteArrayOutputStream()))` has to leak. The `ByteArrayOutputStream` has a buffer `buf` which limit would always grow. In order to prevent the buffer from growing infinitelly you have to override the `write(int b)` and `write(byte b[], int off, int len)` methods to be empty.
IMO you used `ByteArrayOutputStream` because you did not want to crearte a new class. I am

[2021-02-06 14:59] rpax commented on #3426
How about using the same factory approach that is used for creating the `Vertx` object?

[2021-02-07 09:44] WolfgangFahl commented on #3180
You might want to try https://github.com/dapangmao/vertx-python-client

[2021-02-08 07:41] vietj commented on #3791
thanks @Tibor17

[2021-02-08 07:44] vietj commented on #3791
this was done in order to avoid some spurious print on the console when the swap is achieved.

as you can see the swap is temporary for the duration of the `try` block, then the stream is set of back to the original value in the `finally` clause.

[2021-02-08 07:45] vietj commented on #3791
what issue did you find in practice ?

[2021-02-08 07:51] vietj commented on #3426
@rpax what do you mean ?

[2021-02-08 07:56] vietj commented on #3180
is this project referenced in vertx-awesome ?

[2021-02-08 08:07] vietj opened #3792 "HTTP server request should provide access to the context it is associated to"
`HttpServerRequest` should provide a way to access the server request it is currently associated with.

[2021-02-08 08:10] #3792 closed

[2021-02-08 08:11] vietj commented on #3579
See https://github.com/eclipse-vertx/vert.x/issues/3792, this provides access to the request context which provides a local data map that can be used for storing request related attributes

[2021-02-08 08:11] #3579 closed

[2021-02-08 10:33] Tibor17 commented on #3791
@vietj
Thx for your reply. Yes, I understand the point, we have a similar principle in Surefire. The std/err is backed up, the tests run, and renewing the stream back to the origin. I have understood that VertX wants to avoid spurious prints by setting some OutputStream which simply does nothing.

[2021-02-08 10:46] Tibor17 commented on #3791
no not in practice but it may happen of course. It is just a cheap improvement.
I can implement this improvement in a new PR if you agree.

[2021-02-08 11:17] vietj commented on #3791
my point is that this is done just for the duration of a single method call
and then the output is thrown away, so I'm willing to understand what I'm
missinghere

On Mon, Feb 8, 2021 at 11:33 AM Tibor Digana <notifications@github.com>
wrote:

[2021-02-08 11:40] pavelarnost opened #3794 "Form attribute size is limited to 1024 in Vert.x 4"
### Version

4.0.2

### Context

Processing of forms with large attribute values is not possible in Vert.x 4 because maximum attribute size is hardcoded to 1024 in NettyFileUploadDataFactory / VertxAttribute class. It works without problems in Vert.x 3.9.5 or when setMaxSize() argument is changed to bigger value.

[2021-02-08 11:58] vietj commented on #3794
@pavelarnost we should make this a configurable option in HTTP server options or HTTP server request I think

[2021-02-08 12:14] Tibor17 commented on #3791
you'r right, the call `LoggerFactory.getILoggerFactory()` should not cache critically big data in practice.

[2021-02-08 12:14] #3791 closed

[2021-02-08 14:37] vietj commented on #3791
thanks, I was afraid to have missed a critical leak

On Mon, Feb 8, 2021 at 1:14 PM Tibor Digana <notifications@github.com>
wrote:

[2021-02-09 06:57] alamothe opened #3795 "Set proxy per request"
Hello,
We ported our service to use Vert.x awhile ago. While using Vert.x we still used Apache HTTP client without problems. However, now I tried to port also this functionality to Vert.x and I hit a problem.

It seems that Vert.x HttpClient does not allow to set a proxy per request, only on the client level. We use 1000+ proxies simultaneously to scrape websites.

Is there any workaround? How fea

[2021-02-09 07:21] vietj commented on #3795
do you mean a forward proxy in front of a request ?

On Tue, Feb 9, 2021 at 7:57 AM alamothe <notifications@github.com> wrote:

[2021-02-09 08:22] alamothe commented on #3795
Yes. I found the docs here: https://vertx.io/docs/vertx-core/java/#_using_a_proxy_for_httphttps_connections

But it has to be set before creating a client.

How heavy it is to create a client for each request?

[2021-02-09 08:52] vietj commented on #3795
it is quite lightweight.

keep in mind to close the client.

we will likely work toward having a setting per HTTP request, however for
proxy this has consequence on the connection pooling.

On Tue, Feb 9, 2021 at 9:22 AM alamothe <notifications@github.com> wrote:

[2021-02-09 09:43] Mersenne255 opened #3796 "TCP metrics, Active server connections with negative values"
### Version
vertx-core 4.0.0
vertx-micrometer-metrics 4.0.0

### Context
We noticed that one of our positive-only metric is having negative values on several instances.
Using micrometer library, metric is named **vertx_http_server_active_connections**
This problem is however related to vertx-core metric abstraction. More precisely, how vertx-core handles connection opening and active connections m

[2021-02-09 14:35] vietj commented on #3796
can you provide a reproducer project ?

[2021-02-10 08:54] #3772 closed

[2021-02-10 08:56] vietj commented on #3772
A set of changes will be committed to the following projects to adapt:

- vertx-hazelcast
- vertx-infinispan
- vertx-ignite
- vertx-zookeeker
- vertx-micrometer-metrics
- vertx-dropwizard-metrics
- vertx-tracing

[2021-02-10 09:30] DemonicTutor opened #3797 "EventBus consumer and localConsumer scalability when deployed clustered"
### Version

4.0.0-milestone5
[Change clustered registration model](https://github.com/eclipse-vertx/vert.x/commit/d4ba7535c807e939368ab92f9df777e8204996f9)

### Context

Clustered application crashes in production since upgrading to VertX 4.0.1.

This application uses a WebSocket to EventBus bridge creating MessageConsumers 1:1 to websocket connections.
These Websockets are used by end-user UI an

[2021-02-10 09:35] tsegismont commented on #3797
Thanks for the write-up @DemonicTutor

[2021-02-10 09:42] DemonicTutor commented on #3797
@tsegismont you are welcome!

If you see anything stupid i did in my reproducer that just fails to highlight the issues properly let me know.
It was the easiest i could think of to show what i am talking about.

[2021-02-10 09:45] tsegismont commented on #3797
@DemonicTutor no it's clear enough, thanks again

[2021-02-10 10:15] #3434 closed

[2021-02-10 11:06] vietj commented on #3795
note also that Vert.x 4.1 should allow to connect to an HTTP server without a connection pool which might make this use case easier.

[2021-02-10 11:38] guidomedina opened #3798 "A single Verticle consumer is processing messages concurrently for a worker thread pool"
### Version

Which version did you encounter this bug? 4.0.2

### Context

I'm using Vert.x Verticles to process messages sequentially per given address, up to 3.9.5 a consumer would only process messages in a sequential order but now they seem to be doing that concurrently.

### Do you have a reproducer?

Yes, here is a simple unit test, it passes with 3.9.5 and fails with 4.0.2:
https://gist.git

[2021-02-10 11:50] Mersenne255 commented on #3796
https://github.com/Mersenne255/vertx_issue_3796_reproducer

It's plain vertx SSL H2 server with self signed cert.
You can run curl command (see in README.md) on top of it to get a connection timeout.
This should result in negative metric values.

[2021-02-10 12:48] vietj opened #3799 "VertxThread factory"
A runtime embedding might want to have Vert.x uses a specific subclass of `VertxThread`. This is a port of https://github.com/eclipse-vertx/vert.x/pull/3749 using the Vert.x 4 service provider mechanism and with a simplification of the factory responsibility.

[2021-02-10 14:14] Gattag commented on #3798
Duplicate of #3790

[2021-02-10 14:20] guidomedina commented on #3798
OK, so it is been handled already, at least I hope that unit test give you guys another perspective.

[2021-02-10 15:47] #3799 closed

[2021-02-10 16:02] vietj commented on #3798
maybe we need to rethink the affinity between task queue and duplicate contexts to avoid concurrent access like this

I think we could introduce a new flag for worker execution, currently we have sequential/unordered, we would add a third mode that is per duplicate context that is the current behavior and rollback by default to sequential for the verticle.

[2021-02-10 16:05] Gattag commented on #3798
@vietj did you take a closer look at PR #3793 ?

[2021-02-10 16:07] Gattag commented on #3798
But I do understand what you are saying which is a little different than the PR

[2021-02-10 16:09] vietj commented on #3798
#3793 seems to bring lot of complexity, I will have a look at the original issue and this one

[2021-02-10 16:10] vietj commented on #3798
it seems to me we should

- rollback to the 3.x behavior
- introduce a new execute blocking mode which is sequential per duplicate context
- use this new mode in vertx-jdbc-client and other appropriate places

[2021-02-10 16:19] Gattag commented on #3798
@vietj So I like that idea at the surface, but I do see some issues with it.

- As more aspects of vert.x get tracing support, more handlers will boot the `TaskQueue` back to the parent context or a new `DuplicateContext` as each new duplicate would be its own `TaskQueue`

[2021-02-10 16:43] Gattag commented on #3798
[code]

If you don't completely separate the `DuplicatedContext` from the `TaskQueue`, that will be an issue. That's why I made the `SubstitutedContext`. You could also just tell them to save the context, but I don't know if that will work perfectly with other things and it requires them to keep track of the context

[2021-02-10 16:50] andrm commented on #3798
IMHO there should be no guarantees at all with executeBlocking/workers at least with regard to ordering. I think Ordered=true should be deprecated, because it implies one (identifiable) taskqueue, which a Context would need to enforce.

Maybe it would be a good idea to tell executeBlocking on which Context to execute if the user should have control over it.
(just my 2 cents)

[2021-02-10 16:57] guidomedina commented on #3798
Even though ordering and concurrency are closely related the issue I'm reporting is the fact that a single consumer on a single Verticle instance is able to consume messages concurrently, this IMHO breaks the core concept of what originally a Verticle does, which is similar to the guarantees you get in Akka for example, you expect a single actor modifying state, but in this case such contract is b

[2021-02-10 17:34] vietj commented on #3798
yes perhaps there should be no ordering at all and then if a user needs
sequential execution then he should chain the task himself:

executeBlocking(t1, ar -> {
  executeBlocking(t2, ar -> {
    ...
  });
});

that's an interesting perspective.

On Wed, Feb 10, 2021 at 5:50 PM Andreas Mack <notifications@github.com>
wrote:

[2021-02-10 17:44] vietj commented on #3796
thanks

[2021-02-10 17:58] Gattag commented on #3798
Should we just completely return to what we had in 3.x then, and no need for a third type of ordering? We still have `DuplicatedContext`, just no extra `TaskQueue`. Everything behaves as in 3.x. For jdbc, new connection handlers will be blocking, with `ordered=false`. Users can implement blocking ordering themselves pretty simply. And there's no need to get rid of `ordered=true` when the extra tas

[2021-02-10 20:20] andrm commented on #3798
@guidomedina The contract is valid if you are executing on the event loop, it is broken as soon as you use executeBlocking().  If you insist on ordered blocking execution all the benefits of the Vertx model will go down the drain. I would advise the following:

- Please re-think if you really need total order. Very often this is not the case. Whatever you are doing in your blocking code, does it r

[2021-02-10 20:34] guidomedina commented on #3798
I have a complex queuing system sitting on top of Vertx where each message processor do some heavy I/O, let me describe it:
- each processor has N addresses: `address[0 - (N - 1)]`
- each processor can have X threads processing messages
- messages with the same hash will go into the same address

What are the promises of my system:
- messages sent to a specific address need to be process sequentia

[2021-02-10 20:43] andrm commented on #3798
This is weird, how did you make sure that the Vertx was able to parallelize the messages to different addresses but not to the same address? Did you deploy a verticle for each address?

[2021-02-10 20:44] guidomedina commented on #3798
Yes, there are not too many addresses, but some parallelism is required, so an Actor system was too much for me.

[2021-02-10 20:48] andrm commented on #3798
Ok, but that would mean you can afford a single-threaded Executor in each of your verticle. This way you are always sure about in- order processing. Are you sure that the heavy IO code cannot become a bottleneck if too many messages arrive?

[2021-02-10 20:53] guidomedina commented on #3798
If a message with the same hash or `mod addresses.length` blocks another that's fine, but we can't have one thread per address because that would kill our system I/O resource sharing, so that's why a worker thread pool with a limited amount of threads is assigned to each type of processor.

Some of the processors have something like 64 addresses with 4 threads so they are maxed out with minimal ha

[2021-02-10 20:57] andrm commented on #3798
I understand. Did it work with 3.9.5 and workerPoolSize set to 4 for each verticle?

[2021-02-10 20:57] guidomedina commented on #3798
But I do believe the idea of worker threads is kind of dumb, maybe it should be eliminated and just let he user pick between main loop thread(s) or another thread pool, and ignore the idea of blocking vs blocking, like in general it would be something like:
- if non-blocking then main loop thread(s) is fine
- if blocking, pass your deploy options to use a different thread pool

[2021-02-10 20:57] guidomedina commented on #3798
Up to 3.9.5 the system is working flawlessly.

[2021-02-10 20:59] guidomedina commented on #3798
You have to remember that if you name the worker thread pool it doesn't create a thread pool per Verticle, so it is basically one thread pool handling N addresses with N verticles and X threads

[2021-02-10 21:05] andrm commented on #3798
Yes, that's the idea.

I have a different idea, I did a similar thing a while ago:

- Run all addresses in one verticle
- If a message arrives (in the message handler), check with context.get("address") if there is a CompletableFuture object there
- if no, create one, let the heavy i/o code run in it and store it in the Context: context.put("address", cf)
- if yes: check if it completed: if no, ch

[2021-02-11 08:24] andrm commented on #3798
From the docs https://vertx.io/docs/vertx-core/java/#_verticles:

@guidomedina this is the documentation that you are referring to. I apologize to you, the contract seems to be exactly what you said. I still believe it is wrong and should be deprecated.

[2021-02-11 08:37] vietj commented on #3798
I agree with you Andreas.

On Wed, Feb 10, 2021 at 9:20 PM Andreas Mack <notifications@github.com>
wrote:

[2021-02-11 08:50] vietj commented on #3798
I think there are two things to address here for duplicate context:

1/ the worker execution that is currently broken
2/ the executeBlocking case that I believe is correct, i.e each duplicate context has its own execute blocking order by default but might not be sufficient in some case

[2021-02-11 09:04] vietj commented on #3798
I've made a draft branch to address the worker verticle execution here https://github.com/eclipse-vertx/vert.x/pull/3802

we can use it for execute blocking execution too

[2021-02-11 09:05] vietj commented on #3798
@guidomedina can you check the branch I created ?

[2021-02-11 09:10] vietj commented on #3798
@Gattag you said this is a duplicate of the execute blocking task but it is not, executeBlocking has a different semantic than worker execution (also it allows parallel execution happening).

[2021-02-11 09:13] vietj commented on #3798
I think that execute blocking contract should be clarified on how it works for duplicate context, perhaps that an ordered execution by duplicate context is not the good default. I believe it is but this is my opinion because

1/ this is most of the time what the user intend to have (e.g this solve work arounds we used to have for JDBC client)
2/ this is more efficient
3/ the user should not concur

[2021-02-11 09:26] Gattag commented on #3798
@vietj I said it was a duplicate because they are caused by the same thing under the hood, but they do have different semantics to an extent which I didn't fully conceptualize

I agree that it is more efficient, than what I came up with, but the more I think about it, the more I think that the added taskqueue behavior should be reverted in its entirety.

The biggest thing I don't get after looking

[2021-02-11 09:27] andrm commented on #3798
@vietj I agree, but how easy is it to tell the user not to update the state?

My main concern is the Context object itself which has a lot of state. Does duplicate context have it's own Map for put/get?

[2021-02-11 09:29] andrm commented on #3798
I fully agree @Gattag ! Thanks!

[2021-02-11 09:40] Gattag commented on #3798
3.9 concurrency behavior is what we should have in 4.x, I'm sorry to sorta change gears here from earlier, it just really doesn't seem like this will play out cleanly and it adds cases for weird thing to occur

[2021-02-11 09:43] vietj commented on #3798
it shares the same map than the parent context and has a local map that can
be used for some specific use cases that requires to store data per
duplicate context (e.g tracing).

On Thu, Feb 11, 2021 at 10:27 AM Andreas Mack <notifications@github.com>
wrote:

[2021-02-11 09:44] vietj commented on #3798
you mean here that executeBlocking by default should serialize on the
parent context and not on the duplicate, right ? (beside this worker
verticle execution bug)

On Thu, Feb 11, 2021 at 10:40 AM Gattag <notifications@github.com> wrote:

[2021-02-11 09:45] Gattag commented on #3798
@vietj Yes

[2021-02-11 09:46] Gattag commented on #3798
But really what I mean is that, DuplicatedContext should have its own localData and that's it. There should be no special context with a special task queue

[2021-02-11 09:49] Gattag commented on #3798
The exception would be that internally jdbc could use a special context for that, but what I was saying earlier, I'm not grasping what was wrong with the solution of storing an independant TaskQueue with each JDBCConnection

[2021-02-11 11:18] guidomedina commented on #3798
Looks good, the test is spot on (except for the comment I made), I should had probably made my tests much simpler like you did.
Moving forward, maybe future 4.1.x or 4.2.x here are my two cents of what we should probably do:

- Eliminate the concept of worker thread pool, instead allow Verticles to be ran on the default or provided thread pool, maybe provide different implementations of thread poo

[2021-02-11 11:20] anatak opened #3803 "Support for passing URL in RequestOptions"
#### Describe the feature

The `io.vertx.core.http.RequestOptions` in Vert.x 4.0.0 allows to set up instance with absolute Uri as a `String` via `RequestOptions().setAbsoluteUri(...)`.  Could be this extended also for providing Uri as a `java.net.URL` ?

#### Use cases

In our calls we have a request uri directly in `java.net.URL` . For creating `RequestOptions` instance, we have to convert `URL`

[2021-02-11 12:12] vietj commented on #3803
do you mind contributing this ?

[2021-02-11 12:22] anatak commented on #3803
@vietj I can try, if i have some spare time.

I presume, that reading https://github.com/eclipse-vertx/vert.x/blob/master/CONTRIBUTING.md is the starting point :), then possibly there is some kind of forum where, i can ask some questions.

[2021-02-11 13:33] tsegismont opened #3804 "Cannot modify metrics options via sysprop or custom Launcher"
A custom Launcher is often used when you want to setup things like metrics options programmatically before Vert.x is started.

Since #3771 , it is no longer possible to do this because the builder init method is invoked before the Launcher callback.

Then it's too late to customize the metrics implementation.

This applies to other special options too, I think (e.g. tracing, cluster manager).

EDI

[2021-02-11 13:35] tsegismont commented on #3804
Perhaps we should do:

[code]

instead of

[code]

[2021-02-11 22:28] vietj commented on #3803
you can come on Discord, the link is on vertx.io among the top right icons

On Thu, Feb 11, 2021 at 1:22 PM anatak <notifications@github.com> wrote:

[2021-02-12 00:35] jinwik opened #3805 "httpclient connectTimeout does not work expected"
### Questions

 httpclient sets `connecttimeout`, when the connection fails (possibly due to network jitter or upstream performance issues), the duration of connect failed callback may be less than the `connecttimeout`.

CircuitBreaker '****' recorded an error: 'io.netty.channel.ConnectTimeoutException: connection timed out: ***/**'. Elapsed time: 1 ms
io.netty.channel.ConnectTimeoutException: con

[2021-02-12 09:26] tsegismont commented on #3804
The fix in https://github.com/eclipse-vertx/vert.x/commit/d9f1b16272c1d79828ca7d970352f3c3eb461a11 allows to use sysprop again but it's still not possible to modify options in a custom `Launcher`.

I'll send a separate PR

[2021-02-12 10:01] vietj commented on #3710
we will either fix this or upgrade to 4.1.59.Final

[2021-02-12 10:01] vietj commented on #3710
there is currently a work around in master for Netty 4.1.52.Final

[2021-02-12 10:01] vietj commented on #3710
see https://github.com/eclipse-vertx/vert.x/commit/5b5f7c15d2c8ecc4decc01acf454162ba931e15f

[2021-02-12 10:18] vietj commented on #3804
@tsegismont so it was not something that was tested right ?

[2021-02-12 13:01] tsegismont commented on #3804
It seems not. I'm pretty sure I added the test myself so perhaps the test is no longer valid after the builder changes.

[2021-02-12 14:05] vietj commented on #3804
that's the only test I removed, perhaps you can write a new one against 3.9
and port it in 4

On Fri, Feb 12, 2021 at 2:02 PM Thomas Segismont <notifications@github.com>
wrote:

[2021-02-12 15:39] tsegismont commented on #3804
@vietj doing it now. I went back to the test suite and I was wrong: there is no test.

I will add one to Vert.x 3 as you said and port it to Vert.x 4

[2021-02-12 15:45] tsegismont commented on #3804
@vietj so here's a test on Vert.x 3.9 that checks you can modify `VertxOptions`:

https://github.com/eclipse-vertx/vert.x/blob/5dee3511fdb41354a5381a55ad9abb5ab5d5514a/src/test/java/io/vertx/core/impl/launcher/LauncherExtensibilityTest.java#L109-L158

Unfortunately this option has been removed in 4.0 and so has the test... But the use case of customizing options programmatically remains valid.

[2021-02-12 17:39] tsegismont commented on #3804
@vietj see https://github.com/eclipse-vertx/vert.x/pull/3809

[2021-02-13 00:05] jinwik commented on #3805
update the reproducer

[2021-02-18 16:31] #3804 closed

[2021-02-19 10:38] vietj commented on #3784
I can''t sett the timeout set in your code, what am I missing ?

[2021-02-19 10:39] #3766 closed

[2021-02-19 16:38] DemonicTutor commented on #3797
In case someone else runs into these issues. If you try to work around it by doing a N:1 MessageConsumer: **it is not that easy**

Because every ServerWebSocket creates 2 local MessageConsumers: https://github.com/eclipse-vertx/vert.x/blame/4.0.2/src/main/java/io/vertx/core/http/impl/WebSocketImplBase.java#L110-L111

[2021-02-19 17:36] tsegismont commented on #3797
@DemonicTutor FYI, I've made some progress on fixing the high CPU / delayed shutdown issue, I created two branches in [vert.x core](https://github.com/tsegismont/vert.x/commits/cluster-sub-perf) and [vertx-hazelcast](https://github.com/tsegismont/vertx-hazelcast/commits/cluster-sub-perf).

I have tested the changes on this [bench](https://github.com/tsegismont/eventbus-registration-bench) with goo

[2021-02-19 18:07] russthom opened #3814 "HttpClientRequest hangs on subsequent requests in worker verticle."
### Version

vertx-core 4.0.2

### Context

We have encoured an issue whereby after a variable amount of subsequent reqeuests using HttpClientRequest, it appears that the subsequent response handlers are not called, and the request hangs.

We had used a variation of this pre vertx-core 4.0.0 which we cannot reproduce the issue on.

It appears to fail quicker when keep-alives are enabled, and quick

[2021-02-20 07:10] cay914 opened #3815 "Does vertx support Transaction, like akka's STM feature?"
Hi,  I am new to vert.x, and I want to  find out Transaction on vert.x.
In akka's can do this. user STM, Coordinated transactions.

Scenario:
A user tranfers 100$ to B user. A's account deduct 100$, B's account increase 100$.
When B's increase fail, roll back A 's 100$.

I think transaction is very important for a reliable system. Does vertx miss this feature?
How can I do with Vertx, please help

[2021-02-20 07:26] sunqb opened #3816 "config().getString is not perfect"
### Question

when i do not use "put("raw-data", true)"  ,if my config is :
password=123456

I get a value "123456.0" by this method config.getString("password");

but

when I use  "put("raw-data", true)", this problem is ok ，but i have an other config
port=80

I get an error  when i use config.getInteger("port")，because it was not supported.

### Version

4.0.2

[2021-02-20 07:27] sunqb commented on #3816
so I must use Integer.valueof(config.getString("port"))

[2021-02-21 12:43] ukr15 opened #3817 "prepared query in conjunction with stream doesn't work for Oracle"
### Questions

Do not use this issue tracker to ask questions, instead use one of these [channels](https://vertx.io/community/). Questions will likely be closed without notice.

### Version

4.0.2
### Context

We tried to migrate our services from Legacy JDBC Client or SqlClient. For Postgres dbms everything works fine as expected, but with Oracle the following exception is signaled:
stream error

[2021-02-22 07:41] vietj commented on #3817
can you move this issue in the vertx-jdbc-client project ? https://github.com/vert-x3/vertx-jdbc-client

[2021-02-22 07:41] #3817 closed

[2021-02-22 07:42] vietj commented on #3816
what kind of config object are you talking about ? it is not clear

[2021-02-22 07:45] vietj commented on #3815
@cay914 vert.x supports database transactions with the SQL client.

you can try using https://github.com/pveentjer/Multiverse as it seems to provide an STM like project easy to integrate according to the README.

[2021-02-22 07:45] #3815 closed

[2021-02-22 07:46] #3798 closed

[2021-02-22 07:47] ukr15 commented on #3817
#211

Am 22.02.2021 um 08:41 schrieb Julien Viet <notifications@github.com<mailto:notifications@github.com>>:

can you move this issue in the vertx-jdbc-client project ? https://github.com/vert-x3/vertx-jdbc-client

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/eclipse-vertx/vert.x/issues/3817#issuecomment-783162149>, o

[2021-02-22 07:55] sunqb commented on #3816
this:

 options.addStore(new ConfigStoreOptions().setType("file").setFormat("properties").setOptional(true)
                .setConfig(new JsonObject().put("path", "conf/config.properties").put("raw-data", true)));

[2021-02-22 08:47] vietj commented on #3816
can you move this issue to this project https://github.com/vert-x3/vertx-config ?

[2021-02-22 08:47] #3816 closed

[2021-02-22 13:14] tsegismont commented on #3448
This was fixed in 8c4829629ac6a12d7f69d0db96b783bb09df2559. I will backport the fix to 3.9 branch.

[2021-02-22 13:21] tsegismont commented on #3448
Actually the fix was originally applied to 3.9 branch (https://github.com/vert-x3/vertx-web/pull/1790)

Closing as duplicate of https://github.com/vert-x3/vertx-web/issues/1716

[2021-02-22 13:21] #3448 closed

[2021-02-22 14:43] tsegismont opened #3818 "Request options copy constructor does not copy followRedirects property"

[2021-02-22 14:44] #3818 closed

[2021-02-22 17:03] tsegismont commented on #3735
`RequestOptions` instances are not meant to converted to/from JSON directly with `ObjectMapper`. Instead, you can use the `toJson` method and the constructor that takes a `JsonObject` parameter.

[2021-02-22 17:10] tsegismont commented on #3452
Closing, needs more info

[2021-02-22 17:10] #3452 closed

[2021-02-23 08:33] vietj commented on #2170
This will not be changed in 3.9 because it might create regression with existing users.

In 4.0 you get the `HttpClientRequest` when the connection has been created and the requester has been allocated a slot for using this connection.

[2021-02-23 08:50] #3377 closed

[2021-02-23 09:02] vietj commented on #3387
@daniel-farkas we just did a test and it works, can you provide a reproducer ?

[2021-02-23 09:04] vietj commented on #3387
you can also set a Java breakpoint in JdkSSLEngineOptions#isAlpnAvailable()` method and examine why this method returns false. That would help a lot resolving this issue.

in the meantime I'll close this issue and we should reopen if there is an actual bug with your current JDK.

[2021-02-23 09:04] #3387 closed

[2021-02-23 09:14] #3668 closed

[2021-02-23 09:23] vietj commented on #3784
I was not able to reproducer, you can reopen with a small and complete reproducer.

[2021-02-23 09:23] #3784 closed

[2021-02-23 15:45] vietj commented on #3710
@ngyukman does this issue happen with Netty 4.1.49.Final which is the current version in 3.9 branch ?

[2021-02-23 17:45] tsegismont opened #3821 "Round Robin load balancing when DNS returns multiple addresses"
Add a config property to `AddressResolverOptions`.

When round robin is enabled, use Netty's `RoundRobinInetAddressResolver` to enable load balancing.

[2021-02-23 17:47] tsegismont commented on #2254
Closing this one for now. We will implement DNS load balancing only in 3.9.6 (see #3821)

[2021-02-23 17:47] #2254 closed

[2021-02-23 20:23] egorapolonov opened #3822 "JsonParser NullPointerException"
### Version

4.0.0-4.0.3-SNAPSHOT

### Context

I used JsonParser.pause() and JsonParser.resume() methods between time-consuming operations with Vert.X v. 3.9.4.
Since I upgraded to v. 4.0.0 I started to get NullPointerException.
I've checked out latest snapshot version 4.0.3 but the problem is still there.

### Do you have a reproducer?

* Link to github project/gist

https://github.com/egorapolo

[2021-02-23 20:33] vietj commented on #3822
thanks for the reproducer

[2021-02-23 23:02] ngyukman commented on #3710
Hi @vietj , nope, only happens after netty upgrade

[2021-02-24 07:48] riemenschneider opened #3823 "Implementation of JSON RFCs introduced inconsistency to Json{Object|Array} API"
### Version

Vert.x 4.0.0

### Context

The implementation of the JSON RFCs (#3197) removed the type checking from methods JsonObject.put(String, Object) and JsonArray.add(int, Object) in order to allow future POJO mappings. Nevertheless the methods Json{Object|Array}.copy() are still checking types. This leads to the situation that developers are able to successfully create Json{Object|Array}s th

[2021-02-24 08:21] vietj commented on #3710
ok, try with Netty 4.1.59.Final instead then, I'll close this issue as it's not related to an actual bug.

[2021-02-24 08:21] #3710 closed

[2021-02-24 08:55] #3735 closed

[2021-02-24 14:43] tsegismont commented on #3821
Closed in #3825

[2021-02-24 14:43] #3821 closed

[2021-02-24 16:31] vietj opened #3826 "HTTP server request max form upload attribute size should be configurable"
HTTP server request has an hardcoded bound of 1024 bytes for form upload attributes. It should be configurable in HTTP server options and have a greater default value (2048).

[2021-02-25 14:41] bigtrouble opened #3828 "BodyReadStream.exceptionHandler should return this instead of null"
### Questions
#### Is this a bug?
![image](https://user-images.githubusercontent.com/7983171/109169024-5a726180-77ba-11eb-9f7f-c7632be080db.png)

### Version
4.0.2

[2021-02-25 15:18] adamdickmeiss commented on #3748
[HttpClientOptionsTest.txt](https://github.com/eclipse-vertx/vert.x/files/6043912/HttpClientOptionsTest.txt)

[2021-02-25 16:08] vietj commented on #3828
sounds like a bug

[2021-02-25 16:10] #3828 closed

[2021-02-25 16:59] vietj commented on #1539
there is now an SPI in master for providing custom scheduled executor factory for Vert.x

[2021-02-25 16:59] #1539 closed

[2021-02-26 16:03] jkurzanski commented on #3570
It’s in production since few days now and this has dramatically reduced our memory footprint. Thanks a lot @vietj !

[2021-02-27 12:52] st-h commented on #3794
I just spent a day trying to figure out why a request to a simple vertx server would result in a http 400 returned by the web client. Turns out this arbitrary limitation is the case.

Please add a clear error message when this limitation has been hit, instead of failing the request silently and returning a http 400 response status. This makes it so difficult to find out what is going on.

Please a

[2021-02-27 15:03] st-h commented on #3794
I have just been trying to upgrade to vertx 3.9.6 and I seem to encounter the exact same issue

[2021-02-27 15:06] st-h commented on #3794
Btw: I have written a simple Spock test together with a simple vertx server that reproduces the issue. It's not in a separate project, but I can add those classes here if there is any need for them.

[2021-02-27 23:50] doctorpangloss opened #3829 "VertxOptions copy constructor doesn't copy TracingOptions 's tracer field"
### Version

4.0.2

### Context

Cloning a vertx options that sets the tracer object fails.

[code]

### Do you have a reproducer?

 (self explanatory)

### Steps to reproduce

1. Create a `VertxOptions` with a tracing agent set in `OpenTracingOptions`.
2. Copy it using the `new VertxOptions(existingOptions)`
3. Construct an `vertx` from the copied options.
4. Observe it fails with the below excep

[2021-03-01 06:45] vietj commented on #3794
this has been made configurable in 3.9.6 and upcoming 4.0.3 - https://github.com/eclipse-vertx/vert.x/issues/3826

[2021-03-01 06:45] #3826 closed

[2021-03-02 15:44] vietj opened #3831 "HTTP/1.x client connection should be closed when a message is received with no request in progress"
The current HTTP/1.x client connection simply ignores any message that is received when there is no request in progress to handle this message. When it happens the connection should be closed.

[2021-03-02 15:48] #3831 closed

[2021-03-02 18:14] ahoora08 opened #3832 "Support RxJava2 API in Vert.x OpenAPI"
Hi,

In version `4.0.2` the `Vert.x Web API Contract` is deprecated and the document suggested using `Vert.x OpenAPI` but I noticed it has no support for RxJava2 API.

If you consider this as a feature, please give me some information about it so I can implement and contribute.

Thanks

[2021-03-03 12:21] sunqb opened #3833 "why WebSocketFrame do not have type()?"
#### Read me

the interface WebSocketFrame do not have type(),when i need to judge if a frame was a PingFrame,i can only do it like this:

 WebSocketFrameImpl webSocketFrameIml = null;
                if (webSocketFrame instanceof WebSocketFrameImpl) {
                    webSocketFrameIml = (WebSocketFrameImpl) webSocketFrame;
                }
                if (webSocketFrameIml.type().name().

[2021-03-04 10:40] marcban opened #3834 "Exception if Parameters values in posted forms exceed 1024bytes"
### Questions
I get an IOException when handling long attributes values in POSTed forms, which I had not on 3.9

### Version
Vertx core/web 4.0.2

### Context

When using BodyHandler I get an IOException on long parameters values
"IOException Size exceed allowed maximum capacity"
This seems to be a regression, I had not the problem on 3.9.X

### Do you have a reproducer?

No but offending line see

[2021-03-04 10:55] marcban commented on #3834
@vietj I see this is already corrected in #3826

Please make a release soon :-) !

[2021-03-04 10:57] marcban commented on #3834
Duplicate of #3794

[2021-03-04 10:57] #3834 closed

[2021-03-06 03:18] jxffly opened #3835 "the prefix of empty string in the router leading to a blocking without any info when the server is on starting?"
### Questions

### Version

    <vertx.version>4.0.2</vertx.version>

JDK1.8
### code
``
    Router router = Router.router(vertx);
//noticie the empty string in the head
  router.route("   /api/wallet/v1/userInfo/byAddress").handler(context -> context.json(
      new JsonObject()
        .put("code", 0)
        .put("msg", "HELLO WORLD")
        .put("data", 854940268259348481L)
    ));
`

`

###

[2021-03-06 03:19] jxffly commented on #3835
if you can't recurrent the case i cant upload my test code

[2021-03-06 03:21] jxffly commented on #3835
the platform is macOS  Catalina 15.7

[2021-03-08 15:17] tsegismont commented on #3835
This is related to Vert.x Web. Please open an issue in the [corresponding repository](https://github.com/vert-x3/vertx-web).

[2021-03-08 15:17] #3835 closed

[2021-03-09 10:41] #3829 closed

[2021-03-10 08:59] #3822 closed

[2021-03-10 09:26] vietj commented on #3832
this was easy to implement on the vertx-rx, however it required some improvements done by @slinkydeveloper in vertx-web-openapi

[2021-03-10 09:26] #3832 closed

[2021-03-10 17:16] Shermayster opened #3844 "Documentation site crash when visiting 3.9.6 API's"
Go to:
[https://vertx.io/docs/3.9.6/vertx-mysql-postgresql-client/java/](https://vertx.io/docs/3.9.6/vertx-mysql-postgresql-client/java/)
the page shows:
![image](https://user-images.githubusercontent.com/4091896/110669446-0497b380-81d5-11eb-888c-aa58a4107c0f.png)

[2021-03-11 02:36] MikeEmery opened #3848 "Provide configuration option for outgoing websocket frame size"
Currently the option `setMaxWebSocketFrameSize` applies to both incoming messages and is also used when splitting outgoing messages into fragments.  I have a use case where I would like to accept large frames when receiving, but send relatively small frames outbound.

[2021-03-11 08:30] vietj opened #3849 "HTTP/1.x client connection pause/resume race"
The `Http1xClientConnection` is resumed and paused by the connection and individual streams. When those streams are dispatched on a different context than the connection context, there can be races due to miss notifications and the channel auto-read status remains paused preventing other HTTP streams to be received.

[2021-03-11 09:38] #3849 closed

[2021-03-11 09:39] vietj commented on #3814
This is closed by https://github.com/eclipse-vertx/vert.x/issues/3849

[2021-03-11 09:39] #3814 closed

[2021-03-11 09:43] vietj commented on #3794
this has been fixed in master and the default value is set to 2K instead of 1K.

[2021-03-11 09:43] #3794 closed

[2021-03-11 09:46] vietj commented on #3833
we do have properties that indicate the kind of frame, e.g `isText()`, I think we should add one for each kind of frame, e.g `isPing()`

[2021-03-11 10:06] vietj opened #3851 "WebSocket frame API improvements"
Expose the internal `FrameType` and `WebSocketInternal#type()`, also add a `isPing()` missing method for consistency.

[2021-03-11 10:11] #3851 closed

[2021-03-11 10:12] vietj commented on #3833
fixed by https://github.com/eclipse-vertx/vert.x/issues/3851 ,  the internal type enum has made it to the public API.

[2021-03-11 10:12] #3833 closed

[2021-03-11 14:33] tsegismont commented on #3797
Fixed in #3843, vert-x3/vertx-hazelcast#139 and vert-x3/vertx-hazelcast#140

[2021-03-11 14:33] #3797 closed

[2021-03-12 07:47] vietj commented on #3823
do you mean https://github.com/riemenschneider/JSONObjectTest as reproducer ?

[2021-03-12 08:23] vietj opened #3852 "Provide JSON element copy with a cloner function to copy unknown elements"
`JsonObject` and `JsonArray` provide a `copy()` method that can fail on unknown elements when they cannot be copied by throwing an `IllegalStateException`.

We can provide an overloaded version that uses a `Function<Object, ?>` to copy unknown elements and avoid failing.

[2021-03-12 08:40] #3852 closed

[2021-03-12 08:40] #3823 closed

[2021-03-12 08:41] vietj commented on #3823
I closed as invalid as the behavior is legit, we clarified the copy() contract and provided an overloaded version that will allow you to bypass the exception, e.g you can call `copy(Function.identity())` to have the desired behavior.

[2021-03-12 10:05] vietj commented on #3796
I'm not able to reproducer with your reproducer, however I found indeed an issue that happens when the connection is closed after the SSL handshake and before the server receives the client connection preface.

[2021-03-12 12:03] #3796 closed

[2021-03-12 14:14] riemenschneider commented on #3823
Exactly, copied and pasted the wrong reproducer. The new copy() contract resolves the inconsistency. Looks good.

[2021-03-12 16:38] ebullient commented on #3579
I think the required methods were added to 4.0.3...
#3792 was closed w/o being integrated.
https://github.com/eclipse-vertx/vert.x/commit/b7ebdcbcdf7c4284dd9489103ac514ef3e1a9253
and https://github.com/eclipse-vertx/vert.x/commit/b7ebdcbcdf7c4284dd9489103ac514ef3e1a9253
should resolve the issue

[2021-03-12 16:47] zoe-park opened #3855 "Upgrade Netty to 4.1.59.Final or later to address CVE-2021-21290"
### Version

4.0.2

### Context

According to maven https://mvnrepository.com/artifact/io.vertx/vertx-core/4.0.2, vert.x 4.0.2 is still using netty version 4.1.52.Final which is vulnerable to this CVE https://nvd.nist.gov/vuln/detail/CVE-2021-21290.

Are there any plans to upgrade to 4.1.59.Final or later to address this issue?

[2021-03-12 17:46] tsegismont commented on #3855
Hi @zoe-park , it will be present in 4.0.3 (which is being released as we speak)

Closing as duplicate of https://github.com/vert-x3/issues/issues/574

[2021-03-12 17:46] #3855 closed

[2021-03-14 22:01] phraktle opened #3856 "filesystem api: expose file locking operations"
The `lock` and `tryLock` methods of `AsynchronousFileChannel` should be made available for `AsyncFile` wrappers, so one can perform proper file locking operations.

[2021-03-17 04:59] yazalulloa opened #3858 "SQLException: Unsupported feature: getMetaData with the new vertx-jdbc-client with Oracle DB 11g"
Vertx version: 4.0.3
Java 11
Running in Intellij
Windows 10

I'm using Oracle DB 11g

To connect to it I'm using:

 <dependency>
            <groupId>com.oracle.database.jdbc</groupId>
            <artifactId>ojdbc11-production</artifactId>
            <version>21.1.0.0</version>
            <type>pom</type>
        </dependency>

I tried the ojdbc8-production and still gave me the same error

Exe

[2021-03-17 10:38] underkin opened #3859 "Exceptions after updating to 4.0.3 under load"
Hi,

Under high load, and after updating to 4.0.3 I'm seeing the following error in the logs, which I don't know where it's coming from or how to isolate to reproduce.

[code]

The service in questions does a high number of HTTP client request and the services on the other side may fail from time to time. Don't know if this is somehow related, but wondering that this exception actually means and i

[2021-03-17 12:23] peter-jacobs-tpl opened #3860 "Blocked thread anomaly"
The following message implies the thread has been blocked for several times longer than the JRE has been running.

Vertx version: 3.9.6
Java version : 1.8.0_201
Java vendor  : Oracle Corporation

Thread[vert.x-worker-thread-0,5,main]=Thread[vert.x-worker-thread-0,5,main] has been blocked for 97366908 ms, time limit is 60000 ms
io.vertx.core.VertxException: Thread blocked
	at sun.misc.Unsafe.park(N

[2021-03-17 14:46] vietj commented on #3860
did it happen once or several times ?

[2021-03-17 14:54] vietj commented on #3859
I am suspecting that under high load, the reply exceeded the message reply timeout and therefore we should use `tryComplete` instead of `complete` when it happens.

Can you check whether you have timeout failures ?

[2021-03-17 14:57] underkin commented on #3859
I have timeout of 2 minutes, but I am pretty sure some can exceed the 2 minutes timeout.
Actually if was 30 seconds before and was much more evident. I updated to 120 and that is now less frequent, but still there.
Is there any side effect and if so how can I prevent it?

Thanks

[2021-03-17 15:02] vietj commented on #3859
can you modify vertx source code (for checking) and change the line 94 in ReplyHandler to use `tryComplete` instead of `complete`

[2021-03-17 16:11] underkin commented on #3859
Will try

[2021-03-17 16:14] phraktle opened #3861 "DNS server list not refreshed"
The DNS server list should get refreshed, particularly after network interface changes, but this does not seem to happen.

An egregious case is when you start a vertx process that tries to periodically connect to a httpclient, with no network uplink (wifi disabled). The resolver selects google's IPv6 address (a questionable choice itself, but not the bug described here). When the network connectio

[2021-03-17 16:16] phraktle commented on #2409
It's very sneaky to try to use different network settings than what the system DNS configuration indicates. I would consider it broken behavior, but confusing at the very least in a production environment.

[2021-03-18 02:02] sunqb commented on #3833
very good , i have upgrade to 4.0.3. now i can code like this:

if (webSocketFrame.isPing()) {
                   ......
                }
                else {
                    ......
                }

[2021-03-18 08:13] vietj commented on #3859
I've been able to reproduce it locally and it happens when the consumer replies when the request timeout happens: the ephemeral reply handler it still registered, the timeout has been fired and the actual replies wants to complete the handler.

[code]

[2021-03-18 08:15] underkin commented on #3859
I was in the process of testing is already.
Will you include in 4.0..4-SNAPSHOT build?

[2021-03-18 13:15] vietj commented on #3859
yes it will be part of 4.0.4 snapshots when the PR will be submitted and reviewed.

[2021-03-18 13:16] vietj opened #3862 "Event bus reply failure result can be completed twice"
The reply handler result promise can be completed more than one time resulting in internal failures, this promise should be completed only once. The reply handler delivery performs a lookup on the reply handler and then schedule the message delivery on its event loop. There is a race happening when the reply timeout fires after the lookup and before the message delivery.

Such failures does not ha

[2021-03-19 08:50] #3862 closed

[2021-03-19 19:38] k-wall opened #3865 "Incompatibility between Vertx 3.9 and Netty 4.1.60.Final (the changes made to address CVE-2021-21295)"
### Version

3.9.0
3.9.6

### Context

I'm in the process of upgrading an existing application that uses Vertx 3.9.  Part of the work includes a CVE remediation for CVE-2021-21295 Netty 4.1.60.Final.

I've discovered an incompatibility between the new Netty version and Vertx 3.9.  If the application receives a PUT that includes a Content-Length header, the request fails now within Vertx.   Rolling

[2021-03-19 20:40] efenderbosch commented on #3865
Also effects the 3.8 release. We are on 3.8.4 and encountered it.

[2021-03-20 08:20] jwedel commented on #3865
We are on 3.8.1 and also affected.

[2021-03-22 10:30] vietj commented on #3865
you should upgrade to 3.9 and use 3.9.7 when it will be released.

On Sat, Mar 20, 2021 at 9:20 AM Jan Wedel ***@***.***> wrote:

[2021-03-23 06:13] roostapour opened #3869 "How to have a customized security handler in vertx4?"
### Questions

How to have a customized security handler in vertx4?

### Version

vertx4

### Context

I am migrating to vertx4 and have a question about securityHandler (using openapi security scheme). In version 3.9.0 I was using `OpenAPI3RouterFactory` and with calling `addSecurityHandler` was able to pass my own customized security handler like:

[code]
where `permission1`, `permission2`, `per

[2021-03-23 10:21] vietj commented on #3869
can you reopen this issue in vertx-web repository ?

[2021-03-23 10:21] #3869 closed

[2021-03-23 12:18] MascaraDeemo commented on #3865
just curious about the time 3.9.7 will be released? this bug is kinda blocker for us right now

[2021-03-23 18:43] efenderbosch commented on #3865
@MascaraDeemo if you are using Gradle platform, then you can force it down to 59 with `api(enforcedPlatform("io.netty:netty-bom:4.1.59.Final"))`

Of course that means the CVE fixed in 60 will not be mitigated.

[2021-03-24 09:00] rpax commented on #3426
Sorry for the late response. I meant the old VertxFactory SPI. Seems that is not there anymore :D . But yes, allowing the use of SPI can do the trick

[2021-03-24 09:42] AuroraEscapes opened #3870 "MongoDB Client should support change streams"
The MongoDB client API does not have the new feature of change streams that was introduced in MongoDB 3.6+ and is included in MongoDB Reactive Streams Driver. Would be very useful.

[2021-03-24 10:36] rusuionut commented on #3805
+1 for this issue, we're reproducing this more in Microsoft Azure cloud and less in AWS. We configured the timeout to be at 10 seconds and we get the error after 200/300ms sometimes. Thanks.

[2021-03-25 10:07] vietj commented on #3865
Vert.x is not affected by the HTTP/2 HTTP/1 CVE

we will release it next week.

On Tue, Mar 23, 2021 at 7:43 PM Eric Fenderbosch ***@***.***>
wrote:

[2021-03-25 10:10] vietj commented on #3805
can you elaborate more precisely what the issue is ?

[2021-03-25 10:40] jinwik commented on #3805
vertx httpclient or webclient sets the connection timeout, for example 5 seconds, sometimes it failed and  throws _io.netty.channel.ConnectTimeoutException_ but the whole request time is much less than the configured value, for example 1ms, it is so weird.

[2021-03-26 09:28] baichangda opened #3871 "HttpClientOptions.setConnectTimeout not work in version vertx-core 4.0.3"
**i try to set the HttpClient connect timeout as follow、but don't work、also 60 second**
public HttpClient httpClient(){
        HttpClientOptions httpClientOptions = new HttpClientOptions().setConnectTimeout(3000);
        HttpClient httpClient = vertx().createHttpClient(httpClientOptions);
        logger.info("httpClient connectTimeout[{}]",httpClientOptions.getConnectTimeout());
        return h

[2021-03-26 09:37] baichangda opened #3872 "HttpClientOptions.setConnectTimeout not work in version vertx-core 4.0.3"
### Questions

**i try to set the HttpClient connect timeout as follow、but don't work、also 60 second**
public HttpClient httpClient(){
        HttpClientOptions httpClientOptions = new HttpClientOptions().setConnectTimeout(3000);
        HttpClient httpClient = vertx().createHttpClient(httpClientOptions);
        logger.info("httpClient connectTimeout[{}]",httpClientOptions.getConnectTimeout());

[2021-03-26 09:38] #3871 closed

[2021-03-26 09:55] ashertarno opened #3873 "JsonArray of enums stream() emits Strings instead of Enums"
### Version

4.0.3

### Context

JsonArray stream emits expected results for all boxed primitives and String, but not for enums.

### Do you have a reproducer?

[code]

result:

DAYS: class java.lang.String
MINUTES: class java.lang.String

[2021-03-26 10:06] ashertarno commented on #3872
i think i see the same issue also with the WebClient. not verified yet though.

[2021-03-26 15:57] pmlopes commented on #3873
After inspecting the code, I believe this was the desired behavior. The `stream()` will behave just like `getValue()` which will wrap all non JSON types, for `Enum` it will return it's `name()`, `Buffer/byte[]` will return bas64 strings.

If you really want to iterate the unmodified/unwrapped values you need to:

[code]

We should clarify this in the JavaDoc though.

[2021-03-26 15:58] pmlopes commented on #3873
@vietj what's your oppinion, do you agree it should be a documentation fix, not a behavior bug?

[2021-03-26 16:00] pmlopes commented on #3873
Maybe we should have a generic `unwrap()` both on `JsonArray` and `JsonObject` to clearly state that using it you get the unmodified data, this would deprecate the `JsonArray.getList()` and `JsonObject.getMap()` as those names could be confusing?

[2021-03-26 16:28] vietj commented on #3873
I think that @pmlopes is right and this is what we want. If somebody wants raw value, `getList().stream()` can be called instead.

[2021-03-26 16:28] vietj commented on #3873
I think we can leave like this for now, documentation just need to precise the contract

[2021-03-28 13:14] codingchili commented on #2409
@phraktle this is a fallback if the system DNS configuration is missing/unset.

See docs here: https://vertx.io/docs/apidocs/io/vertx/core/dns/AddressResolverOptions.html#setServers-java.util.List-

[2021-03-29 12:54] kenfinnigan opened #3875 "TracingOptions handled differently in VertxOptions"
### Version

4.0.3

### Context

Reviewing Tracing SPI and usage I encountered a discrepancy between how `MetricsOptions` and `TracingOptions` are handled within `VertxOptions`.

`TracingOptions` is not initialized with a new instance on creation, see https://github.com/eclipse-vertx/vert.x/blob/master/src/main/java/io/vertx/core/VertxOptions.java#L123, but `MetricsOptions` is.

Also, `TracingOpti

[2021-03-29 13:25] ashertarno commented on #3873
it seems somehow inconsistent. so let's say i use getList() to get the unwrapped types, but then i have a JsonArray of JsonObjects and  i am starting to get LinkedHashMaps instead of JsonObjects?

[2021-03-29 13:40] #3873 closed

[2021-03-29 13:57] vietj commented on #3875
yes this is expected to be this way because both are different.

we can fix the missing to string issue in VertxOptions

[2021-03-29 13:59] vietj commented on #3875
in `TracingOptions` we decided to have the presence/absence configure whether tracing is enabled/disabled. MetricsOptions have instead to use a boolean for this. MetricsOptions were not changed to be like TracingOptions mainly for backward compatibility reason.

[2021-03-29 14:20] kenfinnigan commented on #3875
Thanks for the explanation @vietj.

I was in the middle of doing a PR for this so I can add some javadoc around a null `TracingOptions` meaning it's disabled.

Given what you say, would I be correct in stating that https://github.com/eclipse-vertx/vert.x/blob/master/src/main/java/io/vertx/core/spi/VertxTracerFactory.java#L38 should never occur because a factory wouldn't be instantiated if it was n

[2021-03-29 20:40] vietj commented on #3875
@kenfinnigan it can be assumed but you to check that tests will pass in this project and in _vertx-tracing_ project

[2021-03-29 20:41] vietj commented on #3875
for the later (metrics options), I believe the user could still set a null options on the VertxOptions and that would prevent this case

[2021-03-29 20:43] vietj commented on #2409
I believe we should still use cloud flare DNS over Google's

[2021-03-29 20:43] vietj commented on #2409
we shall do this switch in 4.1.0 I think

[2021-03-30 03:55] phraktle commented on #2409
I wish that was true. See #3861.

But even if it worked correctly, I don't see why a framework like this should have an opinion on what network providers to use. What problem are you trying to solve? What if a DNS server is set but name resolution is failing?

[2021-03-30 12:16] kenfinnigan commented on #3875
@vietj Would you like a change, if it works, to remove the default code from the factory in the PR I've already created, or a separate one?

[2021-03-30 12:18] vietj commented on #3875
yes if it works ,  then it's better if it's simpler, and it seems fine in this PR

[2021-03-30 12:38] kenfinnigan commented on #3875
Just verified all passes in "core" and "tracing", so I updated the PR

[2021-03-30 23:35] paolodedios commented on #3865
Also encountered this problem on Vertx 4.0.3.

[2021-03-31 07:05] vietj commented on #3865
@paolodedios we took care of fixing this for 4.0.3, so that sounds weird, do you have a reproducer ?

[2021-03-31 07:07] #3875 closed

[2021-03-31 12:15] lecogiteur opened #3877 "Expose pending size of MessageConsumerImpl"
#### Describe the feature

The goal is to expose the message pending queue size of a message consumer.

#### Use cases

* Metrics
* Automatically deploy verticles when size has reached a limit

#### Contribution

I'm volunteer for implementing this feature if you need it.

[2021-03-31 15:01] DarwinsBuddy opened #3878 "JsonObject and JsonArray in Java streams causing ClassCastException"
### Issue

While trying to sort a stream of `JsonObject`s I encountered a `ClassCastException`, due to missing interface `Comparable` and thus missing implementation of `compareTo` on JsonObject (and also JsonArray).
Without knowing if this interface was omitted on purpose from those two datatypes, I am raising the question, if a simple implementation of Comparable on both `JsonObject` and `JsonAr

[2021-03-31 20:22] paolodedios commented on #3865
I currently do not have a public repository with a reproducer ready, but I do have a stack trace.  The error is not exactly the same as the ```ClassCastException``` (on ```io.vertx.core.http.impl.headers.VertxHttpHeaders.set()```) being encountered on Vertx 3.9.x, but instead a ```NullPointerException``` (on ```io.vertx.core.http.impl.Http1xServerConnection.handleMessage```) when using Vertx 4.0.3

[2021-04-01 07:00] vietj commented on #3865
for sure there is an incompatibility if you use a different version than the Netty version that Vert.x provides.

the current 3.9 still uses 4.1.52.Final and the branch has been upgraded to 4.1.60.Final so you should stick to the correct version.

we will release a 3.9.7 with an update to 4.1.60.Final

[2021-04-01 09:16] vietj commented on #3878
how do you compare two json objects or json array ?

[2021-04-01 13:02] DarwinsBuddy commented on #3878
@vietj tough question. Here my suggestion:

## `JsonObject`
1. Compare alphabetically sorted keys individually
2. For each key call compareTo on their respective values. `if` result < 0 `return result` `else` go on with comparison
3. throw ClassCastException if some value is not implementing Comparable (this shouldn't be the case, as this change has to consist of `JsonObject` and `JsonArray` `Comp

[2021-04-01 14:57] vietj commented on #3878
ok, but here your example compares two `JsonObject` or two `JsonArray` which are not related to the order you describe

[2021-04-01 18:52] DarwinsBuddy commented on #3878
I'm having trouble getting your point.

See below a proof-of-concept for a possible `JsonObject` Comparable implementation:

[code]

yielding

[code]

[2021-04-01 19:25] betanumeric commented on #3805
I'm seeing this as well with `setConnectTimeout(2000)` and actual timeouts sometimes taking less than 300ms.

[2021-04-01 20:22] paolodedios commented on #3865
Thank you for clarifying. I will pin Netty to 4.1.60.Final.

[2021-04-02 15:10] dratler commented on #3856
Hi @panchmp , @vietj  is this still open for the grab ?

[2021-04-03 16:43] leolux opened #3880 "Bug: Header names must be case insensitive"
Regarding https://stackoverflow.com/questions/5258977/are-http-headers-case-sensitive HTTP header names are not case sensitive. The current behaviour of vert.x is that the header name is not found if there is a "difference in the case".

The issue affects this code (already tested the issue)::
https://github.com/eclipse-vertx/vert.x/blob/2dcbfac237aed48dd0d4dbeb58372be0ad59c4eb/src/main/java/io/ve

[2021-04-03 22:53] BdmRt opened #3881 "NetServer and NetClient Communication too slow"
Hello,

I’ve build a simple Projekt with vertx for testing NetClient/NetServer Projekt to Test the Performance and the duration. It’s on my pc so on localhost. Sending and receiving takes 50-100ms, that way too slow and I don’t think this should be the case. I could not find any hint why this is the case. Example code below.

`
public class NetServerTest extends AbstractVerticle {

    private Net

[2021-04-04 16:05] elventear opened #3882 "ClusteredEventBus publishes local subscription topics on the cluster"
### Version

4.0.3

### Context

Migrating socket application from stand alone to cluster mode using Zookeper. I have noticed that all socket write IDs are being published to the cluster, which seemed suspicious and possible scalability problem for very busy network applications.

Further reviewing to the code showed that `NetSocket` registration should only expose it's write ID locally, which mak

[2021-04-05 18:42] elventear commented on #3882
This sees to be an issue with the Zookeeper Cluster Manager that is not looking into `RegistrationInfo`.

[2021-04-06 06:20] lecogiteur opened #3885 "Expose cluster manager from Vert.x instance"
#### Describe the feature

Expose the cluster manager instance from Vert.x Instance. Today, we must cast Vertx with VertxImpl in order to access to the cluster manager instance.

#### Use cases

- Avoid to pass multiple parameters in method signature
- When the cluster manager is created and configured by external file and system properties, there is no way to retrieve instance

#### Contribution

[2021-04-06 06:23] vietj commented on #3856
yes it is.

On Fri, Apr 2, 2021 at 5:10 PM Shay Dratler ***@***.***>
wrote:

[2021-04-06 06:27] vietj commented on #3880
do you have a reproducer ?

[2021-04-06 06:28] vietj commented on #3880
I ran this with master:

[code]

it happily printed twice the same value with cURL.

[2021-04-06 06:31] vietj commented on #3881
you need to warm up the TCP socket and send lot of data to improve the response time.

you should read about TCP receive window size and slow start that affect performance: https://hpbn.co/building-blocks-of-tcp/

[2021-04-06 06:31] #3881 closed

[2021-04-06 06:37] vietj commented on #3882
can you reproduce this with another cluster manager like Hazelcast or Infinispan @elventear ?

[2021-04-06 06:41] vietj commented on #3885
You can access it with `VertxInternal` instead of `VertxImpl` which I think is ok.

[2021-04-06 06:41] #3885 closed

[2021-04-06 08:29] tsegismont commented on #3882
Closing as duplicate of https://github.com/eclipse-vertx/vert.x/pull/3843

See user group thread https://groups.google.com/g/vertx/c/e2g6qHauW1M/m/ZinSXg-XBAAJ

This should be filed on the `vertx-zookeeper` repository.

[2021-04-06 08:40] #3882 closed

[2021-04-06 15:15] leolux commented on #3880
No, but I guess it has been fixed in the meantime. I face the issue on version 3.9.0

[2021-04-06 15:15] #3880 closed

[2021-04-06 15:17] elventear commented on #3882
@tsegismont I checked briefly the Hazelcast implementation. I see that the `SubsMapHelper` keeps track of local and non-local registrations separately. Will it also not publish the local addresses to the cluster? (I did not have time to figure out that).

[2021-04-06 16:28] tsegismont commented on #3882
@elventear yes, it does not publish local addresses to the cluster

[2021-04-06 16:32] elventear commented on #3882
@tsegismont I will create a bug in eclipse-vert.x/vertx-zookeper. And I can help fix the ZooKeeper implementation.

[2021-04-06 18:59] tsegismont commented on #3882
@elventear awesome!

[2021-04-07 05:13] elventear commented on #3882
Created vert-x3/vertx-zookeeper#117

[2021-04-07 06:45] lecogiteur commented on #3885
Thanks, I will do.

[2021-04-08 14:09] yeikel commented on #3865
@vietj Do you have any update regarding 3.9.7? Do you need any help?

[2021-04-08 14:36] MikhailFokanov opened #3886 "JsonParserImpl fails after resume"
### Version

4.0.0

It is regression bug, it works well with 3.9.4

### Context

We `pipeTo(WriteStream<T> dst)` method in JsonParser to implement batching of items, which are returned from web service. When the drainHandler is called, it calls `resume()` in JsonParserImpl. These methods are called at random time.

### Reproducer

* https://gist.github.com/MikhailFokanov/4137dcbaabbd033df0f081fca7

[2021-04-08 14:41] tsegismont commented on #3886
This might be a duplicate of https://github.com/eclipse-vertx/vert.x/issues/3822

@MikhailFokanov can you try with 4.0.3 please?

[2021-04-09 07:39] babuv2 commented on #3865
Hi @vietj ,

Do you have any update regarding when 3.9.7 will be available

Thanks In Advance

Vivek

[2021-04-09 07:50] vietj commented on #3865
we should release it soon I think.

we need to check the existing list of bugs that must be fixed for this
version.

On Fri, Apr 9, 2021 at 9:39 AM Vivek Babu ***@***.***> wrote:

[2021-04-09 09:11] MikhailFokanov commented on #3886
@tsegismont With 4.0.3 it still doen't work.

[2021-04-11 07:05] gillbates opened #3889 "NullPointerException when create websocket"
### Questions

[code]
the code above will throw a NullPointerException

[code]

I wonder what will be the correct usage in this case?

### Version
4.03

[2021-04-12 14:03] romero opened #3890 "Verticle deployment hangs up application if config is missed"
### Version

4.0.3 (MacOS 11.2.3)

### Context

I try to deploy Verticle which is waiting for some config data.
No config was provided during deployment.
Verticle is hanging without any errors.

### Sample code

Sample verticle

[code]

Deployment

[code]

[2021-04-12 14:09] adamdickmeiss commented on #3886
The code calls pause and resume from different threads than the Verticle running the parser. Is that safe?

[2021-04-12 16:51] tsegismont commented on #3886
@adamdickmeiss you are right, JsonParser is not thread-safe and pause/resume should be invoked on the same thread that feeds the parser.

@MikhailFokanov I changed the test to this:

[code]

Then the test fails with a more meaningful message:

[code]

I believe we have a problem with `JsonParser` implementation and JsonParser codec in WebClient: the Jackson streaming parser must not be fed with mo

[2021-04-12 17:24] tsegismont commented on #3889
This happens because the `Promise` is not bounded to any context.

https://github.com/eclipse-vertx/vert.x/blob/8d9bb2ba44ce51bf461e21217c501ea31aa019ae/src/main/java/io/vertx/core/http/impl/HttpClientImpl.java#L288-L299

In the code above, `promise.context()` returns `null` causing the NPE.

We need to take into account that the websocket client can be used outside a verticle.

[2021-04-12 17:26] tsegismont commented on #3889
@gillbates as a workaround, you can either run your code in a verticle or create a promise bound to a context:

[code]

[2021-04-12 17:29] tsegismont commented on #3890
What happens if you provide a handler to `deployVerticle` and inspect the result status?

[2021-04-12 20:37] vietj commented on #3889
we can fix this , but you should rather do `vertx.createHttpClient().webSocket(8080, "127.0.0.1", "", p).onComplete(...)`

[2021-04-12 20:42] vietj opened #3891 "Unwrapping a promise internal from an handler should always return a promise with a context"
When the user provides a `Promise` as an `Handler<AsyncResult<>>` (which does not have a context), code expecting a context will throw an NPE. `VertxInternal.promise(Handler<AsyncResult<T>>)` should check when the promise does not have a context and act as if the promise was only an handler.

[2021-04-12 20:53] #3891 closed

[2021-04-12 20:53] #3889 closed

[2021-04-13 07:21] gillbates commented on #3889
thx for the replies above. We would adopt this workaround in our current version. And look forward the fix in incoming version :).

[2021-04-13 08:20] romero commented on #3890
[code]

Prints `false`.

[2021-04-13 08:29] tsegismont commented on #3890
Thanks. Then this is not a bug. The failure is reported in the `MainVerticle`. If you want the application to do something in case of failure, you must set a handler and inspect the result status.

[2021-04-13 08:29] #3890 closed

[2021-04-13 08:45] romero commented on #3890
Ok, thank you!

[2021-04-13 13:55] cescoffier commented on #2600
@vietj any update on this one?

[2021-04-13 15:35] FroMage opened #3892 "AsyncFile: allow access to file size"
In https://github.com/quarkusio/quarkus/pull/16286 we realised that `AsyncFile` does not provide access to the file count, so if we're using it to pump bytes into a response we can't set the `Content-Length` header. We can't trust the `getReadLength()` method as it defaults to `Long.MAX_SIZE` if not set, and does not reflect the file size. We also can't access the file size by asking the file syst

[2021-04-14 07:27] vietj commented on #2600
it is not yet scheduled to be implemented by the team

[2021-04-14 08:57] wilnie commented on #3865
Hi Julien,

based on Vert.x version avaiablle here https://repo.maven.apache.org/maven2/io/vertx/vertx-dependencies/
Seems that 3.9.7 works fine with Netty 4.1.60.Final

Anyway, as reported by paolodedios, 3.9.7 seems not compatible with Netty 4.1.62.Final (NullPointerException, same stack trace as paolodedios).
Do you have any plan to support Netty 4.1.62.Final ? (maybe supported with a 4.x.x ver

[2021-04-14 10:00] vietj commented on #3865
yes but later.

for now you should stick with the recommended version.

On Wed, Apr 14, 2021 at 10:57 AM wilnie ***@***.***> wrote:

[2021-04-14 13:18] tsegismont commented on #3892
It should be possible to expose the file length. `AsyncFileImpl` can get it from the underlying `AsynchronousFileChannel`.

[2021-04-14 13:21] FroMage commented on #3892
That would be very nice.

[2021-04-14 14:05] TorRanfelt opened #3895 "HttpServer.exceptionHandler lacks basic information about attempted connection"
#### Describe the feature

When an exception is thrown before a connection is established you can react to it by setting a HttpServer.exceptionHandler. Here it would be nice to be able to get the IP on the other end so it can be included in the log.

#### Use cases

Nice to have IP information about a DOS attack.

#### Contribution

It's a suggestion.

[2021-04-14 18:57] yeikel commented on #3865
Hi @vietj is 3.9.7 ready to be used? I see it Maven Central in but not in https://vertx.io/blog/category/releases/ yet

[2021-04-15 06:21] vishu184 opened #3896 "Issues with FileUpload"
### Version

Which version(s) did you encounter this bug ?
4.0.3

### Context

 i am uploading file through any library or package (RestTemplate , okHttp or any other ) i am getting different size of file than actual file size .
[code]

[code]
 whenever i tried to upload file from any of the resttemplate or any module i am getting this behavior.

com.amazonaws.SdkClientException: Data read has a d

[2021-04-15 06:56] vietj commented on #3896
please, can you move this issue to vertx-web ?

[2021-04-15 06:56] #3896 closed

[2021-04-15 06:59] vietj commented on #3895
Usually such exception is an SSL handshake error and it will not contain the IP I think. Can you exhibit a practical case that I'm not thinking of that would work ?

[2021-04-15 07:00] vietj commented on #3865
yes it is ready but not announced

On Wed, Apr 14, 2021 at 8:57 PM Yeikel ***@***.***> wrote:

[2021-04-16 10:56] synth3 opened #3897 "Cannot invoke Http1xServerRequest.metric() because "request" is null"
### Version

4.0.3

### Context

In the logs of one server instance (that hosts a vertx-web based rest api) i see the following NPE every second with some pauses in between where the exception is not logged:

[code]

As the StackTrace contains only classes from vertx and netty I don't know what to do about it or what might cause it, and as it's a NPE I think it might be interesting.

### Extra

Wi

[2021-04-18 12:24] ostrya opened #3898 "NullPointerException while handling HTTP message"
### Version

4.0.3

### Context

I encountered an exception while processing an HTTP request.

### Do you have a reproducer?

The issue can be reproduced with https://github.com/TNG/keycloak-mock/tree/test/update-spring-boot

### Steps to reproduce

1. Check out branch test/update-spring-boot
2. Run test com.tngtech.keycloakmock.examplebackend.AuthenticationTest in module example-backend
3. See a

[2021-04-19 06:43] vietj commented on #3898
this will get fixed when vertx upgrades to a more recent Netty version.

[2021-04-19 06:45] vietj commented on #3898
note this was already changed in master by https://github.com/eclipse-vertx/vert.x/commit/957e9a54def7ab378f8e54137d4c19a2d34a856f

[2021-04-19 06:45] #3898 closed

[2021-04-19 07:02] vietj commented on #3897
do you have a reproducer for this ?

[2021-04-19 10:37] wlsc commented on #3865
version 3.9.7 is in Maven central already!

[2021-04-19 11:20] liubao68 opened #3899 "upgrading from 3.9.4 to 3.9.7 got NullPointerException for test case"
### Version

upgrading from 3.9.4 to 3.9.7

### Context

A unit test case to deploy two vertical

[code]

got NullPointerException

[code]

and cause application hang in second deployment.

### Do you have a reproducer?

https://github.com/apache/servicecomb-java-chassis/blob/master/metrics/metrics-core/src/test/java/org/apache/servicecomb/metrics/core/TestVertxMetersInitializer.java

### Steps to

[2021-04-19 13:35] vietj commented on #3865
it was announced last Friday

On Mon, Apr 19, 2021 at 12:37 PM Wladimir Schmidt ***@***.***>
wrote:

[2021-04-19 15:19] TorRanfelt commented on #3895
I did not know that an IP would not be available from the underlying library in case of a SSL handshake error. - Seems strange to me since the operating system must know which IP:PORT it is communicating with.

[2021-04-19 16:10] wlsc commented on #3865
the same is now happening to version 3.9.7 of Vertx and 4.1.61 version of Netty.

[2021-04-19 16:11] synth3 commented on #3897
Thanks a lot for looking into that!

Short answer: I have no idea how. :(

The situation can only be observed on one of many similar installations of a pretty complex software and we have no clue what causes this as there is no message or StackTrace-element we could use to track down to our configuration and/or code.

Please let me know if you have any hints about how we could provide additional u

[2021-04-20 09:26] vietj commented on #3895
actually I said a mistake, sorry :-)

[2021-04-20 09:27] vietj commented on #3895
what I said is that the error rerpoted by netty will not contain the IP and we would need specific integration for this to transform the ssl handshake error and try to get the IP from the same channel.

[2021-04-20 09:28] vietj commented on #3865
this is due to changes in netty

On Mon, Apr 19, 2021 at 6:11 PM Wladimir Schmidt
***@***.***> wrote:

[2021-04-21 13:49] bolbat commented on #3899
Hello

Today i was tried to update:
- Vertx from 3.9.5 to 3.9.7
- Netty from 4.1.58.Final to 4.1.63.Final

And got this:
`java.lang.NullPointerException: cause
        at io.netty.util.internal.ObjectUtil.checkNotNull(ObjectUtil.java:33)
        at io.netty.channel.AbstractChannelHandlerContext.invokeExceptionCaught(AbstractChannelHandlerContext.java:278)
        at io.netty.channel.DefaultChannel

[2021-04-22 07:53] vietj commented on #3899
this issue was fixed in master (breaking change in Netty) was fixed in 3.9 and master and will be part of the next release.

[2021-04-22 07:55] vietj commented on #3899
@bolbat can you try with latest 3.9 branch and with Netty 4.1.63.Final ?

[2021-04-22 07:59] bolbat commented on #3899
It's not simple, needed maven artifacts to build and deploy our platform.
Can i get published snapshots for next release (3.9.8) for all Vertx jar's from some maven repository?

[2021-04-22 10:20] d53dave commented on #3858
Hi, I just ran into the same problem (both Oracle 12 and Oracle 19).

I was quite confused why this is happening, but I think it boils down to this:
If I try to execute a `preparedStatement` that doesn't have any bind variables, such as

[code]

then the above error is thrown.
it works fine for me if I have bind vars, i.e. inserts, deletes

[2021-04-22 12:49] stuartwdouglas opened #3900 "Vert.x IO threads ending up with null TCCL"
### Version

4.0.3

### Context
We noticed an odd ClassLoading failure when running the MP Rest Client TCK against Resteasy Reactive, on investigation it turned out that the TCCL of the Vert.x thread was null.

### Do you have a reproducer?

If you checkout Quarkus you can uncomment microprofile-rest-client-reactive in tcks/pom.xml and run e.g.

`mvn clean install -Ptcks -pl tcks,tcks/microprofile

[2021-04-23 04:48] vietj commented on #3899
you can get them from Sonatype's OSS snapshot repository.

On Thu, Apr 22, 2021 at 9:59 AM Alexandr Bolbat ***@***.***>
wrote:

[2021-04-23 04:49] vietj commented on #3858
can you reopen this issue in https://github.com/vert-x3/vertx-jdbc-client ?

[2021-04-23 04:49] #3858 closed

[2021-04-23 04:53] vietj commented on #3900
do you mean that endDispatch should be modified like

[code]

[2021-04-23 05:00] stuartwdouglas commented on #3900
That would help I guess. I think the real issue though is that in AbstractContext#beginDispatch() if prev is null then the current TCCL is basically thrown away, ideally there would be some way to restore it.